[2022-04-21 09:54] felixdittrich92 commented on #895
Hi @zas97 :wave: ,

thank you for bringing this to the table.
This is already a known issue (#330).
If you want to address the issue, please feel free to open a pull request. ping @charlesmindee  at this point

[2022-04-22 07:34] charlesmindee commented on #894
Thank you @felixdittrich92 !

[2022-04-22 07:34] #894 closed

[2022-04-22 07:45] charlesmindee commented on #895
Hi @zas97,
This is indeed a good idea!
This only reserve is that it could considerably slow down the end-to-end model, because we would have to compute intersections between nearest neighbors of each box or at least between successive boxes, and after that editing the overlapping boxes.
Do you have an idea to implement it in a light way ? Anyway we could put it as an option in the predictor, to be

[2022-04-22 11:20] akarshsoman commented on #639
@fg-mindee  i tried it with a cropped image but the result is null
i used craft for text detection
![img1](https://user-images.githubusercontent.com/25591311/164704770-1d451006-3236-4048-a983-fcbc67f5b9eb.jpg)
.

[2022-04-26 17:16] EMRAN-SALEH-CORSEARCH opened #898 "Can not make prediction using any model other than db and crnn models"
### Bug description

I have tested the prediction of the system using the pytorch version. The system Can not make prediction using any model other than db  and crnn model. It gives this message:
"WARNING:root:Invalid model URL, using default initialization."

Looks like there is an error with the links to download the pretrained models for all the other detection and recognition models.

### Code

[2022-04-26 18:30] felixdittrich92 commented on #898
Hi @EMRAN-SALEH-CORSEARCH 👋 ,
that's true linknet / sar and master does currently not have pretrained versions and sar + master needs some fixes but it's on track for 0.6.0 :)

[2022-04-27 01:43] spielhoelle commented on #847
Same problem here: `Failed to load API definition.`

[2022-04-27 04:49] dingli06 opened #899 "there is a erroe on windows"
### Bug description

my os is windows
when  I use it to predict
it happens:
OSError: no library called "cairo-2" was found
no library called "cairo" was found
cannot load library 'C:\Program Files (x86)\Graphviz2.38\bin\libcairo-2.dll': error 0xc1
cannot load library 'libcairo.so.2': error 0x7e
cannot load library 'libcairo.2.dylib': error 0x7e
cannot load library 'libcairo-2.dll': error 0xc1

###

[2022-04-27 05:07] kiko0217 opened #900 "ERROR:uvicorn.error:Exception in ASGI application"
### Bug description

when run docker-compose up -d build in the docker logs get ERROR:uvicorn.error:Exception in ASGI application when open localhost:8002/redoc. i use windows.

![image](https://user-images.githubusercontent.com/69133007/165443274-0fe51cdf-efdb-487f-8045-5151a344f354.png)

### Code snippet to reproduce the bug

localhost:8002/redoc

### Error traceback

ERROR:    Exception in ASGI

[2022-04-27 05:52] felixdittrich92 commented on #899
Hi @dingli06 👋 ,
There is currently a closed issue about this can you please try if it help #701 ? :)

[2022-04-27 07:10] dingli06 commented on #899
thanks, I have solve it

[2022-04-27 08:19] felixdittrich92 commented on #899
@dingli06 👍
@charlesmindee please close :)

[2022-04-27 15:45] charlesmindee commented on #899
Thanks @felixdittrich92

[2022-04-27 15:45] #899 closed

[2022-04-28 05:59] Ankush2k commented on #847
Hi @fg-mindee,

I believe there is some issue in internal function call, because of that we are facing this issue.
For Doctr as an API on Docker, I have implemented a sample of my own.
reference,
https://github.com/Ankush2k/docTR-API-example.

But if this can be implemented in original Doctr repo with proper standards that will be helpful to all.

Thanks.

[2022-04-28 08:05] charlesmindee commented on #900
Hi @kiko0217, thanks for the report. Can you give the exact code snippet to reproduce the bug (all the commands you executed which led to the screenshot you attached) ? Thanks!

[2022-04-28 08:07] charlesmindee commented on #884
Hi @dvivarelli, any updates ?

[2022-04-28 08:41] charlesmindee commented on #847
Hi everyone, thanks for reporting that, I am able to reproduce the bug. I managed to get the docs with the "solution" of @fxfabre, we need to investigate that. Any idea @frgfm ?

[2022-04-28 08:43] charlesmindee commented on #898
closing this since it is a replicate of #576, thanks!

[2022-04-28 08:43] #898 closed

[2022-04-28 08:57] charlesmindee commented on #513
Hi @felixdittrich92, do you still plan to implement this ? If not, we may close this issue to avoid a huge stack of unaddressed  ones!

[2022-04-28 11:18] felixdittrich92 commented on #513
Huhu @charlesmindee :wave: ,
yes of course (maybe a bit lighter version with mobilevit) but i think ftm there are other thinks like a fix for master and sar are more important so i would say lets hold this on 1.0.0 wdyt ? :+1:

[2022-04-28 21:06] felixdittrich92 commented on #426
@charlesmindee @frgfm think we can close this 👍

[2022-04-28 21:07] felixdittrich92 commented on #443
@charlesmindee ?

[2022-04-28 21:11] felixdittrich92 commented on #554
@charlesmindee @frgfm any update if we will keep it for 0.6.0 ? :)

[2022-04-28 21:15] felixdittrich92 commented on #563
@frgfm I think the huggingface integration (sharing models) is enough and it is maybe better to improve the word generator instead of this issue/idea wdyt ?

[2022-04-28 21:27] felixdittrich92 commented on #854
@charlesmindee @Bhanu068 can be closed ? :)

[2022-04-28 21:28] felixdittrich92 commented on #872
@bennetrr any update ? :)

[2022-04-28 21:29] felixdittrich92 commented on #886
@Xargonus any update ? :)

[2022-04-28 22:21] #854 closed

[2022-04-29 06:58] bennetrr commented on #872
So, doctr is able to export the pdf into a not PDF/A file?

[2022-04-29 09:46] charlesmindee commented on #513
ok

[2022-04-29 09:48] charlesmindee commented on #443
Yes sorry we can close that!

[2022-04-29 09:48] #443 closed, assigned to fg-mindee

[2022-04-29 17:10] kiko0217 commented on #900
I'm just run:

and then run to look logs:

then in my browser open http://localhost:8002/redoc

[2022-04-29 17:48] fharper opened #907 "Add information on PR labelling process"
### 🚀 The feature

Add information in the contribution documentation about PR labelling process

### Motivation, pitch

I can't add the labels myself to the PR as I'm not quite sure what to put when, and what is happening depending on the requirement.

### Alternatives

I need to ask @charlesmindee to do it for me all the time 😅

### Additional context

_No response_

[2022-05-02 21:42] frytoli commented on #789
I'm relatively green when it comes to ML engineering, but I've been attempting to look at exporting the DBNet models to ONNX. I think we're relatively close already and just need to convert inputs/outputs to a data structure compatible with ONNX (specifically not numpy.ndarray). Here's some sample code and the resulting error. I'm slowly working on solving this on my end, but I wanted to post it h

[2022-05-03 06:26] felixdittrich92 commented on #789
Hi @frytoli :wave:,

thanks for working on this :hugs:

To clearify where the problem is:
If you run the following with `verbose=True` you get a more detailed output:

[code]

problem: `preds[0] for preds in self.postprocessor(prob_map.detach().cpu().permute((0, 2, 3, 1)).numpy())`

Currently the models forward pass includes the postprocessing call.
What in my opinion is not optimal to avoid somet

[2022-05-03 08:27] charlesmindee commented on #789
Hi @felixdittrich92 and @frytoli,
Thanks for bringing this on the table, to avoid breaking the wore pipeline as Felix mentioned it, we may want to create a flag ("exportable" or "raw" or something like that) that could be passed in the model initialization: `db_resnet50(pretrained=True, exportable=True)`, and this would  return in the call of the model the raw output without the postprocessing, or

[2022-05-03 08:40] felixdittrich92 commented on #789
@charlesmindee  @frytoli  Sounds good to me, but we have to take care of increasing complexity and the differences between TF and PT implementations. So i would suggest maybe to try it with on model but on both implementations so that we can provide an equivalent implementation which solves the ONNX export problem on PT and the SavedModel export on TF side. Wdyt ?

[2022-05-03 14:08] felixdittrich92 commented on #802
@frgfm @charlesmindee After some debugging i have MASTER fixed (with some look on https://github.com/wenwenyu/MASTER-pytorch) so i will cleanup a bit and open a PR that we can have a look at improvements :+1:

[2022-05-04 15:49] spielhoelle commented on #900
Same problem here. Followed the docker section of the readme to use it as an standalone api endpoint, but opening the http://localhost:8002/redoc page results in the above mentioned error
<img width="1385" alt="Screenshot 2022-05-04 at 22 39 56" src="https://user-images.githubusercontent.com/6317641/166718493-648b0519-adcc-41f7-a10b-dc1221043ee7.png">

[2022-05-04 19:58] felixdittrich92 commented on #789
So maybe if we can handle both with Onnx do we really need TF's SavedModel also ?

[2022-05-05 06:31] felixdittrich92 commented on #454
@charlesmindee @fg-mindee same problem if we try to export to SavedModel format (only mobilenet arch)

[2022-05-05 13:47] charlesmindee commented on #900
#847 refers to the same bug

[2022-05-07 10:22] frgfm commented on #576
Perhaps we should merge this issue with #802 ?

[2022-05-07 10:28] frgfm commented on #907
Hey there @fharper :)

So, the constraints are written over here 👉 https://github.com/mindee/doctr/blob/main/.github/verify_pr_labels.py#L17-L42

And I'll investigate why it's not working anymore, but initially, the bot was flagging PRs that were wrongly labeled:
- last PR I passed to make it work: https://github.com/mindee/doctr/pull/792
- last illustration of the bot picking up a wrongly labeled

[2022-05-07 10:32] frgfm commented on #900
Hi @kiko0217 👋

As mentioned by @charlesmindee, this very much looks like a duplicate of #847, let's move all the discussions over there 🙏

[2022-05-07 10:32] #900 closed

[2022-05-07 10:33] frgfm commented on #847
Quick update everyone!
So #906 shows that the problem is still ongoing on "main" branch and the CI will pick it. I checked changes in starlette & fastapi versions but the problem didn't come from there. I have some issues on my personal laptop with docker so the resolution is taking a bit longer than expected!

Will keep you updated 👍

[2022-05-07 10:36] felixdittrich92 commented on #576
Yes :)

[2022-05-07 12:59] frgfm commented on #554
This is more up to @charlesmindee for the integration 👍

Generally speaking:
- releases A.B.0 include new features
- releases A.B.N should be used to add fixes to features brought in A.B.0

So in this case, that should be kept for 0.6.0 yes :)

[2022-05-07 13:04] frgfm commented on #563
Fair point, but I would argue it's different topics:
- the word generator is currently generating random character strings
- it could be used to generate very specific words
- being able to generate it, and having someone train a model in dozens of languages is tricky

To close this issue, I think we should decide whether it's a feature design issue (how multiple vocab models should be accessed as

[2022-05-07 13:07] frgfm commented on #872
As mentioned in the notebook, no, docTR isn't able to do this currently.
However, docTR outputs enough information to recreate a PDF/A from it. Onboarding license & dependency constraints for something that users can easily implement isn't necessarily ideal

But we're quite open to user's feedback & suggestions :) If you have ideas to share, feel free to do so!

[2022-05-07 13:18] frgfm commented on #789
Hi all 👋

So, yes, we're very aware of the JIT incompatibility with some data structures & numpy operations. Having conditional executions in call methods could become tricky for maintenance later on

This is a big topic, hence this issue. Here is a suggestion:
- all models's "core computation" should be compatible with JIT export
- we separate the post-processing
- using ONNX export, the post-pro

[2022-05-07 17:43] felixdittrich92 commented on #789
@frgfm @charlesmindee
Hi again :wave: ,
I see two options now:

1. We make each model exportable by just going to the logits vector and do post-processing afterwards. @frgfm
2. We try to make the post-processing step JIT compatible. @charlesmindee

Keep in mind as a user i think the most than want also to use this exported models inside docTR.
So maybe a bit offtopic and not directly matching with

[2022-05-09 06:40] felixdittrich92 commented on #802
- [ ] fix MASTER implementation (PyTorch and Tensorflow)

- [ ] fix SAR implementation (PyTorch and Tensorflow)

- [ ] add pretrained checkpoints for both models in both frameworks

[2022-05-09 06:40] felixdittrich92 commented on #802
- [ ] fix MASTER implementation (PyTorch and Tensorflow)

- [ ] fix SAR implementation (PyTorch and Tensorflow)

- [ ] add pretrained checkpoints for both models in both frameworks

[2022-05-09 06:41] felixdittrich92 commented on #576
closed with merge in #802

[2022-05-09 06:41] #576 closed

[2022-05-09 06:55] felixdittrich92 commented on #563
@frgfm
I think the point would be to provide some data (with the word generator - make it more robust and useful) that users are able to train on different vocabs and provide there models about the HF hub (so we could do anything like a pinned community call to grab a model provide some information what and how to do and in the end at the models to the list which was added with #896 - if we are st

[2022-05-10 06:54] skywalkerzhang opened #912 "Loaded cuDNN version 8400"
### Bug description

I try to run the demo with python3.9, cuda 11.3, torch 1.10.0+cu113, cudnn version 82003

How can I solve this problem? Thank you in advance.

### Code snippet to reproduce the bug

[code]

### Error traceback
[code]

### Environment

python3.9, cuda 11.3, torch 1.10.0+cu113, cudnn version 82003

### Deep Learning backend

both True

[2022-05-10 14:16] skywalkerzhang commented on #912
DocTR version: 0.5.1
TensorFlow version: 2.8.0
PyTorch version: 1.10.0+cu113 (torchvision 0.11.1+cu113)
OpenCV version: 4.5.4
OS: Microsoft Windows 10 רҵ▒▒
Python version: 3.9.7
Is CUDA available (TensorFlow): Yes
Is CUDA available (PyTorch): Yes
CUDA runtime version: 11.6.124
GPU models and configuration: Could not collect
Nvidia driver version: Could not collect
cuDNN version: C:\Program Files\N

[2022-05-11 06:29] felixdittrich92 commented on #912
Could you please check your Nvidia driver version ? https://nvidia.custhelp.com/app/answers/detail/a_id/2039/~/how-do-i-determine-which-nvidia-display-driver-version-is-currently-installed

And test if it's work with setting the environment variable `USE_TORCH=1`   ?
Otherwise i think it is a problem with the combination (Windows, python 3.9 and especially weasyprint) @frgfm

It is a bit hard for

[2022-05-11 08:30] kiko0217 opened #915 "[W NNPACK.cpp:51] Could not initialize NNPACK! Reason: Unsupported hardware."
### Bug description

In linux i got notify [W NNPACK.cpp:51] Could not initialize NNPACK! Reason: Unsupported hardware. how to solve this notify?
I use pytorch.

### Code snippet to reproduce the bug

[code]

[code]

### Error traceback

[code]

### Environment

[code]

### Deep Learning backend

[code]

[2022-05-12 12:15] felixdittrich92 commented on #915
Hi @kiko0217 :wave:,
this is definitely not a problem created by docTR :sweat_smile:
But you can take a look at this discussion:
https://discuss.pytorch.org/t/bug-w-nnpack-cpp-80-could-not-initialize-nnpack-reason-unsupported-hardware/107518/19

[2022-05-13 14:29] skywalkerzhang commented on #912
Thanks for your suggestion @felixdittrich92 . I tested with `USE_TORCH=1` and it downloads pt files successfully. After that, another error comes up `Fontconfig error: Cannot load default config file`.
Full outputs:
[code]

I don't know if is caused by weasyprint. I found this documentation [WeasyPrint DOC](https://doc.courtbouillon.org/weasyprint/latest/first_steps.html#windows) and it says only

[2022-05-16 22:20] frgfm commented on #789
My bad, I should clarify my previous thought:
- if we can make all the steps JIT compatible, yes sure, we should do it. In my previous attempts, I remember that this would require diving into obscure cv2 functions (which aren't compatible as is)
- if it's not possible or quite hard, I suggest preserving a post-processing after the ONNX part

About the training & alignment with TF, this is a seriou

[2022-05-16 22:23] frgfm commented on #563
I agree :)

But we could easily provide some HF Hub contribution guidelines for language (i.e. how you should name your model so that people can use it). "mindee/crnn_vgg16_bn_french" could easily be on the hub for instance

[2022-05-16 22:44] frgfm commented on #915
Hello @kiko0217 👋

As stated by Felix, this doesn't come from docTR. I suggest trying to [reinstall PyTorch](https://pytorch.org/get-started/locally/) and making sure you can import it in a python shell 👍

[2022-05-16 22:55] frgfm commented on #912
Hi all 👋

The last problem mentioned here is indeed linked to weasyprint, but the issue is reporting a problem about TensorFlow failing at loading cuDNN. So about this current issue, I'd suggest to simply reproduce this with TensorFlow and potentially reinstall this :)

Your error shows that the problem comes from much deeper than docTR, the framework is trying to load GPU-related hardware acceler

[2022-05-17 04:10] #915 closed

[2022-05-17 17:51] fharper commented on #907
Actually, I think just adding a description to the labels missing ones would be more than enough. WDYT?

[2022-05-18 14:58] #872 closed

[2022-05-20 07:42] felixdittrich92 opened #924 "[references][tf/pt] Add early stopping callback"
### 🚀 The feature

Add EarlyStopping callback in references for both frameworks

### Motivation, pitch

To make it easier for users to choose some hyperparameters i would suggest that we add a EarlyStopping callback this would be also useful if you train your model remote (for example AWS)

### Alternatives

_No response_

### Additional context

_No response_

[2022-05-20 07:43] felixdittrich92 commented on #912
@skywalkerzhang any update or can we close this ? :)

[2022-05-20 16:57] #563 closed

[2022-05-20 22:43] felixdittrich92 commented on #113
@frgfm

[2022-05-22 20:36] frgfm commented on #907
It depends what you mean, but there are different levels of information here:
- what each label means (I added some descriptions already)
- which minimum number & category of label should be put on a PR for the release note to be generated smoothly & correctly

For the first part, description would be enough but the second, I would argue it wouldn't 🤷 How do you see the description you mentioned?

[2022-05-22 20:52] frgfm commented on #113
@mara004 what do you mean by "any reason you can't use pip?"

pip installation is already available 👍
but conda builds are more specific to a given environment, so it's good if we can offer that mean of installation as well. For the conda recipe, I don't know about options to use pip (I don't have experience with conda recipe building the C or C++ extensions of a python library though)

[2022-05-22 21:41] mara004 commented on #113
I'm not familiar with the conda environment, so perhaps that was a silly question to ask.
I basically meant: For what reason do we need an extra package on conda if the PyPI release can be used instead?
As @kchawla-pi wrote:

I'd be curious to know in what way exactly conda builds are more specific?

[2022-05-22 22:42] kchawla-pi commented on #113
Well, pip does not do sophisticated dependency resolution, unlike Conda. It's the same reason pipenv and poetry are used for package installations, but unlike Conda, they use PyPI's index. Each of these has their own algorithm for dependency resolution, with Pipenv being rather slow.

Conda is the defacto tool for data scientists in the Python ecosystem. Seamlessly using Mindee using Conda will so

[2022-05-23 09:43] mara004 commented on #113
Okay, thanks for pointing this out!
From a developer's perspective, conda still seems kind of a reinvented wheel and duplicated packaging work to me, but if there are people who like it and use it I'm definitely open to add support if someone can help me with the implementation.

[2022-05-23 11:49] felixdittrich92 opened #927 "Fix encode_string function"
### Bug description

Currently there is no check if the single characters are also available in the given vocabulary.
We need a check for this :)

TODO's:

- [ ] check that in the function and throw a meaningful exception
- [ ] improve the corresponding test

discussion:
#926

### Code snippet to reproduce the bug

[code]

### Error traceback

[code]

### Environment

not need :)

### Deep Learnin

[2022-05-23 15:25] #912 closed

[2022-05-24 10:40] felixdittrich92 commented on #802
short update:
I have some internal work to do first, once I'm done with that I'll move on to the MASTER implementation :)
Maybe we could collaborate on this @frgfm ?

[2022-05-24 18:43] felixdittrich92 commented on #863
@SiddhantBahuguna any update ? :)

[2022-05-24 19:14] felixdittrich92 commented on #819
#925 will fix this for SAR :)

[2022-05-25 18:55] frgfm commented on #113
I can definitely second @kchawla-pi on that: I always try to find a conda installation before using pip, because it's much more careful about your existing env compatibility 👍

[2022-05-25 19:02] frgfm commented on #927
Thanks for the issue 🙏
I'd argue it's a documentation/error message clarity issue rather than a bug (meaning that we don't want the code to stop failing in this snippet)

[2022-05-25 19:20] frgfm commented on #802
Happy to do so, but I'm still waiting on my new setup (in the meantime, I have limited capacity for GPU-intensive tasks and docker) 😅

[2022-05-25 19:24] mara004 commented on #113
I tried to craft a package with `conda-build` recently but unfortunately it didn't go very well at all. I managed to build a package for my host platform (Linux x86_64) but it took unendurably long for conda-build to set up the environment and assemble the package. The place where the artifacts are put isn't straightforward either. Unless there are ways to radically speed up the process of running

[2022-05-25 19:24] frgfm commented on #819
@felixdittrich92 are you positive? because that's a frequent warning for TF when all the layers are not built exactly as it expects it before loading a checkpoint 😅

[2022-05-25 19:27] frgfm commented on #509
@VpkPrasanna well, the post-process is specific to the type of fields that you want
So considering there is a large amount of options, it's hard to know! So we welcome external contributions on that part :)

[2022-05-25 20:43] felixdittrich92 commented on #802
@frgfm yes no stress :)

[2022-05-25 20:49] #927 closed

[2022-05-25 20:53] felixdittrich92 commented on #819
@frgfm it will fix the inconsistent results not the warnings :sweat_smile: i have tested my PR several times and was not able to see any inconsitent results

[2022-05-25 22:10] frgfm commented on #113
In my experience conda build is always a long operation. Base conda is known to have a slow dep resolution procedure, so I personally use mamba (https://github.com/mamba-org/mamba) which is blazing fast for dep installation (multi-thread, rewritten in C++). I have to check if that extends to package building as well

[2022-05-26 11:55] mara004 commented on #113
I think the main problem is that, when running conda-build, it creates an isolated environment where all dependencies are installed. Now, if we want to craft more than one package, it would be essential that the environment can be reused so that dependencies don't need to be installed each time. Is there any option to do this?

[2022-05-26 17:34] MartinThoma commented on #23
Just a short heads-up (I see that this issue got closed a while ago; people might still find it via Google):

* PyPDF2 is maintained again since April 2022. I'm the new maintainer and there are at least two other people who are pretty active. We are currently preparing PyPDF2 2.0.0 and will work on text extraction improvements afterwards.
* I've set up a text extraction benchmark that might be int

[2022-05-27 19:01] kiko0217 opened #932 "conflicting dependencies"
### Bug description

I get error conflicting dependencies when installing doctr version tf-cpu with editable flag.

### Code snippet to reproduce the bug

[code]

### Error traceback

[code]

### Environment

-

### Deep Learning backend

-

[2022-05-27 19:11] frgfm commented on #932
Hello @kiko0217 👋

Thanks for the heads up! So this constraint was introduced in #579 because of a problem on the TF/Keras side at the time! Let us check if we can loosen this 👍

[2022-05-30 10:10] frgfm commented on #23
Hi @MartinThoma 👋

Thanks for letting us know!
Could you specify which license will be used for the upcoming refactor?

For the sake of documentation, in #486, we considered another recent option: [pypdfium](https://github.com/pypdfium2-team/pypdfium2). We should do a full benchmark for performances but the license is compatible with all OSS projects and the support is great so far :)

[2022-05-30 14:15] MartinThoma commented on #23
PyPDF2 stays with BSD (3-Clause).

Nice, I didn't know pypdfium. If you let me know how it extracts text from a PDF, I'll add it to the benchmark :-)

[2022-05-31 07:52] felixdittrich92 opened #935 "[datasets] Filter currupted and wrong annotated files in ready to use datasets"
### Bug description

While testing #933 i have seen some errors (empty crops / non utf-8 strings / and so on)
We need to filter some invalid files/annotations

- [x]  ensure all ready to use datasets works fine with eval_detection eval_recognition scripts (TF and PT)
- [ ]  unify recognition part with recognition dataset / word generator to return string directly instead of {labels: ['string']} #9

[2022-05-31 09:52] frgfm commented on #23
Thanks to the amazing @mara004, you can find it [here](https://github.com/mindee/doctr/pull/829#issuecomment-1133983339) :)

[2022-05-31 10:28] mara004 commented on #23
Thanks for the compliment ;). FYI, I'm currently working on a full-scale [API rewrite](https://github.com/pypdfium2-team/pypdfium2/pull/111) to fix some annoyances, so probably it would make sense to await this being merged before you implement something new with pypdfium2.
That said, while testing, I found out pypdfium2 is currently unable to extract text in special writing systems like hindi. I'

[2022-05-31 14:18] felixdittrich92 commented on #789
short update:
both SAR implementations are exportable with ONNX :100:   (only a small flaw for TF we have to provide a constant batch size. Why ? If we pass the dummys batch size as None than it is not possible to compute the initial LSTMCell states)

left:
classification: MAGC (only TF)
recognition: MASTER (TF and PT)

[2022-05-31 17:56] mara004 commented on #23
Thanks for the benchmark! I'm happy that someone is looking into the text extraction feature more thoroughly, because I don't personally use it in my projects yet. For the problems you mentioned, can you please point me at the files in question? Perhaps we can ask upstream about it.

[2022-05-31 19:42] mara004 commented on #23
I was able to fix the issue by adding `errors="ignore"` to the `decode()` call and will push a commit to the `rewrite` branch.

[2022-05-31 21:06] MartinThoma commented on #23
About that part: I actually like the behavior of PDFium better than Tika. It's about hyperlinks in the document. Tika adds them to the bottom of the extract, PDFium skips them. I think they should be skipped. I'm adjusting the ground truth.

[2022-05-31 22:09] frgfm commented on #454
So the upstream problem about grouped conv on CPU is now resolved for TF 2.9 👍
We're gonna have to look at updating our version specifiers

[2022-06-01 07:34] SamSamhuns commented on #847
It seems to work for me once I update the fastapi version to `fastapi>=0.78.0` from `fastapi>=0.65.2` in `doctr/api/requirements.txt`

[2022-06-01 08:31] mara004 commented on #23
FYI, I just made a bugfix release containing the `errors="ignore"` change, so you may re-run the benchmark if you like.

[2022-06-01 09:37] frgfm commented on #847
I just managed to get my hands on a new setup so that I can run docker again easily, I'll check all of this by the end of next week! Thanks for reporting the fix @SamSamhuns  :)

[2022-06-01 10:48] MartinThoma commented on #23
Very nice! Well done!

[The latest benchmark results](https://github.com/py-pdf/benchmarks) show that PDFium is now a little bit better than PyMuPDF in extracting texts from English/German documents. It is still behind Tika, but not by much.

PyPDF2 has also improved, but still is noticably behind Tika/PyMuPDF/PDFium. We will get closer again with the 2.1.0 release (expected end of June) :-)

[2022-06-01 10:52] MartinThoma commented on #23
I'm sorry for the doctr folks that we hijacked this issue :sweat_smile:

I was actually thinking if a meta-package would be useful. Similar as matplotlib allows you to choose different backends, you could do something similar for processing PDF documents. PyPDF2 could be a reasonable fallback if using Java / C++ or some of the licenses is not acceptable, but if it is acceptable, you could use a fa

[2022-06-01 11:49] frgfm commented on #23
Oh please don't @MartinThoma :)
I have to say: I'm thrilled to see that within 48 hours, we got a new benchmark, people discovering a viable option for PDF parsing and having you two in touch 😁

That's exactly the reason why we document this type of comparison on issues like this one!
About licensing, that was one of the reason we checked pypdfium, it's compatible with Apache licenses :)

[2022-06-01 16:12] mara004 commented on #23
Under the hood it's C++17 indeed. The public headers, however, are C only (luckily, otherwise it wouldn't be possible to use `ctypes` for the bindings).
Concerning licenses, PDFium itself is BSD-3-Clause or Apache 2.0, at the embedder's choice. For its dependencies, a variety of non-copyleft licenses apply, which should be listed [here](https://github.com/pypdfium2-team/pypdfium2/blob/main/LICENSE

[2022-06-03 16:29] MartinThoma commented on #23
@mara004 Congratulations! PDFium now is on first place! https://github.com/py-pdf/benchmarks - I've decided that text extraction should NOT add the target of a link - only the text of the link. That changed the order a bit (but I need to check if Tika has ways to customize its extraction format). Either way, PDFium does a great job

[2022-06-09 20:29] felixdittrich92 commented on #789
update: with #941 PyTorch is done :heart:
All models can be exported only MAGC and MASTER on TF left

One ref: https://github.com/microsoft/onnxruntime/issues/10994 MASTER (PT) model is exportable but doesn't work with onnxruntime currently until this ticket is closed

[2022-06-11 19:35] altomator opened #947 "[bug] doctr 0.5.1 | pypdfium2 --> AttributeError: module 'pypdfium2' has no attribute 'render_pdf_topil'"
### Bug description

I just installed doctr on OSX (TensofFlow), and I got an issue with pypdfium2 when reading a PDF file.

### Code snippet to reproduce the bug

[code]

### Error traceback

[code]

### Environment

DocTR version: 0.5.1
TensorFlow version: 2.9.1
PyTorch version: N/A (torchvision N/A)
OpenCV version: 4.6.0
OS: Mac OSX 10.14.6
Python version: 3.9.13
Is CUDA available (TensorFlow):

[2022-06-12 08:29] felixdittrich92 commented on #947
Hi @altomator,
could you please downgrade pypdfium2 to version 1.0.0 and test it again ? With the next release we support v2.0.0 :)

[2022-06-15 10:17] mattdeeperinsights opened #951 "HuggingFace Spaces Demo not working"
### Bug description

Great work with the library!

I went onto [your demo page on Huggingface](https://huggingface.co/spaces/mindee/doctr) but cannot run the demo on any document.

### Code snippet to reproduce the bug

Upload a document here https://huggingface.co/spaces/mindee/doctr

### Error traceback

[code]

### Environment

Firefox MacOS

### Deep Learning backend

N/A

[2022-06-16 08:11] felixdittrich92 commented on #855
closed with #933

[2022-06-16 08:11] #855 closed

[2022-06-16 16:56] mara004 commented on #947
Concerning the issue reported by @altomator, the traceback tells this is pypdfium2 version 2 used as if it were version 1, so this should be fixed with the next release of doctr.
I indeed added the context manager API, so `PdfDocument` can now be used in a `with` block. However, I guess the change is so simple that a member of doctr team could probably commit it directly. You might also want to co

[2022-06-17 06:08] felixdittrich92 commented on #947
**solution: for the current pip version v0.5.1 you need to downgrade pypdfium2 to version 1.0.0 `pip3 install pypdfium2==1.0.0` this will be fixed with the next release**

[2022-06-17 18:47] mara004 commented on #947
I guess you meant "for the current **doctr** version" ;) ?

[2022-06-17 18:58] felixdittrich92 commented on #947
Updated :)

[2022-06-20 09:07] felixdittrich92 opened #957 "[Build] Update project build config and setup depend-a-bot"
### 🚀 The feature

We should update the current build configuration to a more modern one:

- instead of requirements files and a large setup.py use pyproject.toml instead
- for some reasons i would suggest to setup depend-a-bot to tackle some dependency issues and keep it actual

@frgfm i would assign this one to you :)
Is that ok for you ?

### Motivation, pitch

better dependencies handling
redu

[2022-06-23 14:48] frgfm commented on #23
It is actually, lesser known I guess because it's a bit outside of the MIT/Apache/GPL trio, but they are compatible :)
But you are both correct in the sense that, if one of those libraries wrongly select the license (a dependency that has a non-compatible license), it can become a mess :/

Glad to read about the good perf on your benchmark :)

[2022-06-23 16:21] frgfm commented on #951
Hello @mattdeeperinsights :wave:

Thanks for pointing it out!
I managed to reproduce this a minute ago on HF Spaces, but locally, I don't have any problem. I'll investigate with HF team to solve this shortly :+1:

[2022-06-23 16:35] frgfm commented on #951
For reference, cf. https://discuss.huggingface.co/t/cache-management-in-spaces/19533

[2022-06-23 16:46] frgfm commented on #947
We'll schedule a minor patch release to fix this shortly as I believe it could impact a lot of new users who install pypdfium2 for the first time :+1:

[2022-06-23 16:51] frgfm commented on #957
Yes, sounds good! Thanks for opening this tracker :)
I'll deal with this shortly!

[2022-06-24 19:33] felixdittrich92 commented on #951
Fixed on HF side

[2022-06-24 19:33] #951 closed

[2022-06-25 13:12] dvivarelli opened #962 "Unable to open file while resuming detection training"
### Bug description

If i set --resume in the training script

`python references/detection/train_tensorflow.py /content/drive/MyDrive/training_data/detection/train /content/drive/MyDrive/training_data/detection/test linknet_resnet18_rotation  --resume /content/drive/MyDrive/doctr/test-5/checkpoint --batch_size 12 --epochs 300 --rotation --find-lr --wb --name test-5
`

I receive the following erro

[2022-06-25 13:53] felixdittrich92 commented on #962
Hi @dvivarelli , you need to pass the path to weights in TF so add /weights to your resume path :)

[2022-06-25 13:58] dvivarelli commented on #962
it's working
Thanks for your help

[2022-06-25 13:58] #962 closed

[2022-06-28 10:10] frgfm commented on #957
I will proceed in several parts:
- [ ] moves existing configs to pyproject.toml for tools (not build) #966
- [ ] add black formatting
- [ ] moves requirements to pyproject.toml and make version specifier stricter
- [ ] set up the bot

[2022-06-28 15:10] frgfm opened #967 "Release tracker - v0.5.2"
This issue is to be used to track the roadmap of docTR for release v0.5.2, and collect feedback from users & contributors.

For the v0.5.1 roadmap, please see #788

- Datasets
    - [x] #927
    - [x] #956

- Models
    - [x] #902
    - [x] #960
    - [x] #964

- IO
    - [x] #947
    - [x] #953

- API
    - [x] #847 (#997)

- Documentation
    - [x] #901
    - [x] #937
    - [x] #958

- Demo

[2022-06-28 15:11] #454 closed

[2022-06-28 15:46] frgfm commented on #714
ping @matthiasmindee :)
Mind checking that again please? :pray:

[2022-06-28 15:47] frgfm commented on #815
Checking in: @nithinreddyy did you manage to solve your problem? :)

[2022-06-28 15:52] frgfm commented on #886
Hello @Xargonus :wave:

As suggested by Felix, the word generator of docTR can take in any character set. So if your interest is in visual recognition and not semantic understanding, I guess this is doable using these tools!

What do you think? If I misunderstood, feel free to elaborate your request :)

[2022-06-28 16:10] frgfm commented on #907
I just added a description on each PR/issue label :+1:
Feel free to reopen if I missed something!

[2022-06-28 16:10] #907 closed

[2022-06-28 16:11] frgfm commented on #932
Closed by #963

[2022-06-28 16:11] #932 closed

[2022-06-28 20:08] felixdittrich92 commented on #895
@frgfm correct me if it's wrong but i think the issue is more related to postprocessing especially dilation on the seg mask which results in "bigger" boxes and is the factor for overlap

[2022-06-28 20:59] frgfm commented on #791
Which ones @felixdittrich92 ? I had left out some on purpose when we are "awaiting response" from the issue author

For the rest, I linked the issue rather than the PR (when the PR points to the issue) to avoid floading

[2022-06-28 21:05] felixdittrich92 commented on #791
@frgfm cannot add this currently (on mobile phone) but there was all HF hub integration PRs missing in 0.6 milestone and same for recognition dataset support

[2022-06-29 07:18] felixdittrich92 commented on #791
@frgfm updated should be complete now :)

[2022-06-30 13:16] frgfm commented on #802
Yes, adding new checkpoints will be for 0.6.0 !
But fixing the implementation (being able to correctly train and performance inference with them in both framework) is the topic of this issue :+1:

[2022-06-30 13:35] felixdittrich92 opened #969 "[models] Complete the list of pretrained available models in TensorFlow and PyTorch"
### 🚀 The feature

Ensure that each model has a pretrained available checkpoint

**TensorFlow:**

classification:

- [x] ViT
- [x] MAGC
- [x] MobileNetV3

detection:

- [x] DB_MobileNetV3
- [X] LinkNet (all)

recognition:

- [x] SAR
- [x] MASTER
- [x] VitSTR (small)
- [x] VitSTR (base)
- [x] PARSeq
- [x] CRNN (mobilenet_v3_large)

**PyTorch:**

classification:

- [x] ViT
- [x] ResNet34_wide (@feli

[2022-06-30 13:36] felixdittrich92 commented on #969
@charlesmindee i think you are the only one who can do it (data)

[2022-07-01 16:07] frgfm opened #972 "[docs] Added a section about artefact detection (barcode / faces)"
Following up on #968, I just realized that there is no section for artefact detection in the documentation.
While the object detection module for this is only available in PyTorch for now, I'd argue we could document the OpenCV wrap we made a long time ago!

Here is the section to document: https://github.com/mindee/doctr/tree/main/doctr/models/artefacts

Here is what I propose:
- [ ] Added exampl

[2022-07-01 17:38] felixdittrich92 commented on #967
@frgfm Lets finalize this next week i am sure #957 (requirements) will fix the docker issue and #802 is also finished (1 merge left) :hugs:

[2022-07-01 18:10] #802 closed

[2022-07-01 21:39] felixdittrich92 commented on #957
@frgfm do you think we can also change CI to circleci ?

[2022-07-01 21:46] felixdittrich92 commented on #802
Closed by: #920 #925 #941 #949

[2022-07-02 20:17] frgfm commented on #957
I could, but why do you think it would be better?
In my opinion, considering the project is on Github, and the Github CI has a lot of useful features/actions, it's easier with that :)

[2022-07-02 21:03] felixdittrich92 commented on #957
Mh yes but i see as a big disadvantage that it is not possible to choose a job specific instance type (for example SAR and MASTER Onnx tests are not possible in both frameworks in fact that it kills the provided instance type by Github CI -> locally works) and i think this will not be the only case .. another think is that we would be much more flexible for example we could scale the CI to specifi

[2022-07-02 21:10] felixdittrich92 commented on #957
It is only a idea if you have another solution in mind would be also fine :) but we need anything to test also computation expensive workflows in our CI

[2022-07-03 05:52] gnanads opened #973 "Orientation details are not available in Json exported"
### Discussed in https://github.com/mindee/doctr/discussions/971

<div type='discussions-op-text'>

<sup>Originally posted by **gnanads** July  1, 2022</sup>
Hi Team,

When I exported the ocr_predictor results, I found orientation and Language information are missing.

Below is the code snippet:

[code]

Result json:
{'page_idx': 0, 'dimensions': (912, 617), 'orientation': {'value': None, 'confide

[2022-07-03 13:55] frgfm commented on #957
Yes I get what you mean, but the CI is already cluttered with jobs either way :sweat_smile:
I'll have to take a look and reassess what needs testing and whether we could do it more efficiently! Just FYI, we have an unusually high amount of features being tested by the CI (in a good way)

[2022-07-03 14:07] felixdittrich92 commented on #957
Yes I know it's more about the fact that we can't test more computationally intensive jobs (like Onnx for SAR/MASTER) due to Github CI's instance limitation :) Otherwise we could maybe annotate these jobs as being only tested locally (like huggingface slow tests)

[2022-07-03 14:08] felixdittrich92 commented on #957
Yes I know it's more about the fact that we can't test more computationally intensive jobs (like Onnx for SAR/MASTER) due to Github CI's instance limitation :) Otherwise we could maybe annotate these jobs as being only tested locally (like huggingface slow tests)

[2022-07-04 16:52] frgfm commented on #957
I would prefer the last option, we need to prioritize what needs testing in docTR :)

[2022-07-05 08:40] zas97 commented on #895
Hello, I'm not sure if I can help you with the implementation but in my option the easier and best solution is to crop the box that has the higher "horizontal_length / nb_chars". The reason for that is because the box that has included a char from another box has also included the space which means that it will probably hava a bigger length/nb_chars ratio.

[2022-07-05 08:42] zas97 commented on #895
It won't correct the boxes ("Hellow", "oworld") case but it will at least solve correctly the rest

[2022-07-07 07:01] felixdittrich92 opened #978 "[models] Replace current tf mobilenetv3 implementation with tf.keras.applications implementation"
### Bug description

- implementation is still troublesome on CPU (grouped convolutions)
- is not ONNX exportable (some strange error messages)
- cannot be pushed to the huggingface hub (raise with: model contains binary data - invalid model)

### Code snippet to reproduce the bug

-

### Error traceback

-

### Environment

-

### Deep Learning backend

-

[2022-07-07 07:03] felixdittrich92 commented on #790
@frgfm update to Onnx i think that's ok !? :)

[2022-07-07 09:08] zas97 commented on #895
Yes nb_chars = the predicted number of characters

Lets say that we have the words "hello world" but the ocr recognize "hello oworld".
You have two bounding boxes with same y and assuming that the width of the characters is always 1 the bounding boxes will be the following :

"hello": x1 = 0, x2 = 5
"oworld": x1 = 4, x2 = 11   (x1=4 because the bounding box starts between "hell" and "o" and includ

[2022-07-07 09:45] frgfm commented on #790
If that's the case, would you mind linking all the PRs to the issue description? :pray:

[2022-07-07 09:59] frgfm commented on #895
Nice, however perhaps making the horizontal & character length of a word a priority, means that it will be a bit random in the case of :
- "thew world" (first word is shorter, I agree there will be more space, but the localization is a prediction so it's not perfect if the "world" crop has some room in it, while "thew" is cropped before the end of the "w")

From a visual perspective, the only trus

[2022-07-07 19:23] felixdittrich92 commented on #895
@zas97 @frgfm
I have to throw a very naive approach into this topic 😅 If I am right we talk about overlaping segmentation masks .. currently there are really low threshold values (0.1-0.3) which should lead to 'bigger' boxes .. so the range to overlap is really high what if we increase this values .. normally i think it will lead to less overlap in fact that the range will decrease wdyt ?

[2022-07-09 11:08] felixdittrich92 commented on #957
Huhu @frgfm 👋 do you think we could wrap this up maybe next week? I think updating the requirements will also solve the docker problem. Then we would be ready for the release 👍 😃

[2022-07-12 08:00] felixdittrich92 commented on #789
@frgfm @charlesmindee I think this issue is only about the export i would open another issue for the loading part wdyt ? :)

[2022-07-12 08:20] felixdittrich92 opened #984 "[Onnx] Integrate an interface to easily load exported ONNX models [will be updated]"
### 🚀 The feature

We need to:

- [ ] ensure all exported models can provide the information we need (for example: which postprocessor, vocab ,etc.)
- [ ] setup build without TF and PT -> Onnxruntime should be enough
- [ ] build an equivalent to the current `ocr_predictor`
- [ ] make the predictor configurable about CPU / GPU (runtime configs)
- [ ] add ability to export models in detection/recogn

[2022-07-13 23:12] frgfm commented on #957
@felixdittrich92 sure :)

[2022-07-16 09:59] SlappyAUS opened #988 "Need the ability to blacklisting/whitelisting of characters"
### Discussed in https://github.com/mindee/doctr/discussions/888

<div type='discussions-op-text'>

<sup>Originally posted by **Xargonus** April  7, 2022</sup>
Hello, is there currently a way to blacklist or whitelist characters used by the text recognition model?</div>

[2022-07-18 15:34] synbrAInMircoPiccoli opened #989 "Train orientation classifier on colab"
### Bug description

I have cloned doctr repo, and installed requirements using:

`!git clone https://github.com/mindee/doctr.git
%cd /content/doctr/
!pip install -e . --upgrade
!pip install -r references/requirements.txt
`
and restarted the runtime at the end of installation;
but when i start the training i got the following error:

[code]
### Code snippet to reproduce the bug

---

### Error tra

[2022-07-18 15:35] #989 closed, assigned to frgfm

[2022-07-19 05:45] dishant26 opened #990 "Recognition Training Pytorch"
### Bug description

I want to use docTR for training of Recognition of indian language data. I have created a dataset as specified [here](https://github.com/mindee/doctr/tree/main/references/recognition). The images in the dataset are 400x100x3. And I have also added the vocab in vocabs.py.
Can someone explain why I am getting this error and what has to be changed?

Thank you!

### Code snippet t

[2022-07-20 09:09] frgfm commented on #789
@felixdittrich92 yes precisely :+1:

[2022-07-20 09:23] felixdittrich92 commented on #984
Hi @frgfm :wave:,

in short yes this would be the plan :sweat_smile:
a bit more in detail what i have had in mind: #981

[2022-07-20 09:32] frgfm commented on #841
Hi @devendrapal5755 @NGStaph :wave:

Sorry about the late reply! Would you mind sharing your input doc/image and elaborating on the expected vs actual result please? :pray:

[2022-07-20 09:34] frgfm commented on #935
@felixdittrich92 oh :/ On a specific dataset? during training?

[2022-07-20 09:43] felixdittrich92 commented on #935
@frgfm Unfortunately no it affects all detection datasets used with `use_polygons=True`.
I only noticed it later because some datasets aren't that big and i haven't had this on track before :/

[2022-07-20 09:44] frgfm commented on #988
Thanks for opening the issue, let's first focus the discussions in #888 to avoid duplicates :)

[2022-07-20 09:48] frgfm commented on #989
Hello @synbrAInMircoPiccoli :wave:

From the information you shared, I guess that the issue is about installing a python lib in Colab (and not specifically with docTR). Did you try to restart your runtime?

You seem to have solved your problem though, could you share how you managed that? :)

Thanks in advance :v:

[2022-07-20 09:57] frgfm commented on #990
Hello @dishant26 :wave:

Sorry to hear about your trouble!
Fortunately, with the information you shared, there are a few leads:

### Channel-first vs channel-last

TensorFlow uses a channel-last scheme for tensor processing, while PyTorch uses channel-first.

So when you say

I think you only need to save them using PIL, and the framework will handle this correctly. But if you saved it differently

[2022-07-20 09:59] frgfm commented on #935
Alright, let's get to the bottom of this :+1:

[2022-07-20 12:20] bavo96 opened #991 "Turn off automatically download backbone model"
Hi team,

Why don't we use the `pretrained` flag instead of `pretrained_backbone` flag for using pretrained model in `backbone_fn` ? I have turned off the flag `pretrained` by passing the flag to the `ocr_predictor` but it keeps downloading the pretrained model for backbone and I have to modify the code manually. Can we combine those flags into one or pass the `pretrained_backbone` outside this fu

[2022-07-20 22:51] frgfm commented on #991
Hello @bavo96 :wave:

First, quick suggestions:
- this is more of a question topic than bug reporting, so [GH discussions](https://github.com/mindee/doctr/discussions/new) are a better fit for this :)
- especially when sharing code, send the url with a reference or copy paste & format the code, but avoid screenshots :pray:

Now, about your question:
- first off, you can pass `pretrained_backbone=F

[2022-07-21 02:56] bavo96 commented on #991
Hi @frgfm, so sorry about my posting, I'm still new to this repo and don't know where to post the question :( I'll post the reference to the code next time ❤️ Thanks for your suggestions.
I don't mind if we use the pretrained backbone when training a model. But in reference (testing) phase, I want to load my trained model (by using `load_state_dict`) instead of downloading the pretrained model aga

[2022-07-21 09:17] NGStaph commented on #841
on second thought.. i might be getting an error due to warp within '00093726.png' of the [FUNSD dataset](https://guillaumejaume.github.io/FUNSD/download/). the order of words that docTR outputs on a deskewed version of the image is unexpected/incorrect maybe related to #537 ?

Actual Order: `'Date: Soplembe r 21, 1/6', 'Sample No. 6030', 'Type of Cigarette', '85 mm Filter', '50 lbs.', 'Batch Size'

[2022-07-21 20:01] felixdittrich92 commented on #789
@frgfm @charlesmindee I think it is ok if we close this all models (without postprocessing) can be exported

[2022-07-21 20:01] #789 closed

[2022-07-22 15:00] felixdittrich92 commented on #957
@frgfm any updates ? :)

[2022-07-26 10:57] frgfm commented on #991
Hi @bavo96 :wave:

Oh don't misinterpret my previous message, there is no problem at all :) I prefer to share feedback so that you get more familiar with the OSS community :grin:

Ok, so if I get this right, you'd like to have no download whatsoever and load your local model checkpoint directly, correct?

[2022-07-26 11:11] frgfm opened #996 "[docs] Broken hyperlinks in the documentation"
### Bug description

Following #993, a few hyperlinks of the documentation were broken in the "Using models" section.
Cf. this [review](https://github.com/mindee/doctr/pull/993#pullrequestreview-1050783957) for details!

### Code snippet to reproduce the bug

Navigate to https://mindee.github.io/doctr/using_doctr/using_models.html and click on internal hyperlinks

### Error traceback

Broken hyper

[2022-07-26 11:57] frgfm commented on #841
Hi @NGStaph,

I'm sorry but I don't think I get the difference between what you want and what you currently have :sweat_smile:
So I'll share relevant information hoping that will help you:
- as you can see in https://github.com/mindee/doctr/blob/main/doctr/datasets/funsd.py#L95, only unknown characters are removed from the loaded data of FUNSD
- the convention selected by the dataset creator/owner

[2022-07-26 12:01] #996 closed

[2022-07-28 16:11] odulcy-mindee commented on #847
@fxfabre @SamSamhuns Thank you for your hints! It seems related to a problem on FastAPi using nested pydantic models with Tuples (https://github.com/tiangolo/fastapi/issues/3782, https://github.com/tiangolo/fastapi/issues/4168) which we used in `DetectionOut` and `OCROut` (which depends on the former).

Updating `fastapi` should fix the problem

[2022-07-29 08:37] #847 closed

[2022-07-29 12:13] frgfm opened #1001 "[pdf] Switch PDF page rendering to an iterator format"
As suggested by @mara004 in #1000, the PDF rendering is using a list comprehension which holds page processing while the rendering isn't complete:
https://github.com/mindee/doctr/blob/78c9105bb6c27c4a35ee9f601263da01668224b1/doctr/io/pdf.py#L45

This could be fixed by modifying it to yield the page and limit RAM usage:
[code]

[2022-07-30 12:13] nikokks opened #1003 "Request For Adding ParSeq - text recognition model"
### 🚀 The feature

Hello,

I mainly use the text detection and text recognition models with your framework.

As I have seen: the most recent models that you propose in text recognition, namely MASTER and SAR, are not yet operational.

However at the text recognition level, there is a recent model that gets very impressive performances: PasrSeq.

Here are the references:
https://github.com/open-mml

[2022-07-30 15:43] nikokks commented on #969
@charlesmindee, what kind of data do you use to train your text recogntions models ?
Do you use custom data ? and do you use special data for french documents ?

[2022-07-30 21:53] felixdittrich92 commented on #1003
Hi @nikokks 👋 ,
fyi MASTER and SAR are fixed on main branch will be released soon with 0.5.2

I agree with the ParSeq addition firstly i have had in mind to add ViTSTR but yes i think we can switch directly to ParSeq instead of this👍

Are you maybe interested to open a PR for this model we would be happy to help with !
Otherwise we could take it in the near future we have definitly on track to add

[2022-08-01 08:04] frgfm commented on #969
@nikokks for text recognition, we use cropped words from various types of documents, which sum up to about 11M images.
The bias is indeed around the choice of characters (European mostly) and the language (some sequences of characters are more frequent than others).

However, a while back, we started a fully synthetic approach (cf. `CharacterGenerator` and `WordGenerator`). So far, the results are

[2022-08-01 08:24] frgfm commented on #1003
I agree that this couldbe a good candidate for new text recognition models in 0.6.0 :)
Perhaps we should open a tracker issue for all new models request that we would stage for 0.6.0, or directly link them in the release tracker?

[2022-08-01 08:33] felixdittrich92 commented on #1003
@frgfm I would say a seperate issue where we can track all requested model additions (splitted in detection / recognition / TF / PT with paper/repo link) and link this issue in the release tracker. wdyt ? Do you like to open it ? :)

[2022-08-01 15:10] zahidetastan opened #1006 "Recognition Training with Tensorflow"
### Bug description

I want to use docTR for training of Recognition of Turkish language data. I have created a dataset as specified in documentation. I have also added the vocab for Turkish in vocabs.py. Turkish language consists of VOCAB['English'] + some turkish chars. For example: i, ö, ü, İ.
Therefore, there are some Turkish special characters in the train images and json file in the dataset.

[2022-08-01 15:12] frgfm opened #1007 "Upcoming support for new model architectures"
As discussed in several GH issues, docTR could very well welcome new architectures for OCR :+1:
Let's use this issue to track this for the next release!

A few things to consider:
- docTR is not meant to make all architectures available. Let's focus on architectures that are reasonably sized and SOTA performances (or considered as a performance milestone for a given task).
- it is acceptable to st

[2022-08-01 15:12] frgfm commented on #1003
@felixdittrich92  Done :)

[2022-08-01 15:46] frgfm commented on #1006
Hello @zahidetastan :wave:

Sorry about this, let's try to help you!
Do you have a fork with a branch that has your modifications by any chance?

My best guess is that the string encoding doesn't work with some Turkish characters  (or simply that the font doesn't support this character) :thinking:
So let's try to check this with 3 steps:
1. Check whether the string encoding is a problem
To do so,

[2022-08-01 16:49] felixdittrich92 commented on #1003
@nikokks @frgfm Do you agree if we close this ticket ? Should be fine if we track it in mentioned issue :)

[2022-08-01 17:46] frgfm commented on #1003
I think we should keep this:
- the PR will close this issue, and the release tracker will get the checkbox ticked

So no need to close it, and that will notify @nikokks when this gets resolved, which I guess is of interest to him :)

[2022-08-01 17:50] felixdittrich92 commented on #1003
👍

[2022-08-01 22:23] nikokks commented on #1003
I am inspecting the baudm code on Parseq (https://github.com/baudm/parseq).
I think the code might not be too complicated to integrate.

On my side I managed to connect your ocr_prediction and to integrate the reco_predictor of baudm successfully. The performances are not to good for french documents like yours actually => needs to be finetuned on your secret data 😉

Several questions will come fr

[2022-08-02 08:27] felixdittrich92 commented on #1003
Hi @nikokks 👋 ,

lets keep it open for further conversation about ParSeq 👍

About your points:
- timm is a great library but it is mostly pinned in librarys which use it to a fixed version specifier in fact of maintaince and it would be another extra dependency in doctr. So i would suggest to implement ViT from scratch inside the classification models to use it as feature extractor (@frgfm we shou

[2022-08-03 03:08] bavo96 commented on #991
HI @frgfm
That is exactly what I need right now :D

[2022-08-03 10:47] zahidetastan commented on #1006
Hello,
First of all, thank you very much for your interest.

Here is my output of first checking for string encoding.

![option1](https://user-images.githubusercontent.com/45240849/182589294-8d405397-37c6-4509-b532-e83bf40654f9.png)

And here is my output of second checking for text image generation or the font problem. I can't get any resulting image due to the error.
![option2](https://user-imag

[2022-08-03 12:50] frgfm commented on #1006
Alright, this has narrowed the problem down to the image generation!
This snippet should produce the same error then:
[code]

If so, I can see two options:
- normalizing the string so that the latin-1 codec can do its job
- finding a font family that includes your character

The second aspect is quite a natural one: you can't render the string if it cannot be mapped to a font family that has been

[2022-08-04 13:16] frgfm commented on #991
Got it :+1: I'll stage this for the next release, and you'll get notified whenever a PR closes this issue!

[2022-08-05 14:20] carl-krikorian opened #1012 "Errors when loading models trained in the references scripts"
### Bug description

Hello,
I have trained two recognition models and a text detection model using the pytorch version of the references scripts on a docker container. However, after the training is completed successfully, I encounter a few issues when trying to test and load the models.

I tried to load the model as mentioned in [discussion 568](https://github.com/mindee/doctr/discussions/568) bu

[2022-08-05 17:02] frgfm commented on #1012
Hi @carl-krikorian :wave:

Thank you a lot for your detailed request, that's much easier to debug :)
So according to your error, and quite logically, the problem comes from your vocab size!

In the discussion you referenced, people were using the same vocab so the number of output nodes of the network is unchanged. But here, this traceback
[code]
indicates that you instantiated a model with a voca

[2022-08-05 17:17] felixdittrich92 commented on #1012
@carl-krikorian @frgfm Sar arch has changed on 0.6.0 (0.5.2) can only loaded with this or higher versions :)

[2022-08-05 18:20] carl-krikorian commented on #1012
Hey @frgfm @felixdittrich92 ,
The issue was indeed with the vocab, after applying your changes and some testing, the OCR is working great.
Thank you so much for your quick responses and contributions to this great repo!

[2022-08-05 18:20] #1012 closed

[2022-08-06 15:09] nikokks commented on #1003
Hi,

ok for timm.

Other question: can we integrate 'pytorch-lightning~=1.6.5' to the requirements-pt.txt ?

[2022-08-06 15:39] felixdittrich92 commented on #1003
Hi @nikokks 👋 ,
Why do you think we need this ? :)
We should implement all models in plain pytorch / tensorflow without any wrappers

[2022-08-06 16:22] nikokks commented on #1003
ok, it sounds good for me :)

I have added parseq class on my fork.
Now I need to match all args of each methods between your wrapper and the model class parseq =) : (the most difficult part)
I'll do it in the next days or next weekend.

[2022-08-06 18:21] felixdittrich92 commented on #1003
@nikokks I would suggest the following steps (every should be one PR)
- move models/recognition/transformer to models/modules/transformer (to reuse the implementations we need this for much more models so it should be more global @frgfm wdyt?)
- implement ViT as classification model
-  implement the ParSeq Decoder side which use ViT as feature extractor

[2022-08-08 05:31] frgfm commented on #1003
I agree :+1:

Yup, but giving credits to the rightful contributors / source of inspiration when relevant!

[2022-08-08 09:47] felixdittrich92 commented on #1003
@nikokks Now you can reuse the already implemented transformer parts for ViT :+1:

[2022-08-12 06:47] felixdittrich92 commented on #935
https://github.com/bloomberg/memray super useful to find the mem leak

[2022-08-16 05:15] nikokks commented on #973
Hello,

the function used to get the orientation of the document uses function with open CV.
Why did you not used the angles'median of the larger sides of the bboxes ?

[2022-08-16 08:11] harindercnvrg opened #1020 "GPU inference error using db_resne50_rotation"
### Bug description

Hello, guys I am getting the following error by running the snipped of code. I don't  get the same error if I use db_resnet50 instead of db_resnet50_rotation. Help please! I am using the version 0.5.1

### Code snippet to reproduce the bug

[code]

### Error traceback

[code]

### Environment
[code]
### Deep Learning backend
[code]

[2022-08-17 07:02] harindercnvrg commented on #1020
First, could you elaborate on "I don't get the same error if I use db_resnet50 instead of db_resnet50_rotation". What error do you get if you use that one?
Yes, please look below:

[2022-08-17 09:01] aminemindee commented on #978
Hello Felix, I started working on this issue and i have some questions/remarks
- Using the keras Implementation directly i can see that the mobilenetv3 small has a different number of parameters from the keras implementation compared to doctr implementation.
- is the weights for mobilenetv3 the pretrained ones (from hub) or are weights trained by mindee?
- if it's the second case should we use ker

[2022-08-17 11:00] felixdittrich92 commented on #978
Hi @aminemindee :wave:,
nice that you have started to work on it :+1:
One thing in front of your questions we can solve this issue in a draft PR but have to wait before we merge it until 0.5.2 is released otherwise it would be a big breaking change for current users of doctr (why ? this change affects on TF side db_mobilenet_v3_large / crnn_mobilenet_v3_small / crnn_mobilenet_v3_large which needs

[2022-08-17 17:10] frgfm commented on #1020
Thanks for that! The traceback gave the source of the problem away: the input tensor isn't being moved to the device of the model as it should.

I'll fix this shortly then :)
I'll let you know here when it's merged!

[2022-08-18 13:54] frgfm opened #1025 "[references] Add a training script for crop orientation classification"
As discussed in #992, we are missing the training script for the crop orientation classification. It's important that users can reproduce the training procedures for docTR models.

[2022-08-19 07:59] #973 closed

[2022-08-22 13:05] dishant26 opened #1026 "Training not working on MacOS"
### Bug description

Installed all the packages as mentioned in the README.
I was not getting this error on windows but as I switched to MacOS, I am getting this error.

### Code snippet to reproduce the bug

[code]

### Error traceback

[code]

### Environment

DocTR version: N/A
TensorFlow version: N/A
PyTorch version: 1.12.1 (torchvision 0.13.1)
OpenCV version: 4.6.0
OS: Mac OSX 12.5.1
Python v

[2022-08-22 13:06] #990 closed

[2022-08-22 13:07] dishant26 commented on #990
Worked for me. Thanks!

[2022-08-22 14:15] fschatbot opened #1027 "Failed To install using pip"
### Bug description

I was expecting the python-doctr using pip

### Code snippet to reproduce the bug

[code]

### Error traceback

[code]

### Environment

Collecting environment information...

DocTR version: N/A
TensorFlow version: 2.8.0
PyTorch version: 1.12.1+cpu (torchvision 0.13.1+cpu)
OpenCV version: 4.5.4
OS: Microsoft Windows 11 Pro
Python version: 3.10.2
Is CUDA available (TensorFlow):

[2022-08-22 14:20] felixdittrich92 commented on #1027
Hi @fschatbot 👋 ,
thanks for reporting this. Does it work on your machine if you try to Install matplotlib standalone `pip Install matplotlib` ?

[2022-08-22 15:34] felixdittrich92 commented on #1026
Hi @dishant26 :wave:, thanks for reporting this.
We have had a similar issue on Windows could you please check if it is also helpful on Mac ?
#701

[2022-08-23 07:25] dishant26 commented on #1026
Yeah this worked! Thanks!
I was the issue with conda on mac.
Install using these commands : https://anaconda.org/conda-forge/weasyprint

[2022-08-23 07:25] #1026 closed

[2022-08-23 20:09] felixdittrich92 commented on #1027
@fschatbot thanks for posting your solution ❤️
@frgfm i think we need to look around for an alternative of weasyprint (which raised several issues in doctr) do you have anything in mind ? :)

[2022-08-24 07:27] khawar-islam commented on #1006
Hello @frgfm I am also training a recognition model for korean language and i made three changes but still there is some problem like above.

**First changed** [Added korean language]

[code]

**Second changed** [french to korean]

`    parser.add_argument('--vocab', type=str, default="korean", help='Vocab to be used for training')`

Training start

`python3 references/recognition/train_pytorch.py

[2022-08-26 12:57] #658 closed

[2022-08-26 13:03] felixdittrich92 commented on #658
#1008
temporary solution - should be changed to ONNX same for API if we have a valuable integration

[2022-08-27 09:49] frgfm commented on #1027
I agree that weasyprint is causing several problems. Perhaps this could be a good candidate: https://github.com/JazzCore/python-pdfkit ?

It's MIT licensed, and pure python (no ext dependencies)

[2022-08-27 09:50] frgfm commented on #1006
Any update @zahidetastan ? :)

[2022-08-31 07:37] zahidetastan commented on #1006
Hello @frgfm
Finding a font family that includes Turkish character solved the error. But...
I training the model by running the push to hub part as a comment line. But I couldn't figure out where to get an output and how to use this trained model.
Then I wanted to use the push_to_hub argument to see the trained model on the hub. In this part, I get an error about libraries.

![MicrosoftTeams-image

[2022-08-31 08:18] felixdittrich92 commented on #1006
Hi @zahidetastan :wave:, i can help with this.
Are you currently on the main branch so you have forked the repo to train your model ?

[2022-08-31 09:20] felixdittrich92 commented on #1027
@frgfm Unfortunately it needs [wkhtmltopdf](http://wkhtmltopdf.org/) on Linux to read urls to pdf

[2022-08-31 13:00] zahidetastan commented on #1006
Hi @felixdittrich92 👋,
Yes I currently on main branch. And I fixed the problem about the login_to_hub error. By adding sys.path.append('.') before the importing login_to_hub line. And also there had a problem about importing doctr from venv instead of folder. I deleted the python-doctr library from my environment.
After completing the training, I have tf_model folder + config.json file. Inside the

[2022-08-31 13:17] #957 closed

[2022-09-01 04:05] nmoghadam opened #1036 "Can not run Quick start.ipynb in Colab"
When I try to run Quick start.ipynb in Colab I get the following error:

ModuleNotFoundError                       Traceback (most recent call last)

[<ipython-input-4-3ebce118c5e4>](https://localhost:8080/#) in <module>
      8 import matplotlib.pyplot as plt
      9
---> 10 from doctr.io import DocumentFile
     11 from doctr.models import ocr_predictor

ModuleNotFoundError: No module named 'doc

[2022-09-01 04:21] khawar-islam commented on #1036
Try to install

`!pip install python-doctr`

[2022-09-01 06:30] felixdittrich92 commented on #1036
Hi @nmoghadam :wave:, thanks for reporting this :+1:
I have checked this seems to be a problem with Colab currently, locally both installations v0.5.1 and v0.5.2a0 works without trouble :thinking:
@khawar-islam unfortunalety this will not solve the problem :sweat_smile:

[2022-09-01 06:39] felixdittrich92 commented on #1006
Hi @zahidetastan :wave: ,

Pushing to hub with your own trained model:
[code]

Loading example:
[code]

[2022-09-01 07:00] felixdittrich92 commented on #978
Hi @aminemindee, are you still interested to solve this ? :) So we could assign it to you

[2022-09-01 07:12] aminemindee commented on #978
Hello @felixdittrich92 i will get back to it once i finish a project i'm working on to make the detection model training part working with multiple classes and then maybe retrain with that so i can't really work on it at the moment.

[2022-09-01 07:21] felixdittrich92 commented on #978
sounds interesting :) Yeah no stress wouldn't make much sense before the 0.5.2 release is done

[2022-09-01 07:54] Mahmuod1 commented on #1036
and the installation from the source for train a detection model also have the same issue

[2022-09-01 16:26] felixdittrich92 commented on #1006
Hi @zahidetastan, sry yes to init the model you should use from_hub

ocr_predictor(reco_arch=from_hub(your model), pretrained=True)

But it seems in config.json that the vocab is empty that's weird 🤔

[2022-09-01 18:57] zahidetastan commented on #1006
Hi @felixdittrich92,
Yes, I passed the turkish vocab in vocabs.py on my local.😅 There is no problem at that point. I will check the path again.
Thank you for all help ✋🏻

[2022-09-01 19:22] felixdittrich92 commented on #1006
@zahidetastan could you share the turkish vocab you have added ? So i can trigger a minor toy run and try to reproduce your behaviour tomorrow ^^

[2022-09-01 19:50] felixdittrich92 commented on #1001
Clean up the minor issues a bit :sweat_smile:

[2022-09-01 21:00] felixdittrich92 commented on #1001
#1032

[2022-09-02 07:17] felixdittrich92 commented on #1006
@zahidetastan let me know if i can delete the dummy model from my hub if you got all :+1:

[2022-09-02 08:51] felixdittrich92 commented on #935
@frgfm mem leak is inside LocalizationConfusion

[2022-09-02 09:38] felixdittrich92 commented on #935
ok as summary to identify to mem leak:

- datasets with rotation are fine
- problem is the LocalizationConfusion
- with broadcasting (default) it would kill every normal machine
- without broadcasting it stucks @charlesmindee

[code]

[2022-09-02 11:20] felixdittrich92 commented on #113
@frgfm do you now an answer ? :sweat_smile:

[2022-09-02 11:52] mara004 commented on #113
Even if we can get around the duration problem, I'll still need information about conda platform tags. We need an equivalent for each of the tags shown on https://pypi.org/project/pypdfium2/#files (section "Built Distributions").

[2022-09-02 12:21] mara004 commented on #113
For reference, these two pages sound interesting:
https://docs.conda.io/projects/conda-build/en/latest/user-guide/recipes/build-without-recipe.html
https://docs.conda.io/projects/conda-build/en/latest/user-guide/wheel-files.html

[2022-09-02 12:27] mara004 commented on #113
Found the platform identifiers. `conda convert` actually lists them: `osx-64,osx-arm64,linux-32,linux-64,linux-ppc64,linux-ppc64le,linux-s390x,linux-armv6l,linux-armv7l,linux-aarch64,win-32,win-64,all`

[2022-09-02 13:10] felixdittrich92 opened #1042 "[Bug] LocalizationConfusion metric with use_polygons (rotation=True) results in enormous memory consumption"
### Bug description

Ref.: #935

duplicate:
- with broadcasting (default) it would kill every normal machine (FUNSD evaluation needs > 64GB RAM)
- without broadcasting it is ultra slow (but constant)

[code]

### Code snippet to reproduce the bug

python3  /home/felix/Desktop/doctr/references/detection/evaluate_pytorch.py db_mobilenet_v3_large --rotation

[2022-09-02 15:39] #935 closed

[2022-09-02 15:40] #1020 closed

[2022-09-02 15:42] felixdittrich92 commented on #1020
Hi @harindercnvrg should work now (on main) 👋

[2022-09-02 17:17] mara004 commented on #113
Sorry for spamming this thread! Anyway, I'm at it with the conda build. I don't want to promise anything too early, but I believe to have finally found a reasonable approach. I've got the conda recipe and commands together locally and am about to integrate it into the setup infrastructure.

[2022-09-02 18:38] mara004 commented on #113
Got relatively far but am stuck with the problem that `conda convert` doesn't work for `noarch` packages, see https://github.com/conda/conda-build/issues/2611

[2022-09-02 19:00] mara004 commented on #113
Tried an alternative approach using the host platform as intermediary, but now I have the problem that packages are built for a specific Python version, which is not what we want. If we find some way to get around this, it would be done (though it's not exactly nice).

[2022-09-03 04:47] dishant26 opened #1043 "Error in training Detection model using pytorch"
### Bug description

I am trying to train the detection model using pytorch on my own dataset and I am getting this error.
I am using macOS.
```Can't pickle local object 'DetectionDataset.__init__.<locals>.<lambda>'```

### Code snippet to reproduce the bug

[code]

### Error traceback

[code]

### Environment

[code]

### Deep Learning backend

[code]

[2022-09-03 12:18] felixdittrich92 commented on #1043
Hi @dishant26 looks like a problem with fastprogress... Would it be possible to test with python 3.8 (Unfortunately i cannot much help on MacOS)

[2022-09-03 17:32] felixdittrich92 commented on #884
Hi @dvivarelli can we close this ? Or does the problem still exists ? :)

[2022-09-03 20:02] dishant26 commented on #1043
Hey. I tested with python 3.8. Still the same error.

[2022-09-03 20:11] dishant26 commented on #1043
Hey. I solved the issue. It is some problem with lambda functions.
If anyone encounters the same issue.  Just set ```num_workers=0```  in train_loader.

[2022-09-03 20:11] #1043 closed

[2022-09-03 20:13] felixdittrich92 commented on #1043
Hi @dishant26 i think i got it python <3.8 should work seems to be an known issue with multiprocessing and macosx another solution (you posted) or modifying the script to use tqdm instead of fastprogress

[2022-09-03 20:14] felixdittrich92 commented on #1043
Thanks for sharing your solution 👍

[2022-09-04 17:15] felixdittrich92 commented on #1027
I have removed the upper specifier of weasyprint i think this will solve a lot of issues, because the newest release has removed cairo completly (where i think was the issue on Win and Mac) with an own pdf generator lib

Unfortunately i cannot validate this (work only on Linux 😅 ) @fschatbot could you test it again maybe ? :) (With main branch) This would be really helpful ❤️

[2022-09-04 17:15] #1027 closed

[2022-09-04 17:18] felixdittrich92 commented on #886
Hi @Xargonus 👋 any updates ?

[2022-09-04 17:21] felixdittrich92 commented on #1003
Hi @nikokks short update i have not forget it will (hopefully) start with ViTSTR next week then it should be easy to implement the decoder from parseq also 👍

[2022-09-04 17:27] felixdittrich92 commented on #815
Hi @nithinreddyy 👋 any updates ? :)

[2022-09-04 17:28] nithinreddyy commented on #815
No.

[2022-09-04 17:30] felixdittrich92 commented on #815
Still not working? Then could you please try to install doctr from main branch?

[2022-09-04 17:31] nithinreddyy commented on #815
Yes, will try.

[2022-09-04 17:32] felixdittrich92 commented on #815
Thanks ❤️

[2022-09-04 19:12] felixdittrich92 commented on #5
@frgfm i think we can remove the tensorrt point If we support onnx wdyt ?

[2022-09-05 09:53] frgfm commented on #1036
Installing doesn't bring non-package-related files while training does require the `reference` folder so that seems logical :)
Perhaps we should specify that git clone is required there

[2022-09-05 10:07] frgfm commented on #1042
I agree, it's a problem but I have no clue how we could get around it :/
Here is my point of view on the topic:
- the first computation is by far the fatest but considering the mask shape, it requires a lot of RAM. I don't think we can have an optimal alternative that would go as fast as this
- the second one is reducing the parallelism. However numpy is known to encode boolean tensors as higher p

[2022-09-05 10:19] frgfm commented on #5
Yes sure! We'll need to take a look at pruning at some point

[2022-09-05 10:21] felixdittrich92 commented on #5
yeah pruning is fine but tensorrt is a bit to much (should do the user on his own side if we can provide onnx this should be not so tricky)

[2022-09-05 10:24] felixdittrich92 commented on #1036
@frgfm On the day the problem was created, nothing worked in Colab, I don't know what it looks like now

[2022-09-05 10:27] felixdittrich92 commented on #1042
otherwise we check the underlying system with psutil and decide (with broadcasting or without) it's only relevant for scripts so i think this should be ok wdyt ?

[2022-09-06 07:53] Mahmuod1 commented on #1036
@felixdittrich92  the same problem as it  , i test it today

[2022-09-06 07:57] felixdittrich92 commented on #1036
Hi @Mahmuod1 thanks for the update i think we have to create this notebooks new /setup new (anything is strange in Cloab) unfortunately i have no rights for the notebooks repository and @charlesmindee is in holidays :thinking:

[2022-09-06 08:31] felixdittrich92 commented on #1006
Hi @zahidetastan any updates ? :)

[2022-09-06 09:41] frgfm commented on #1036
But this has nothing to do specifically with the content of the notebook I think:
- there is an installation command for the library
- after that you're not able to even import it

That means that the installation is failing. I know that colab is changing this, but @Mahmuod1 have you tried to "Restart the kernel" once you installed the library? Usually that was doing the trick

[2022-09-06 09:44] felixdittrich92 commented on #1036
I have tried this ! :sweat_smile: same issue. No it is definitly any problem with Colab (but i dont no what) ..code is fine

[2022-09-07 11:24] felixdittrich92 commented on #884
no response and cannot be reproduced - close

[2022-09-07 11:24] #884 closed

[2022-09-07 12:55] harindercnvrg opened #1049 "Support for Handwritten text"
### 🚀 The feature

Addition of new / Fine Tuning of existing models to support OCR for `Handwritten Text`.
As a first step we can start with detection/prediction models that work specifically for Handwritten Text and down the line we can launch a model that works well for `both Handwritten and Typed text.`

### Motivation, pitch

Thousands of forms, documents and notes are scanned stored in archiv

[2022-09-08 08:24] frallain opened #1052 "Have different install options to skip installing UI packages (matplotlib & mplcursors) for a production environment"
### 🚀 The feature

On a production machine that runs ML algorithms, the UI oriented packages are not necessary to make the algorithms run.

It would be nice to be able to skip these UI oriented packages installation by grouping these UI packages into a `ui` group in the ppyproject.ml file so that we can then perform a `poetry install --without ui`.

### Motivation, pitch

The motivation here is to

[2022-09-08 09:35] frgfm commented on #1049
Hi @harindercnvrg :wave:

That's indeed a long term goal for us! I would suggest dissecting the problem as follows:
- [ ] Character classification on handwritten characters
- [ ] Figure out our class structure for both handwritten & typed characters (i.e. should we double the size of output classes to be able to say whether each character is typed or not, or should we mix typed & handwritten in th

[2022-09-08 09:46] frgfm commented on #1052
Hi @frallain :wave:

I agree that this is a topic, and we've discussed this several times. Here is my point of view:
- yes we should separate non-critical deps. For a maintenance perspective (to prioritize core features/issues against optional ones), they should be moved to optional extras
- however, for production, that would be extremely useful to have your feedback: what are your specific use c

[2022-09-09 14:38] zahidetastan commented on #1006
Hi @felixdittrich92,
The dataset I had was a very small dataset. It contained 10 pieces of data that I created by clipping from images by manuel.
So when I used it as the recognition model, I saw some random characters as a result. That's why I found a font with Turkish characters that is CODE2000.TTF. I made a dummy train with this font. And I use an image that contains some Turkish char with fon

[2022-09-09 20:09] frallain commented on #1052
My specific usecase in production is the following:
[code]

[2022-09-10 14:11] felixdittrich92 commented on #1027
Nice thanks for the Update :)

[2022-09-10 14:13] felixdittrich92 commented on #815
Should work now (with main branch) otherwise feel free to reopen :)

[2022-09-10 14:13] #815 closed

[2022-09-10 18:19] felixdittrich92 commented on #714
Hi @matthiasmindee 👋 , does the issue still exists ?

[2022-09-10 18:22] felixdittrich92 commented on #480
Hi @fharper can we close this ? :)

[2022-09-10 18:24] felixdittrich92 commented on #479
Hi @fharper can we close this ? :)

[2022-09-10 20:33] felixdittrich92 commented on #1042
@frgfm wdyt ?

[2022-09-11 10:10] felixdittrich92 commented on #1006
Hi @zahidetastan 👋 nice that the hf part now works correctly 👍
About the dataset i would suggest to fine tune the already pretrained model (on french you need only to pass --pretrained) on your real dataset (try to get as much data as possible) because the vocabs differ only in a few characters.
About training with our word generator it needs some improvements and is more about pretraining or to d

[2022-09-11 10:16] felixdittrich92 commented on #1006
Will convert it to a discussion looks like the main issue is solved :)

[2022-09-12 10:30] frgfm commented on #1052
Alright, so from what I can see, you need:
- preprocessors (doable with PIL & numpy)
- models (doable with ONNX)
- postprocessor (doable with cv2 & numpy)
- export method (pure python)

So here the trick is about cv2 I think. A naive version would be:
- PIL + numpy + ONNX + cv2

and hopefully by having either put this in ONNX (converting to TF/PyTorch ops then exporting as ONNX), or numpy (trickie

[2022-09-12 10:48] frgfm commented on #815
@felixdittrich92 mind adding a reference to the corresponding PR? (I assume a PR has been merged because of your previous message :) )

[2022-09-12 11:06] felixdittrich92 commented on #815
#1031 removes the upper limit for weasyprint (where cairo is no dependency /pango version upgrade and has much more tests for Windows and MacOS) which should fix the issue

[2022-09-12 15:47] harindercnvrg commented on #1049
@frgfm thank you for detailing the steps. Also, I was wondering if we cannot work with a model that is able to work with both digital and handwritten text, would it be possible to include an extra layer of classification and use separate models for handwritten and digital text based on the classification?

[2022-09-12 16:02] harindercnvrg commented on #1049
@frgfm also for reference [CRAFT + TrOCR ](https://huggingface.co/spaces/tomofi/CRAFT-TrOCR)
The model works fine for handwritten and digital text. It was fine tuned on the IAM dataset.

[2022-09-15 18:56] felixdittrich92 commented on #819
@frgfm wdyt can we close this ? There are only warnings left (models works fine) which we can't avoid i think

[2022-09-16 09:41] frgfm commented on #113
I'm not very knowledgeable about `conda convert` command unfortunately!
Regarding the duration, I've had similar issues and there appears to be no workarounds (I'm waiting for mamba build, since mamba is a rewrite of conda but much faster & parallel processing)

[2022-09-16 09:59] frgfm commented on #895
@felixdittrich92 circling back to this, what "low threshold values" were you referring to?
Do you mean the binarization threshold or the expansion value for the base text detection segmentation?

[2022-09-16 10:04] felixdittrich92 commented on #895
@frgfm the threshold value for prob_map where we decide 0 or 1 :sweat_smile:
this should minimize distortion at the edges and thus reduce the overlap while converting to bbox (i have had a similar problem on semantic segmentation and this has solved my problem)

[2022-09-16 10:05] frgfm commented on #1052
related to #1064

[2022-09-16 10:08] frgfm commented on #480
So PyTorch stable now supports Mac M1 architecture!
However about TensorFlow, it looks like a plugin is needed: https://developer.apple.com/metal/tensorflow-plugin/

[2022-09-16 10:09] frgfm commented on #479
Closing this as #480 is the root cause :+1:

[2022-09-16 10:09] #479 closed

[2022-09-16 10:12] frgfm commented on #1042
@felixdittrich92 what do you mean "relevant for scripts"? psutil won't bring much more information I think :thinking:

[2022-09-16 10:22] frgfm commented on #1049
Yes of course, but I suggested handwritten only first because if that first step doesn't work, it's extremely unlikely than handling both will work :sweat_smile:

The model works fine for handwritten and digital text. It was fine tuned on the IAM dataset.

Thanks a lot for the heads up :pray: I added those to the wishlist of new model implementation on docTR (#1007)

[2022-09-16 10:29] felixdittrich92 commented on #480
sounds like a lot of trouble :sweat_smile:

[2022-09-16 10:43] frgfm commented on #819
I agree :+1:

[2022-09-16 10:43] #819 closed

[2022-09-16 11:25] felixdittrich92 commented on #1049
@frgfm i have to disagree with both model additions (CRAFT is really not a performance beast (with VGG backbone)) and let's don't talk about TrOCR ... this is a beast from Microsoft to show how big a model can be to perform OCR :laughing: No back to the facts .. TrOCR uses Roberta as Decoder we don't want to integrate some big LM (really) and i think we are also not able to train it from scratch (

[2022-09-16 13:29] felixdittrich92 commented on #1003
Hi @nikokks,
are you still interested to add ParSeq ? :)
After #1063 ViT has finally found it's way in doctr as backbone.
And #1055 will be updated soon (which could be used as template also for ParSeq)

[2022-09-16 17:36] mara004 commented on #113
What I think could be done relatively easily would be to add the required files for users to create/install a conda package locally.
For this, one could treat pypdfium2 just like any other `noarch: python` package, but then we obviously don't get uploadable artefacts.
With a rather dreadful workaround, I did manage to build architecture-specific conda packages locally, but the problem is that cond

[2022-09-16 19:52] felixdittrich92 commented on #730
@frgfm only @SiddhantBahuguna PR left or do you have other augmentations in mind ? :)

[2022-09-19 06:52] #991 closed

[2022-09-20 17:43] #1042 closed

[2022-09-21 09:40] #513 closed

[2022-09-21 11:32] frgfm commented on #480
For now, we should perhaps update the installation instructions in the README & documentation to close this :+1:

[2022-09-21 11:35] frgfm commented on #1049
Yeah you're right! We'll have to filter the models once we have gathered all requests (& compare them)

[2022-09-21 11:38] frgfm commented on #730
For now, I think the random perspective would be the last one required yeah :+1:

[2022-09-25 09:34] felixdittrich92 commented on #730
Hi @SiddhantBahuguna any way in near future that you finish your draft PR ? :)

[2022-09-25 09:38] felixdittrich92 commented on #480
I will try to add some information in the docs. Unfortunately i don't have the option to test it.

[2022-09-26 06:52] felixdittrich92 opened #1074 "Release tracker - v0.9.0"
This issue is to be used to track the roadmap of docTR for release v0.9.0, and collect feedback from users & contributors.

- IO

- Transforms

- Models
    - [x] #1460
    - [x] #1411
    - [x] #1441
    - [x] #1007

- CI

- Documentation
    - [x] #1452

- References

- API
    - [x] #610

[2022-09-26 07:17] felixdittrich92 commented on #967
moved into #791

[2022-09-26 07:17] #967 closed

[2022-09-26 07:35] felixdittrich92 commented on #947
solved after 0.6.0 release

[2022-09-26 08:21] matthiasmindee commented on #714
Hi @fg-mindee @felixdittrich92, this issue seems to be resolved on my side. I let you close the issue ! Thx for your time !

[2022-09-26 08:23] felixdittrich92 commented on #714
Nice ! Thanks for your response @matthiasmindee :hugs:

[2022-09-26 08:23] #714 closed

[2022-09-26 08:35] frgfm commented on #947
But the release hasn't been made yet :sweat_smile: For the sake of not forgetting issues tracked by a release, I think it's safer to close this afterwards

[2022-09-26 08:38] felixdittrich92 commented on #791
@frgfm updated :) hopefully i don't missed anything :sweat_smile:

[2022-09-26 13:45] SiddhantBahuguna commented on #730
Greetings @felixdittrich92 , I am really sorry for the unwanted delay.
I will get it done this week positively :) Sorry again !

[2022-09-26 13:54] felixdittrich92 commented on #730
Sounds nice :hugs: :+1:

[2022-09-26 21:04] zahidetastan opened #1077 "Model training using train_pytorch result gives "max_pooling2d_1" error"
### Bug description

Hello, I created a dataset for Turkish and I want to finetune the Eng model to recognize some extra letters (In addition to English, there are letters such as İ, ş, ö etc. in Turkish). I used train_pytorch script for training. After completing the model training, it was uploaded to huggingface. Then, when I tried to load the model from huggingface and do prediction by using oc

[2022-09-27 04:54] felixdittrich92 commented on #1077
Hi @zahidetastan 👋 ,
Could you please share a link to your uploaded model ?
And you mentioned that the model was trained in pytorch but the error shows the model is loaded with TF

[2022-09-27 10:21] #480 closed

[2022-09-27 13:25] felixdittrich92 commented on #886
Hi @Xargonus :wave:, would ask again if there are any updates from your side ? :)

[2022-09-29 12:05] felixdittrich92 commented on #791
released

[2022-09-29 12:05] #791 closed

[2022-09-29 12:06] felixdittrich92 commented on #947
released

[2022-09-29 12:06] #947 closed

[2022-09-29 12:43] felixdittrich92 commented on #1036
@Mahmuod1 @frgfm
runs again release fixed it :)

[2022-09-30 06:16] felixdittrich92 commented on #1077
Hi @zahidetastan :wave:, any updates ? :)

[2022-09-30 06:27] felixdittrich92 commented on #978
TODO steps:

- [ ] replace mobilenet implementation in https://github.com/mindee/doctr/blob/main/doctr/models/classification/mobilenet/tensorflow.py with tf.keras.applications implementation
- [ ] enable tests: https://github.com/mindee/doctr/blob/16633333fa8ffe4cd610a956fa6fc617046a5d95/tests/tensorflow/test_models_classification_tf.py#L101
- [ ] update: https://github.com/mindee/doctr/blob/16633

[2022-09-30 20:59] felixdittrich92 commented on #554
@frgfm @charlesmindee
If you want we could also include my model (worked on document segmentation for my company will be finished until end of the year) it is a mobilenet_v3_small with Pyramid Attention Network as segmentation head. Runs currently with 30 Fps on mobile devices (CPU) on i7 it takes ~1-2ms and reaches 96% mIoU (custom dataset). Works fine with onnxruntime or opencv's dnn. The only d

[2022-10-06 04:09] mmkulkarni09 opened #1085 "Key Value Extraction"
### 🚀 The feature

Request for a feature where we could get the key and its value as output in forms like documents.

### Motivation, pitch

I was working on Storing keys and values from forms,pdf etc and saving into rdbms,the current system dosent provide way to assign the key with values,so this feature would be of great help to all who are working on digitilisation of forms.

### Alternatives

[2022-10-06 06:58] felixdittrich92 commented on #1085
Hi @mmkulkarni09 :wave:,
thanks for opening the issue.

With key value extraction you mean something like LayoutLM ?
Example: (scroll to the bottom)
https://github.com/NielsRogge/Transformers-Tutorials/blob/master/LayoutLMv3/Fine_tune_LayoutLMv3_on_FUNSD_(HuggingFace_Trainer).ipynb

[2022-10-06 08:19] felixdittrich92 opened #1089 "Colab tutorials are not running as expected"
### Bug description

The tutorials are outdated and need to be update :
https://github.com/mindee/notebooks

- update installation
- other code is ok

[2022-10-06 13:34] felixdittrich92 commented on #1077
@zahidetastan feel free to reopen if it is not solved for you :hugs:

[2022-10-06 13:34] #1077 closed

[2022-10-06 13:52] felixdittrich92 opened #1090 "Keep HF Space up-to-date with GitHub action"
### 🚀 The feature

We should setup a github action as described in: https://huggingface.co/docs/hub/spaces-github-actions
to keep the HF Space demo actual

[2022-10-06 13:54] felixdittrich92 opened #1091 "Release tracker - v0.7.0"
This issue is to be used to track the roadmap of docTR for release v0.7.0, and collect feedback from users & contributors.

- Onnx
    - [x] #790
    - [x] #978

- Demo content
    - [x] #1089
    - [x] #1206

- Models
    - [x] #969 (TensorFlow)

[2022-10-11 07:44] kchawla-pi commented on #113
Assuming your work is open source, where can I see your recipe and efforts,
to build off of?

On Wed, May 25, 2022, 22:33 mara004 ***@***.***> wrote:

[2022-10-11 08:05] felixdittrich92 commented on #113
Hi @kchawla-pi 👋 ,
Yes the project is open source (Apache 2.0 License). What do you mean with recipe / efforts related to conda build ? Could you explain a bit more in detail what you need ? 😅

[2022-10-11 10:15] mara004 commented on #113
@felixdittrich92 I think @kchawla-pi meant me, right?
pypdfium2 is open source indeed, but I deleted the conda branch out of sheer frustration. Some attempts I never even pushed. Anyway, the state wasn't good at all and you're probably better off starting from scratch if you want to make an attempt yourself.

[2022-10-12 07:15] felixdittrich92 opened #1095 "[PreProcessor] pad smaller inputs by default"
### 🚀 The feature

We should pad the input if the size is smaller as our default (detection: 1024, 1024) (recognition: 32, 128)
ref #1084 and rescale the coordinates afterwards depending on the padding scale.

We need a latency benchmark between the current flow and then with padding by default.

### Motivation, pitch

This should improve the detection results overall also for smaller inputs and r

[2022-10-15 12:09] frgfm commented on #895
Binarization threshold then, we could increase the value but the manual tuning will never end either way :sweat_smile:
This type of threshold should be a hyperparam tuned for each detection model :/

[2022-10-15 12:12] frgfm commented on #554
Mmmh, I think we should consider document edge segmentation as a separate task that can be handled by docTR. That way, people could pass it to the corresponding model without making the core pipeline too complex for now

[2022-10-15 20:14] felixdittrich92 commented on #554
Sounds good to me 👍

[2022-10-19 08:46] bely66 commented on #515
I have the same issue when I try to initialize sar_resnet31
I made sure I'm on the latest dev branch

[2022-10-19 11:34] felixdittrich92 commented on #515
Hi @bely66, currently sar and master have no pretrained checkpoints so if you want to use it you need to train it from scratch.
Providing pretrained checkpoints for each model is pinned for 0.7.0 :)

[2022-10-19 13:36] mmkulkarni09 commented on #1085
Thanks for the reply @felixdittrich92,Can you Please suggest a way to directly use key-value parser on any forms by using pre-trained models?

[2022-11-21 09:15] pratheesh-prakash opened #1104 "NumPy userwarning(s) while importing doctr"
### Bug description

While importing doctr, I am getting Userwarning messages from numpy.

Expectation: No warning messages.

### Code snippet to reproduce the bug

[code]

### Error traceback

[code]

### Environment

DocTR version: 0.6.0
TensorFlow version: 2.9.0
PyTorch version: N/A (torchvision N/A)
OpenCV version: 4.6.0
OS: elementary OS 6.1 Jólnir
Python version: 3.8.10
Is CUDA available (Te

[2022-11-22 08:59] Maxvankekeren-IT opened #1105 "Text ending with " : ----" get's wrong geometry coordinates"
### Bug description

I use the DocTR to scan a PDF document for OCR. It's a large multi-page document with lots of weird characters. DocTR does a great job detecting and converting it to text. (It works shockingly well actually. ) Only problem, we've found is as follows:

Some sub-headings in our document are structured like: "This is the sub-title : --------" After the : the rest of the sentence

[2022-11-29 04:58] bzamecnik opened #1107 "Reco pre-processing with multithread_exec crashes on M1 Mac"
### Bug description

Pre-processing of crops for text recognition in calls `multithread_exec()` which crashes. Disabling it via exporting `DOCTR_MULTIPROCESSING_DISABLE=true` avoids the crash. In particular, it's called here:
[code]

- `python --version`: Python 3.9.13
-  `conda --version`: conda 4.12.0
- `doctr`: version 0.6.1a0, commit: acb9f64b11ebad8e53ac60737fcde8dbd3158a22

### Code snippet