[2021-01-11 09:52] fg-mindee opened #1 "[documents] Add basic document reader"
For documents to be analyzed, we first need to add a utility for document reading (PDF mostly). The following specs would be nice to have:
- inherit for a shared reader class ("DocumentReader" for instance)
- to be located in the `doctr.documents.reader`  module

The following formats should be handled:
- [x] PDF (#8, #25): this resource would be nice to check: https://github.com/pymupdf/PyMuPDF
-

[2021-01-11 09:56] fg-mindee opened #2 "[ci] Setup basic PR checks"
The following should be setup:
- [ ] lint checking using flake8
- [ ] typing annotation check with mypy
- [ ] unittests using pytest and coverage
- [ ] package installation verification

[2021-01-11 09:58] fg-mindee opened #3 "[models] Add detection module"
Design a model subpart that is responsible to localize regions of interest in the document.

**Input**
- Numpy-style encoded images (already read)

**Output**
- localization: list of tensor of prediction. Each prediction is of size 5 (xmin, ymin, xmax, ymax, objectness)

**Core components**
With DetectionPredictor being the main class, with the following components:
- [x] Preprocessor (#20)
- [x]

[2021-01-11 09:59] fg-mindee opened #4 "[models] Add text recognition module"
Design a model subpart that is responsible to identify text strings inside the regions of interest of an image

**Input**
- images: Numpy-style encoded (cropped) images (already read), expected to hold a single character sequence

**Output**
- text: list of N strings, where N = number of cropped input images

The following components would be required:
- [x] Preprocessor (#20, #33)
- [x] Recogniti

[2021-01-11 10:09] fg-mindee opened #5 "[models] Add model compression utils"
Add a `doctr.models.utils` module to compress existing models and improve their latency / memory load for inference purposes on CPU. Some interesting leads to investigate:
- [x] FP conversion (#10)
- [x] Quantization (#10)
- [ ] Pruning (cf. https://www.tensorflow.org/model_optimization/guide/pruning/comprehensive_guide)
- [x] TF Lite export (#10)
- [x] ONNX export (cf. https://github.com/onnx/ker

[2021-01-11 10:13] fg-mindee opened #6 "[documents] Add basic export module"
The output object type of a document analysis should be defined as follows:
- structured hierarchy as stated in the design doc
- have export methods to different formats.

[2021-01-12 08:57] #2 closed, assigned to fg-mindee

[2021-01-12 15:43] fg-mindee opened #11 "[docs] Add documentation building dependencies"
Some basic documentation with proper installation and usage installations would be greatly beneficial to the library. This would be the privileged mean of communication with non-developer audiences.

Having it being automatically built using something similar to sphinx would be efficient considering all docstring will have a compatible format.

[2021-01-12 17:05] fg-mindee opened #13 "[docker] Set up a docker able to run the library"
For users/developers working with containers, it would be very useful to have a Dockerfile that can run a working container with the library and minimal image size.

[2021-01-13 16:14] fg-mindee opened #14 "[documents] PDF & image input page have different dimensions data formats"
If we consider that the document analysis output is used for document reconstruction, a problem arises for pages. Simply put, image pages have their dimensions in pixels, while PDF have theirs in inches/centimeters and hold a DPI parameter.

Two questions have to be tackled:
- [x] uniformity: should we enforce some uniformity of dimensioning for pages whatever the format?
- [x] export: either way,

[2021-01-13 16:17] fg-mindee opened #15 "[documents] Page elements could also be QR Code, Pictures, etc."
The current design for page elements only considers text, while the actual documents do have a much wider variety in terms of page elements. Among others, the structure should have non-text elements integrated such as:
- QR Codes
- Bar codes
- Pictures
- Signature / Signed initials
- Watermarks / logo

In the end, we would need to:
- [x] Select the artefact types to be supported by the library
- [

[2021-01-14 15:38] #11 closed, assigned to fg-mindee

[2021-01-14 17:37] #13 closed, assigned to fg-mindee

[2021-01-15 10:44] #6 closed, assigned to fg-mindee

[2021-01-18 14:41] fg-mindee opened #22 "[documents] How should we handle empty pages (without any text detection proposals)"
Should we only leave an empty list for blocks? Or should we put a special symbol/block specifying this is an empty page?

[2021-01-18 18:14] fg-mindee opened #23 "[documents] Benchmark PDF document reading + numpy conversion options"
Currently, the core reading of PDF document is made with PyMuPDF. This needs to be benchmarked against alternatives to ensure we use the optimal backend here.

[2021-01-20 15:48] charlesmindee opened #27 "Pb: unitest text_export_size not passing on tf 2.3.1"
Unitest text_export_size not OK locally on tf 2.3.1 :

[code]

[2021-01-20 15:56] fg-mindee opened #28 "[scripts] Add a script for environment collection"
To be able to systematically identify sources of reported issues, each bug report should come with a description of the user's environment. A script would be required to collect among others:
- Python version
- Tensorflow version
- NVIDIA driver version
- CUDA version

The user would only have to paste the result in the PR description.

[2021-01-21 09:17] #1 closed, assigned to charlesmindee, fg-mindee

[2021-01-21 10:34] fg-mindee opened #31 "Write a conversion function from Image + bounding boxes to cropped images"
The detection block is currently returning a list of bounding boxes, while the recognition block is actually using cropped images. The recognition pre-processing needs to handle this.

**Input**
- images: Numpy-style encoded images (already read)
- bounding boxes: list of tensor of predictions of size N*4 (xmin, ymin, xmax, ymax)

**Output**
- cropped images: N cropped images

[2021-01-22 11:42] #31 closed, assigned to fg-mindee

[2021-01-27 10:15] fg-mindee opened #40 "[models] Add full OCR module"
Design an object that will wrap all DL model components and be responsible for localizing and identifying all text elements in documents.

**Inputs**
- a collection of documents, where each document is a list of pages, themselves expressed as numpy-encoded images.

**Outputs**
- a collection of `Document` objects

The following components will be required:
- [x] DetectionPredictor (#39)
- [x] Reco

[2021-01-27 10:27] fg-mindee opened #41 "[models] Add a pretrained checkpoint loading mechanism"
Architecture definitions are already available in the repo, but it still lacks a way to load a set of pretrained parameters. This should be tackled for the upcoming release. Here are the requirements:
- [x] Select a checkpoint format: `.ckpt`
- [x] Implement necessary methods/functions to save and load the checkpoint: keras inherited (#49)
- [x] Ensure data integrity (SHA256 hash most likely) (#49

[2021-01-27 10:44] #3 closed, assigned to charlesmindee

[2021-01-27 10:44] #4 closed, assigned to charlesmindee, fg-mindee

[2021-01-28 09:50] fg-mindee opened #42 "[utils] Add visualization utilities"
Users cannot easily visualize the results of OCR models. Some steps would have to be taken to handle this issue properly:
- [x] Establish a visualization design (considering the density of predictions to display)
- [ ] Implement it in the `doctr.utils` module (#54)

Here is a nice thread about matplotlib dynamic display: https://stackoverflow.com/questions/7908636/possible-to-make-labels-appear-wh

[2021-01-29 15:00] fg-mindee opened #46 "[models] Properly design the preprocessing for detection & recognition"
Let's review the raw inputs, and all the transformations we need to apply for the model to process it correctly.
**Inputs**
- List of images, where each image is expressed as a `numpy.ndarray` of arbitrary shape (H, W, 3) and encoded in `np.uint8`

**Transformations**
Please note that the order below is important:

**Detection**
- convert to `tf.Tensor`
- resize each image to a fixed height & widt

[2021-01-29 17:25] fg-mindee opened #47 "[models] BN layers call behaviour depends on a 2nd argument"
According to TF [documentation](https://www.tensorflow.org/api_docs/python/tf/keras/layers/BatchNormalization#call_arguments_2), BN layers have a second argument in their `call` method which changes its behaviour. This raises the following question:
- how do we pass down this information in a Sequential for instance?
- if it's possible, shouldn't this be a layer attribute that we can switch? (`bn.

[2021-02-01 10:58] #41 closed, assigned to charlesmindee, fg-mindee

[2021-02-01 14:25] #47 closed, assigned to fg-mindee

[2021-02-01 14:58] #46 closed, assigned to charlesmindee, fg-mindee

[2021-02-02 10:42] #40 closed, assigned to fg-mindee

[2021-02-02 12:59] fg-mindee opened #53 "[models] Add minimum pretrained models"
For the library to be used as an end-to-end tool, some assets need to be provided:
- [ ] detection pretrained model (#62)
- [ ] recognition pretrained model (#62)

Only then, we will be able to consider this as a potential MVP.

[2021-02-02 16:09] #14 closed, assigned to fg-mindee

[2021-02-04 09:30] fg-mindee opened #56 "[docs] Enable documentation of multiple versions at once"
As of now, the documentation that would be deployed publicly is only the latest version. The better alternative would be:
- having the latest version by default
- having the documentation of each release accessible as well using a displayed selector

Hugginface transformers did the following: https://github.com/huggingface/transformers/blob/master/.circleci/deploy.sh

[2021-02-04 10:28] #42 closed, assigned to charlesmindee

[2021-02-04 10:34] fg-mindee opened #57 "[utils] Move doctr dependences out of doctr.utils"
The `doctr.utils.visualization` introduces a dependency of other modules, which might be troublesome later. Several options are at our disposal:
- sterilize these imports, and implement the specific version in the modules of the former dependency
- use exported dictionary versions of element to plot (typing would then not require the imports of doctr.documents)

Any other suggestion is welcome!

[2021-02-09 08:28] fg-mindee commented on #53
Since their architectures was updated, new versions of pretrained models need to be trained

[2021-02-09 09:47] charlesmindee opened #71 "[Models] Add SAR teacher forçing during training (decoder)"
Teacher forçing (feeding the LSTM decoder of SAR with ground-truth characters during training) is not implemented, and it should really improve performances

[2021-02-09 10:01] fg-mindee opened #72 "[models] Recognition resize + padding should dynamically select the side for padding"
For now, in recognition pre-processing, the crops are resized to a fixed height, then padded. For exotic aspect ratios, this might be a big issue, so here is my proposal:
- First, we resolve which side should be selected for fixed resizing
- Then, we pad the other accordingly

[2021-02-09 10:33] fg-mindee commented on #71
Could you elaborate on the part of the paper where this is mentioned please? :pray:

[2021-02-09 15:48] charlesmindee commented on #71
"All the LSTM inputs are represented by one-hot vectors, followed by a linear ransformationΨ(). During training, the inputs of decoder LSTMs are replaced by the ground-truth character sequence"

[2021-02-09 17:32] #72 closed

[2021-02-09 17:37] fg-mindee commented on #27
Since the unittest has been adapted by #62, I'm moving this to next milestone considering this requires feedback from the TF team

[2021-02-10 17:33] #28 closed

[2021-02-11 15:52] #57 closed

[2021-02-12 15:49] #53 closed

[2021-02-15 15:16] fg-mindee opened #89 "[utils] Add visualization capabilities for independent tasks"
Visualization is end-to-end for the moment dynamic, but this means that a static version is not currently available, nor that there is a visualization option for text detection or text recognition only. We should discuss and add visualization for the following blocks:
- [ ] Text detection: display bounding boxes of detected items over the image
- [ ] Text recognition: display the label and confide

[2021-02-16 09:17] mohamedmindee commented on #22
I think we should return an empty list for blocks.

[2021-02-18 10:33] fg-mindee opened #94 "[models] Add a descriptive table for pretrained models"
The documentation does provide the list of implementation architectures, but some information is lacking without reading the code:
- input image size
- size of the model (# params)
- performance

[2021-02-19 11:23] fg-mindee opened #100 "Add __repr__ to main classes of the package"
Existing classes of the package don't have any `__repr__` set, which makes it difficult for new users to understand what each object is composed of.

The following classes would greatly benefit from adding a repr:
- [ ] Elements and all classes inheriting from it (#102)
- [ ] Models (#102)

[2021-02-19 17:01] #100 closed

[2021-03-01 17:15] charlesmindee opened #105 "[models] Profiling models for temporal optimization"
Line Profiler [https://github.com/pyutils/line_profiler](https://github.com/pyutils/line_profiler)  is used to perform model profiling, to highlight the most time-consuming lines when our models are running.

For an OCRPredictor with a sar_vgg16_bn coupled with a db_resnet50, we have the following analysis:

- the whole recognition model (SAR)  accounts for 85% of the total execution time (OCR pre

[2021-03-01 17:36] #94 closed

[2021-03-01 17:41] fg-mindee commented on #105
Thanks a lot for the investigation! By any chance, would you have the result on the CRNN as well?

I agree with your conclusion, we should try to make lighter versions of the SAR in the next release. Two questions though:
- with which input size did you conduct the study on the SAR? (by default 4 times bigger than the CRNN)
- are you positive they were pretrained ? (if not, it decreases the pre/po

[2021-03-02 11:20] charlesmindee commented on #105
I am profiling the CRNN this afternoon, and I conducted the study with a 64 x 256 size for the SAR (default in the current pretrained models). Both models were pretrained.

[2021-03-02 12:34] #71 closed

[2021-03-04 10:13] fg-mindee opened #109 "[utils] Add a metric computation feature for detection & recognition"
For users to confirm the performance we display for pretrained models, they would need an easy way to reproduce these results. As such, I suggest that we add a `doctr/utils/metrics.py` module that will implement this.

As a first implementation, we could try to implement a keras [inherited](https://www.tensorflow.org/api_docs/python/tf/keras/metrics) class for:
- [x] Text detection (#117)
- [x] Te

[2021-03-07 18:30] fg-mindee opened #113 "[conda] Unable to make a conda build"
Unfortunately, one of the project dependencies does not have any conda release or any way to make one. I opened an issue on their repo https://github.com/pymupdf/PyMuPDF/issues/938 to track this, but so far I haven't found any way to release the project on anaconda with this dependency.

[2021-03-08 08:05] charlesmindee commented on #113
Is it mandatory to support conda? If so, maybe we can switch to another pdf-reader lib.

[2021-03-08 08:35] fg-mindee commented on #113
Not mandatory but this is a very common installation mean for python package. We might investigate other options to replace the dependency but we'll have to check for performance drop first

[2021-03-08 09:23] fg-mindee opened #115 "[encoding] Unify string encoding for datasets and models"
As of the latest commit, models are trained with a string encoder that is not particularly ordered (TF records). To clean all of this, I suggest the following:
- [x] Define pre-established vocab that we will use as encoders for your future models (#116)
- [ ] Address the topic of vocab mapping (converting an accented character to its raw version for instance)
- [x] Standardize dataset label encodi

[2021-03-08 09:26] fg-mindee commented on #115
So, here are a few suggestions:
[code]
For reference, the 'latin' vocab would yield:
[code]

For later, I think it would be useful to have:
[code]

[2021-03-08 09:30] charlesmindee commented on #109
For end-to-end OCR metric, it could be interesting to use a kind of mixed-metric such as in [this repo](https://github.com/faustomorales/keras-ocr/blob/master/keras_ocr/evaluation.py):

- compute IoU between boxes
    - if IoU > detection_thresh, compare sequences
        - if sequences are the same (or lev distance < distance_thresh to smooth it): **true positive**, else **near true positive**
-

[2021-03-08 18:05] mohamedmindee opened #118 "ValueError on model call"
## 🐛 Bug

When calling the model on a document, I get a ValueError.

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

## Example of pdf causing the error

[000f51e2-b734-48d9-968f-e77e3b022844.pdf](https://github.com/mindee/doctr/files/6103257/000f51e2-b734-48d9-968f-e77e3b022844.pdf)

[2021-03-08 19:09] fg-mindee commented on #118
So far my investigations have pointed out two things:
- [ ] Result export: there is an edge case that we haven't handled (export of results when there is no detection in a page). This will be fixed by #119
- [ ] Detection failing: either there is a silent fail on model loading or there is a recent issue we have to tackle. I'm still investigating

[2021-03-09 15:48] #56 closed

[2021-03-09 16:11] #109 closed

[2021-03-09 16:18] fg-mindee opened #124 "[docs] Add performance benchmark for all pretrained models"
There are a few tables in the documentation that still need filling:
- [x] Text detection (#143)
- [x] Text recognition (#143)
- [x] End-to-End OCR (#143)
- [ ] Comparison with similar solutions (#149)

We need to select a public dataset for each task and run the evaluation on their respective test sets, then report the results back in these tables.

[2021-03-10 10:47] charlesmindee commented on #23
**PDF reader benchmark:**
Some librairies are old and not well-maintained, such as PyPDF2. Here are the principal maintained potential alternatives:

- PyMuPDF (based on MuPDF, a lightweight software lib in C)
- pikepdf (based on QPDF, C++ powerful lib)
- pdfminer.six (pure python package)
- PyPDF3/4 (improvement of PyPDF2, pure python package)
- python-poppler (based on xpdf-3.0, software tool)

[2021-03-10 15:37] charlesmindee opened #127 "[metrics] Benchmark python options for text-distance computing"
**Options for computing distance between 2 character sequences in python:**

- textdistance: full python lib
- jellyfish: full python lib
- strsimpy: full python lib
- python-Levenshtein: C lib
- edlib: C++ lib (python binding)
- RapidFuzz: C++/python lib
- polyleven: C/python lib

All these libs provides algorithms such as Levenshtein distance, Hamming distance, Jaro-Winkler distance, ... To comp

[2021-03-10 16:20] fg-mindee commented on #127
Thanks a lot for the investigation!
Among the two best candidates ([rapidfuzz](https://github.com/maxbachmann/RapidFuzz) & [python levenshtein](https://github.com/miohtama/python-Levenshtein#maintainer-needed)) , I checked a few additional things:
- ease of installation: pip available for both, but rapidfuzz also has a conda build
- dependency complexity: C or C++ compilation for both
- maintenanc

[2021-03-10 16:49] #127 closed

[2021-03-10 16:50] fg-mindee commented on #23
Let's stick with PyMuPDF for now then and hope that we somehow manage to get around #113 later on!

[2021-03-10 16:50] #23 closed

[2021-03-10 17:16] charlesmindee commented on #22
It is perfectly fine to return an empty list for me, let's close the issue 👌

[2021-03-10 17:16] #22 closed

[2021-03-11 10:33] #118 closed

[2021-03-11 15:40] charlesmindee opened #131 "[data] Handle different cases of vertical text"
We need to keep in mind that we will come across 2 cases of vertical text:
- "Rotated" vertical text: horizontal text with a +/-90° rotation (rotated letters)

![rotated](https://user-images.githubusercontent.com/70526046/110812310-ca3b1e80-8287-11eb-8605-17df2e8dff47.jpg)

- "Truly" vertical text: a text with horizontal letters (unrotated letters), written from top to bottom

![vertical](https://

[2021-03-12 12:17] jonathanMindee opened #134 "TypeError: Expected Ptr<cv::UMat> for argument 'array' when using read_pdf()"
Can't execute read_pdf() function.

See the pdf file sent over slack to reproduce.

python 3.6.9

[code]

[2021-03-12 12:29] fg-mindee commented on #134
@jonathanMindee Thanks for reporting this, would you mind specifying whether you used the example script?
or if this is a python script, can you produce a minimal version that raised this error please?

[2021-03-12 12:41] jonathanMindee commented on #134
Sure, I used the sample code in the README.md

[code]

[2021-03-12 13:33] fg-mindee commented on #134
Strange, I'm not able to reproduce the error, even with the sample pdf.
Could you run our diagnostic script and report back the result?
[code]

[2021-03-12 13:38] jonathanMindee commented on #134
Collecting environment information...

DocTR version: 0.1.1a0
TensorFlow version: 2.4.1
OS: Ubuntu 18.04.5 LTS
Python version: 3.6
Is CUDA available: No
CUDA runtime version: Could not collect
GPU models and configuration: GPU 0: GeForce RTX 2080 Ti
Nvidia driver version: 455.45.01
cuDNN version: Probably one of the following:
/usr/local/cuda-11.1/targets/x86_64-linux/lib/libcudnn.so.8.0.5
/usr/lo

[2021-03-13 15:46] fg-mindee commented on #134
So my investigation led me to this conclusion:
in very rare cases (occurring in one page of the document you used), the conversion of one segment (extracted from the segmentation from the text detection model) to a bounding box failed. The reason behind that is that the extrapolation of the segment to a polygon generated two sets of points rather than one. As this is used to be casted to a contigu

[2021-03-15 08:22] #134 closed

[2021-03-15 16:17] fg-mindee opened #144 "[documents] Check for input PDF with PyMuPDF when it's source content"
So far, we have used the content reading feature of PyMuPDF. When a source PDF is read, the library actually extracts all the localization and text information from the document. Two options are then available:
- skipping the model inference and use this
- combining it with the model inference to improve our predictions

[2021-03-16 14:17] #124 closed

[2021-03-17 11:22] fg-mindee commented on #5
A good lead for ONNX support would be to use https://github.com/onnx/tensorflow-onnx (might have to create a savemodel to use it but it's worth a look)

[2021-03-18 08:39] charlesmindee commented on #144
I think we should skip inference in that case, why would we loose time to have worst performances ?

[2021-03-25 09:56] fg-mindee opened #166 "[documents] Harmonize file reading"
A package user has to import different functions to read a file depending on its extension, and reading mean (from path, from bytes). This needs serious refactoring.
- [ ] Handle reading means
- [ ] Handle extensions

[2021-03-25 09:59] fg-mindee opened #167 "[docs] Add a visualization of the example script in the README"
While the readme specifies how you can use the example script, it does not show any visualization examples. We could easily add one to help users.

[2021-03-25 11:16] fg-mindee opened #168 "[models] Models should accept list of pages as inputs and not list of documents"
The current behaviour overcomplicates things since a document is already a list of pages.
The only advantage of the current behaviour is to save potentially 1 forward. Assuming we have 1 document with A pages and a second document with B pages, and our batch size N:
- currently, we do `math.ceil((A + B) / N)` forwards
- the proposition would have `math.ceil(A / N) + math.ceil(B / N)` forwards

The

[2021-03-25 16:48] #168 closed

[2021-03-26 11:56] #166 closed

[2021-03-26 13:04] #167 closed

[2021-04-01 09:17] fg-mindee opened #190 "[datasets] Optimize dataloaders for faster iterations"
The current training scripts in `references` are way too slow.
Let's discuss here how we can improve them

[2021-04-01 12:24] fg-mindee commented on #190
Let's benchmark our current pipeline
[code]
yields 25.6 sec

Using `ImageDataGenerator`

[code]
yields 112sec

Using `tf.data.Dataset`:
[code]
yields 1.36s

Using `tf.data.Dataset` while batching:
[code]
yields 1.35s

[2021-04-02 07:02] charlesmindee commented on #190
Thanks for the benchmark!

[2021-04-02 07:21] charlesmindee commented on #190
We should also add a tf.utils.Sequence loader to the benchmark to compare with our solution

[2021-04-02 10:26] fg-mindee commented on #190
Alright, I just checked `tf.utils.Sequence` in the exact same conditions with the same data.

With this snippet:
[code]

I get 38.50sec ... (the fact that there is no parallelization must be quite significant here)

[2021-04-02 15:06] charlesmindee commented on #190
Thanks for the benchmark!

[2021-04-02 15:36] charlesmindee commented on #115
To address the 2nd point of the issue, I looked at Huggin Face Normalizer class:
[huggin face module-tokenizers.normalizers](https://huggingface.co/docs/tokenizers/python/latest/api/reference.html#module-tokenizers.normalizers).
The normalizers perform conversion to lower case, accent stripping, chinese characters removal, spaces removal and contains basic unicode normalizers: NFC/D, NFKC/D. The d

[2021-04-08 13:09] fg-mindee commented on #190
For reference, the proposed implementation of #198 :
[code]

yields: ~3.45sec

[2021-04-23 14:13] othmanechentouf opened #213 "ImportError: cannot import name 'DocumentFile' from 'doctr.documents'"
Whenever I try to execute the same code presented in the main page, I get this error : "ImportError: cannot import name 'DocumentFile' from 'doctr.documents' (/Users/Aksol/miniconda3/lib/python3.8/site-packages/doctr/documents/__init__.py)".
I can't find a solution around it, I tried cloning the repo in Google Colab and I still get the same error.
Has anyone came across the same problem and had a

[2021-04-23 14:37] fg-mindee commented on #213
Hi @othmanechentouf :wave:

Thanks for the issue! Would you mind either specifying how you installed doctr? :pray: Or run this
[code]
and report the results back here

Most likely, looking at the error message you mentioned, you installed it from pypi, which is the last release. The readme on the main branch refers to the codebase as is, which keeps evolving between each release. If so, you can ru

[2021-04-23 14:55] othmanechentouf commented on #213
Thank you for your fast answer @fg-mindee 💯  , this is why I got from running the first commands :
Collecting environment information...

DocTR version: N/A
TensorFlow version: 2.4.1
OpenCV version: 4.2.0
OS: Mac OSX 11.0.1
Python version: 3.8
Is CUDA available: No
CUDA runtime version: No CUDA
GPU models and configuration: No CUDA
Nvidia driver version: No CUDA
cuDNN version: No CUDA

The error h

[2021-04-23 14:57] othmanechentouf commented on #213
Thank you for your fast answer @fg-mindee 💯 , this is why I got from running the first commands :
Collecting environment information...
DocTR version: N/A
TensorFlow version: 2.4.1
OpenCV version: 4.2.0
OS: Mac OSX 11.0.1
Python version: 3.8
Is CUDA available: No
CUDA runtime version: No CUDA
GPU models and configuration: No CUDA
Nvidia driver version: No CUDA
cuDNN version: No CUDA
The error has

[2021-04-23 15:30] fg-mindee commented on #213
That's strange. Let's investigate this:

1. Can you uninstall all existing versions of the package and reinstall?
For this, run the following comands and say yes if asked to confirm
[code]
Then navigate where you cloned the repo:
[code]

2. Try importing doctr
[code]
If you get any errors, let me know

3. Print the version
[code]
Let me know what gets printed if this runs successfully :pray:

[2021-04-23 15:40] othmanechentouf commented on #213
Import doctr works fine with no errors but I still get this error when trying to print the version :

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-24-88d1aa650148> in <module>
      1 import doctr
----> 2 print(doctr.__version__)

AttributeError: module 'doctr' has no attribute

[2021-04-23 15:47] fg-mindee commented on #213
Oh two things then:
- if it's a notebook, once you've reinstalled doctr, you need to "restart kernel"
- once it's done, try again the command: "from doctr.documents import DocumentFile" it should work

[2021-04-23 17:59] othmanechentouf commented on #213
It is working perfectly now, Thank you for your help!!

[2021-04-23 18:01] #213 closed

[2021-04-26 11:39] charlesmindee opened #215 "[models] Implement HRGAN or MASTER"
[This paper](https://arxiv.org/pdf/1904.01375v5.pdf) suggests a new architecture: Holistic Representation Guided Attention Network for text recognition model, inspired from transformers, which oustands SAR both in accuracy & speed.

We should implement this model, but the impressive speed results should be handled carefully (X8 speed compared to SAR), since the experiments are conducted on a GPU,

[2021-04-26 13:06] Morluche opened #216 "Demo app error when analyzing my first document"
## 🐛 Bug

I tried to analyze a PNG and a PDF, got the same error. I try to change the model, didn't change anything.

## To Reproduce

Steps to reproduce the behavior:

1. Upload a PNG
2. Click on analyze document

[code]

## Additional context

First image upload

[2021-04-26 13:13] fg-mindee commented on #216
Hi @Morluche !
Thanks for reporting this, would you mind sharing the doc or image that you used so that we can reproduce the error please ? :pray:

[2021-04-26 14:14] Morluche commented on #216
<img width="396" alt="Capture d’écran 2021-03-01 à 11 21 43" src="https://user-images.githubusercontent.com/66415445/116097331-570c3100-a6aa-11eb-82b1-90606bcb748a.png">
[dropcontact_invoice_Azq8WZSSg3AUMHCT (1).pdf](https://github.com/mindee/doctr/files/6377755/dropcontact_invoice_Azq8WZSSg3AUMHCT.1.pdf)

[2021-04-27 08:32] charlesmindee opened #218 "[documents] improve line detection"
An OCR predictor must detect lines, and our current version is too weak:
- many lines overlap
- some lines stop in the middle of a dense block whereas other lines are kind of "bridging" between separated blocks.

![line11](https://user-images.githubusercontent.com/70526046/116210562-465bc980-a743-11eb-8806-80afa34863dd.png)

[2021-04-27 08:58] #216 closed

[2021-04-27 16:57] #218 closed

[2021-04-28 15:00] fg-mindee opened #223 "[models] Implement an Artefact object detector"
Following up on #15, I believe we should consider a major feature for artefact detection. For now, the different artefact that we consider would be:
- Check boxes
- QR Codes (#259)
- Bar codes (#260)
- Signature / Signed initials
- Pictures (faces #258)
- Logo / watermarks

Training an object detection model might be a good option to start from!

[2021-04-28 15:00] fg-mindee commented on #15
Closing this as model implementation & training will be tracked in #223

[2021-04-28 15:00] #15 closed

[2021-04-28 15:03] fg-mindee commented on #190
Should we remove the "critical" flag and consider this as a long-term issue or close the issue altogether @charlesmindee ?

[2021-04-28 16:04] #144 closed

[2021-04-29 08:03] charlesmindee opened #225 "[models] detect page orientation"
We should be able to detect the rotation of a page (angle from 0 to 359°) to redress the page before sending it to the OCR.
This would highly improve our predictor on "tricky" datasets where pages are often rotated.

Some documents are very complex and have areas of text with different orientations, but even for these documents we can define a main orientation for the page (most of the lines would

[2021-05-04 11:09] fg-mindee opened #232 "[document] Check integrity of PDF --> img conversion with default DPI"
The current PDF reading implies a conversion to an image. As we are using the default args for this conversion, the DPI value might be low. We need to check that the default parameter is not bringing about performance issues due to low resolution rendering.

[2021-05-04 11:14] fg-mindee opened #233 "[api] Add a minimal API setup with DocTR"
Since the library can be used to build an API, we could add a minimal codebase for users to deploy a light API for OCR on documents.

Here is a more detailed suggestion:
- put everything in a `api` folder
- implement it with FastAPI
- implement a POST method "/analyze" that returns the OCR results

spread into 3 PRs:
- [x] Text recognition route (#242)
- [x] Text detection route (#245)
- [x] OCR r

[2021-05-04 11:40] fg-mindee opened #234 "[demo] Improve UI for OCR result display"
For very dense documents, since the predicted text value is plotted statically, there can be some readability issues. We should try to improve this

[2021-05-04 11:42] fg-mindee opened #235 "[docs] Better specify which vocab is supported by which model"
Without reading the code, it is not possible currently to know the specific alphabet used, and which model is using which. We need to tackle this

[2021-05-04 12:00] fg-mindee opened #236 "[docs] Make the landing page of the documentation more user-friendly"
The landing page of the documentation should include the list of core features of the library and a broad overview of how the package is made.

[2021-05-05 10:30] #235 closed

[2021-05-05 10:30] #236 closed

[2021-05-05 10:53] fg-mindee commented on #232
As per https://github.com/mindee/doctr/pull/237#issuecomment-832585154, we should update the default transformation for pdf reading in https://github.com/mindee/doctr/blob/main/doctr/documents/reader.py#L108

The default transformation matrix (None) yields a low DPI for page rendering. Doubling this while preserving the aspect ratio by default, would yield potentially better results.

I'll open a

[2021-05-05 12:25] #232 closed

[2021-05-06 10:16] fg-mindee commented on #105
Closing this as the insights of this investigation have already been used!

[2021-05-06 10:16] #105 closed

[2021-05-06 10:17] fg-mindee commented on #115
Let's go with the option of having something specifying which alphabet is supported by which model in the document.
As of #238, we can now close this issue!

[2021-05-06 10:17] #115 closed

[2021-05-06 12:45] #27 closed

[2021-05-07 12:38] #233 closed

[2021-05-12 09:57] fg-mindee opened #255 "[models] Add detection & recognition models with much lighter backbones"
Comparing similar vision tasks, the segmentation part of text detection is easier than real-life scene segmentation (on Cityscapes for instance) which uses ResNet-like backbones, and even easier than medical segmentation which uses often lighter feature extractor (cf. UNet).

Additionally, the feature extraction of text recognition is similar to image classification for a single character image (M

[2021-05-12 10:05] fg-mindee opened #256 "[transforms] Failing unittests for transformation"
The following CI job is failing: https://github.com/mindee/doctr/pull/254/checks?check_run_id=2565047900
The reason behind that might either be an edge case or because of the modifications from #249

[2021-05-12 12:16] charlesmindee opened #257 "[models] Text detection model w/o using deep learning"
We need to implement a simple image processing algorithm based classical computer vision techniques (such as adaptative thresholding for instance).
Having such a model would be interesting because it would be ultra-light and wouldn't need training.

[2021-05-17 08:42] fg-mindee opened #261 "[pytorch] Add PyTorch backend integration"
Integrating PyTorch as a possible backend is a natural evolution of DocTR. Two questions need to be answered though, I added some suggestions.

## How do we add the PyTorch counterpart of an object / class / function?
For module `my_module.py`,
- we create `my_module.tf.py` and put the rest in `my_module.pt.py`. If there are non framework-related features, they can be kept in `my_module`. The latt

[2021-05-17 08:44] fg-mindee opened #262 "[datasets] Add a synthetic recognition dataset"
The library would greatly benefit from synthetic data. It could be very helpful for character classification, and text recognition.

Here are suggestions about the augmentations operating on discrete spectrum:
- choice of character in the vocab
- choice of font family
- choice of font style (bold, italic, etc)
_The last two would not be relevant for handwritten characters_

And those operating on

[2021-05-17 08:45] fg-mindee commented on #190
I'll investigate if there are improvement leads with TF2.5 or otherwise close this!

[2021-05-17 08:49] fg-mindee opened #263 "[references] Add FP16 support for training"
The reference training script should have an option to switch from a FP32 training to a FP16 training.
It would raise a question: how to harmonize model loading from both FP?

A few suggestions:
- simply cast the FP16 checkpoint to FP32 before hashing + uploading
- for a given model, each checkpoint is marked with its FP. The user may choose how the model needs to be instantiated: by default the o

[2021-05-18 07:58] jonathanMindee opened #264 "OSError: no library called "cairo" was found"
## 🐛 Bug

I installed doctr on macOS Mojave 10.14.6, python version 3.8.

When running the sample code:

[code]

I get the error:

[code]

[2021-05-18 08:24] fg-mindee opened #265 "[CI] Add workflows to run installation for other OS"
The CI only tests installation for Ubuntu while we should at least check for Windows and Mac!

[2021-05-18 08:28] fg-mindee commented on #264
Thanks, I'll add a CI job to install on a MacOS environment (#265) !
For reference, given the traceback, the error is most likely due to https://github.com/Kozea/WeasyPrint/issues/1279 & https://github.com/Kozea/WeasyPrint/issues/79 . I'll confirm that adding the MacOS job, and will probably fix this by installing the prerequisites from https://weasyprint.readthedocs.io/en/stable/install.html#maco

[2021-05-18 16:00] fg-mindee commented on #264
I'm editing the installation instructions for MacOS users in the PR I just mentioned, here is how to solve your problem:
[code]

SImply put, there is a recent new dependency (weasyprint) whose own deps are included on Ubuntu but not on MacOS or Windows. The PR will solve this :ok_hand:

[2021-05-19 07:27] #264 closed

[2021-05-19 07:27] #265 closed

[2021-05-19 13:23] fg-mindee commented on #256
Recent occurrence of the bug: https://github.com/mindee/doctr/runs/2618450417

[2021-05-19 13:29] lw3259111 opened #271 "train data?"
hello:
Where can I download the training data？

[2021-05-19 13:39] charlesmindee commented on #271
Hi @lw3259111 , our training data is private since most of the images contain very personal and/or sensitive data: invoices, IDs, receipts, forms, contracts, ...
For now, only public test sets (FUNSD and CORD) are available on doctr, but we will probably release our own specific datasets within a few months, and add new public test sets within a few weeks.

[2021-05-19 15:32] fg-mindee commented on #256
I think we have to rewrite the unittests for several transformations because of #249

[2021-05-21 07:43] charlesmindee opened #275 "[models] Stop changing aspect ratio for detection task"
It seems that modifying aspect ratio when resizing to 1024 x 1024 is highly harmful for the OCR for non-squared docs such as cheques, IBAN, cards, etc...

We need to pad images on the smaller side instead.

[2021-05-21 07:45] charlesmindee commented on #271
I am closing this issue for now, since it is inactive.

[2021-05-21 07:45] #271 closed

[2021-05-21 08:26] fg-mindee commented on #275
Agreed, we have to investigate the impact on already trained models (since they do not benefit from the same resizing method) before starting a PR though

[2021-05-21 08:42] charlesmindee commented on #256
Is this still an issue @fg-mindee ?

[2021-05-21 12:16] fg-mindee commented on #256
Yes, I think we have to completely rewrite the unittests for those transformation with randomness. Since our unittests use random tensors, the issue doesn't occurr every single time, but this is still an ongoing issue

[2021-05-21 12:52] fg-mindee commented on #256
Another occurence: https://github.com/mindee/doctr/pull/277/checks?check_run_id=2639277079

[2021-05-21 13:01] #256 closed

[2021-06-02 14:08] charlesmindee opened #292 "[models] Handle watermarks"
Handle watemarks: we don't want the main information of the document to be parasitized by watermarks, so we need an OCR able to distinguish and filter watermarks.

![image (5)](https://user-images.githubusercontent.com/70526046/120495114-b0a7ff80-c3bc-11eb-8186-1ed808aafe76.png)

We could work on word occurrences and find areas covered by highly-repeated words, we could also work on relative contr

[2021-06-04 08:47] charlesmindee commented on #215
[This one](https://arxiv.org/pdf/1910.02562.pdf) seems to be even stronger

[2021-06-11 15:07] fg-mindee opened #305 "[pytorch] Add PyTorch support"
This is a tracker for PyTorch integration for DocTR release 0.3.0

- [x] Enable flexible framework selection for build & imports (#306)
- [ ] PyTorch mirror of doctr.datasets
- [ ] PyTorch mirror of doctr.models (#310)
- [ ] PyTorch mirror of doctr.transforms

[2021-06-11 16:49] #215 closed

[2021-06-14 09:47] fg-mindee commented on #305
Closing this since it's a duplicate of #261

[2021-06-14 09:47] #305 closed

[2021-06-21 14:11] Rob192 commented on #225
Hello !

First of all, thank you for your work, this library is very good.
I am having issues with the detection of skewed documents (french ID cards). I can share my thoughts on this matter, maybe we can discuss them.

1. I found that the method `get_bitmap_angle` is not very robust in estimating the general skew angle of the image. By using a fixed `n_ct` of 20, you get much noise from small box

[2021-06-21 14:51] fg-mindee commented on #225
Hi there @Rob192 :wave:

Glad you found the library useful!
About both your points, I fully agree that this is still not optimal. We're aiming at stabilizing the rotation feature for our next release. To give you more information on this topic:

1. Giving some thoughts about this earlier on, I would argue that the box size per se would not be an ideal filter. However the aspect ratio of unsquashed

[2021-06-26 10:37] jonathanMindee opened #330 "Duplicate words in OCR result"
## 🐛 Bug

Running the sample code:
[code]

I get this result:

![image](https://user-images.githubusercontent.com/41388086/123510227-9808cd80-d67a-11eb-84d5-2290a9c086c1.png)

Everything looks fine but there is some overlap between different words. The mouse is pointing to the word "Header4" and there is another word with the content "4". In that case I'm not able to reconstruct properly the table

[2021-06-26 10:42] jonathanMindee commented on #330
I think using some overlap detection postprocessing it's possible to filter out those duplicates.

[2021-06-26 12:03] fg-mindee commented on #330
Thanks for reporting this!

I'm not sure which way would be the best, but here are some ideas to handle this:
- **Batch post-processing**: NMS to perform with a looser threshold.
- **Manual post-processing**: estimate candidate overlaps with a box IoU. For pairs where there is a text overlap as well, we perform a manual NMS (taking the one with the longest string while having the confidence above

[2021-06-28 08:44] fracav opened #331 "MASTER training"
Hello  and good morning,

I'm trying your fantastic repo to try different OCR architectures, I have successfully managed to train both the crnn model (in its various versions) and also the SAR model. I am trying to train the MASTER model, with no great results. I get all the time Validation loss: + -3.72135 (Exact: 0.00% | Partial: 0.00%)

I am using a multilingual dataset with about 250k training

[2021-06-28 09:45] charlesmindee commented on #331
Hi @fracav,

Thank you for your report & the attention you pay to doctr.
Concerning the MASTER model, the implementation is very recent and we are training the model for the first time this week. I already spotted a mistake in the encoding process of sequences, and there may be more of them since it is not very stable yet. We will include support for Pytorch within a few days, and finish debugging

[2021-06-28 09:52] fracav commented on #331
Hi @charlesmindee,

thanks for your very fast response! Hope to try the new architecture soon and good luck with debugging :).
Have a good day. See you soon.

[2021-06-28 10:12] charlesmindee commented on #330
As a matter of fact, we do want to suppress very small boxes included in other ones, so I suggest the following:
- performing NMS with a very high threshold to filter boxes covered by other ones (avoid repetitions without loosing information).
- merging boxes with a consistent overlapping but with a lower IOU, to keep all the information we need.

This overlapping seems to be mostly frequent with

[2021-06-28 17:14] fg-mindee commented on #330
@charlesmindee Thanks for the suggestion!
However when I suggested an NMS, I thinking about the iterative merging implementation of it
So I fully agree that pure filtering won't be enough. As you mentioned, we might need to use another metric than IoU :+1:

[2021-07-01 15:40] fg-mindee commented on #225
Thanks again for this first step @Rob192 !
For reference in this issue tracker, here are the different steps we consider taking:

**Page-level orientation**
- [x] Add an upfront orientation detection feature (#324)
- [ ] Integrate the feature in the predictor while being disabled by default
- [ ] Check whether this should be enabled by default / Benchmark comparison

**Box/line-level orientation**

[2021-07-01 17:31] fg-mindee commented on #234
I would argue that this was solved by #320
But perhaps we should wait for additional feedback on the readability of this new layout, what do you think @charlesmindee?

[2021-07-02 10:23] fg-mindee opened #341 "[docs] Incorrect predictor description in the documentation"
The documentation still has the legacy preprocessor / model / postprocessor split, but post-processors have been integrated in the model for a cleaner interface. The documentation should reflect that

[2021-07-02 14:17] fg-mindee opened #343 "[docs] Add export format example in the documentation"
The export format is not very clear from the documentation or the readme, there should be a simple example for readers to easily understand it.

[2021-07-02 14:41] charlesmindee commented on #331
This should be fixed now, since #335.
Can you confirm @fracav ?

[2021-07-02 14:43] #341 closed

[2021-07-02 14:44] charlesmindee commented on #190
Any updates @fg-mindee ? If not maybe we can close this issue.

[2021-07-02 19:12] fracav commented on #331
dear @charlesmindee i am glad you solved it quickly.
Tomorrow I plan to try, I'll let you know soon.

[2021-07-02 19:22] fg-mindee commented on #261
Closing this since ONNX support and reference script are a bit far off from this PR

[2021-07-02 19:22] #261 closed

[2021-07-05 07:06] charlesmindee commented on #331
The model converged with a batch size of 64 and a learning rate of 1e-4 on my GPU, in the paper they used a learning rate of 1e-4 x number of GPUs, and I believe it is important to respect that: I first tried with a learning rate of 4e-4 and it resulted in very poor results.

[2021-07-05 07:18] charlesmindee opened #347 "[references] Add learning rate scheduler"
Add learning rate scheduler on both tensorflow and pytorch scripts.

- [x] In TensorFlow ExponentialDecay (#360)
- [ ] In Pytorch (#381)

[2021-07-05 07:54] fracav commented on #331
Hi @charlesmindee  and good morning,

I'm running my experiments on Colab pro (Tesla P100) with input size (48, 160,3), french vocabulary with also whitespace, lr = 0.001 and batch_size = 64. I am using the doctr/references/recognition/train.py script. Over the weekend I was not able to get good results, the predictions are always empty or the repetition of a character max_length times.
Now i will

[2021-07-05 08:49] charlesmindee commented on #331
Hi @fracav,
I don't have this problem anymore since Friday, I have an input size of 32x128, and I don't use whitspace in the vocab. Otherwise I think we have the same parameters, so if you work on the last commit I guess this could either be a vocabulary of dataset issue ?
What is the size of your dataset ?

[2021-07-05 09:24] fracav commented on #331
I have checked and am using the latest version of the repo.I am using a multilingual dataset (French, German, Italian and some Spanish) of about 250k images. I have now launched a new training with the correct lr and now the training works (after the first epoch of training approximately 53% exact). Thanks for the help. Can you tell me why this model is so sensitive to the chosen lr?

[2021-07-05 09:36] charlesmindee commented on #331
Sounds great! I think the huge number of parameters in a transformer model makes it very sensitive to the learning rate, as described [here](https://towardsdatascience.com/hyperparameter-optimization-for-optimum-transformer-models-b95a32b70949):

"two of the most critical hyperparameters to consider when training a Transformer model on an NLP task is the learning rate and the number of training ep

[2021-07-05 10:15] fracav commented on #331
thanks for the explanation, very interesting. Soon I plan to experiment with handwriting recognition with these architectures. I keep you updated.
Good day.

[2021-07-05 11:45] charlesmindee commented on #331
Ok, I will be very interested and curious to see the results!
I am closing this issue for now since it is resolved, but don't hesitate to open a new one if necessary, and feel free to contribute to the package if you want to add a feature or share a dataset!
Have a good day

[2021-07-05 11:45] #331 closed

[2021-07-05 18:31] fg-mindee commented on #190
Not yet, I first want to compare with PyTorch dataloaders to check how far we are from optimized DL dataloaders. TF2.5, from what I've seen so far, optimizes a few things, but there is no new interface for that. Meaning that having the flexibility that we do with our current design, seems to require have TFrecords to work :man_shrugging:

[2021-07-06 07:46] #343 closed

[2021-07-06 08:52] charlesmindee opened #352 "[transforms] Add geometric transformations (train detection models with rotated samples)"
We need to train our detection models with rotated samples, because for now we support rotation but our models are not fitted to predict rotated boxes, which yields to very poor results.

[2021-07-06 09:04] charlesmindee opened #353 "[models] Cannot load MASTER weights"
## 🐛 Bug

I can't load MASTER weights in TF with the` load_pretrained_params` function.

## To Reproduce

[code]
yields:

[code]

## Expected behavior

I expected the weights to be loaded properly

## Environment

[code]

[2021-07-06 09:15] charlesmindee commented on #353
The weights are a bit heavy (256MB), maybe this is linked to the issue.

[2021-07-06 15:00] charlesmindee commented on #353
Can you reproduce the bug @fg-mindee ?

[2021-07-06 15:41] fg-mindee commented on #353
I just tried, on my end, it's loading properly :man_shrugging:

[2021-07-06 19:01] fg-mindee commented on #190
So, I dug quite deep into this to make sure we get appropriate data loading pipelines :

Here are my findings using a more comprehension transformation pipeline (comparison above are no longer relevant):

**TensorFlow**
- Dataset basic iteration: ~29sec
- DocTR dataloader: ~18sec

**PyTorch before #362**
- Dataset basic iteration: ~77sec
- DocTR dataloader: ~23sec (actually it was 39sec before I a

[2021-07-07 07:44] #190 closed

[2021-07-07 08:39] charlesmindee commented on #353
Ok, should I close the issue ?

[2021-07-07 09:06] fg-mindee commented on #353
I think we need to know where it comes from if you have the issue consistently. Perhaps we have a difference in our environment?

I can see that we have different versions of TF & Ubuntu

Here is mine according to the env collection script:
[code]

Perhaps if you try upgrading TF?

[2021-07-07 09:35] charlesmindee opened #364 "In tensorflow (CosineDecay)"

[2021-07-07 09:36] #364 closed

[2021-07-08 08:43] #234 closed

[2021-07-08 14:51] charlesmindee commented on #353
On this environment it works perfectly fine:

[code]
I guess it is a hardware issue...

[2021-07-13 13:37] #347 closed

[2021-07-20 15:05] Rob192 opened #385 "Difference in behavior based on OS"
## 🐛 Bug

I ran into this and I wanted to share with you. Maybe you know if something can be done. There is a difference in the extracted information you get when you treat a document (in my case French ID cards in .jpg) with doctr running on Windows or running in a dockerised Linux environment.

## To Reproduce

Steps to reproduce the behavior:

1. Extract each words from the result of DocumentFi

[2021-07-20 16:29] fg-mindee commented on #385
Hey @Rob192,

Thanks for reporting this! That's indeed a strange behaviour consider most of the word predictions are identical :thinking:
It's gonna be tricky to find, but it might indicate that the segmentation --> box conversion, or the cropping functions are behaving differently depending on the OS.

If it was coming from the TF models themselves, none of the output would be the same. Would you

[2021-07-22 13:14] fg-mindee opened #387 "[models] Enables dynamic sequence length"
Currently, a lot of memory might be wasted if we do inference on a batch of sequences with length smaller than the fixed seq_len. Allowing a soft value `min(self.seq_len, max(len(s) for s in batch))` would save a lot of memory and computation.

But we need to make sure that this does not impact performances in a negative way first!

[2021-07-23 16:14] Rob192 commented on #385
Hello @fg-mindee,
I realized that the difference between the two ouput actually came from the preprocessing I am doing before feeding the image to Doctr. For my use case, I use `cv2.SIFT_create` + `cv2.FlannBasedMatcher` to match a reference CNI card at a reference position. The image resulting from this transformation is clearly different between the Docker and Windows for whatever reason. Theref

[2021-07-23 16:14] #385 closed

[2021-07-23 17:24] fg-mindee commented on #385
Thanks for the clarification @Rob192 :pray:

[2021-07-30 18:51] #387 closed

[2021-08-02 16:27] Ismail-Maj commented on #352
Hello,
I don't know if you're open to outsider contribution, but I think there might be a bug in your function (I don't know enough about the flow of the program to tell), line 46 doctr/transforms/functional/pytorch.py.

It's related to this problem: https://www.pyimagesearch.com/2017/01/02/rotate-images-correctly-with-opencv-and-python/
I had the same problem when training my OCR on rotated image

[2021-08-03 10:58] #89 closed

[2021-08-03 11:02] fg-mindee commented on #352
Hi @Ismail-Maj :wave:

Thanks for reporting this! I'll take a look at it indeed, fortunately for now we haven't used rotation in our training (only as a preprocessing step in some cases) so there aren't any major consequences on existing checkpoints.

But this could get messy later on so thanks for this :pray:
We certainly do accept outsider contributors, this is an open-source project, feel free

[2021-08-06 13:39] charlesmindee commented on #353
Not an issue anymore with this environment update:

[code]
Closing this for now

[2021-08-06 13:39] #353 closed

[2021-08-06 14:17] fg-mindee commented on #353
So TF 2.4.1 might be the prime suspect here :thinking:

[2021-08-09 08:22] charlesmindee opened #401 "WeasyPrint import error Python 3.7"
## 🐛 Bug

When importing weasyprint with python 3.7 I have an error: `AttributeError: 'OutStream' object has no attribute 'buffer'`*

## To Reproduce

Steps to reproduce the behavior:

`from doctr.models import ocr_predictor`

leads to:

[code]

## Expected behavior

Nothing, special

## Environment
[code]

[2021-08-09 09:07] fg-mindee opened #402 "[interpolation] Investigate difference in resizing/rotation between cv2, TF & Pytorch"
The library doesn't have clear information on the consequences of image transformation using different framework backends. Some need to be investigated:
- appearance of artefacts during interpolation with some methods
- difference in interpolation results between 3 frameworks

[2021-08-09 14:49] fg-mindee commented on #401
Would you mind checking the weasyprint version being used in this setup please?

[2021-08-09 16:52] charlesmindee commented on #401
The version producing the bug with python 3.7 is the 53.0 (latest, released on 07/31), I can confirm it is working on python 3.7 with the version 52.5.

[2021-08-09 16:53] charlesmindee commented on #401
I am opening a PR to restrict the version to 52.5 which will close this issue.

[2021-08-10 09:21] charlesmindee commented on #292
More samples below:

![Screenshot_2021-08-10 app · Streamlit(1)](https://user-images.githubusercontent.com/70526046/128842216-5b005805-74e8-4ebf-a5ff-b158e545fba6.png)
![Screenshot_2021-08-10 app · Streamlit](https://user-images.githubusercontent.com/70526046/128842217-0efdf19a-14d4-463a-9e9b-6e70c978b014.png)
![Screenshot_2021-08-10 app · Streamlit(3)](https://user-images.githubusercontent.com/70

[2021-08-10 09:23] charlesmindee commented on #292
Moving this to a discussion, since it is a deep and very opened long-term issue.

[2021-08-10 09:23] #292 closed

[2021-08-10 09:24] charlesmindee commented on #131
Moving since to a discussion, since it is a long term and very opened issue.

[2021-08-10 09:25] #131 closed

[2021-08-10 09:34] #401 closed

[2021-08-11 09:03] charlesmindee opened #409 "[training] Pytorch training of recognition models is very slow"
Pytorch trainings are very slow for recognition models, far more slower than tensorflow trainings with the same dataset.
It could either be:
- A torch dataloading issue (dataset/dataloader)
- A torch model issue
- A hardware issue (CUDA/GPU/CPU lack of compatibility)

[2021-08-13 04:41] vishveshtrivedi opened #411 "Require detailed explanation on few points"
Hello fg-midee & charlesmindee,
The End to end ocr named doctr developed by you is fantastic.It is very easy to use and have very good results.Currently i am working on ocr related project.I had implemented doctr on sample images and have received good results.However I had few question which i list below and would be grateful for receiving explanatioins on them.
Questions:
1)Which dbresnet50 mode

[2021-08-13 11:22] fg-mindee commented on #411
Hi @vishveshtrivedi :wave:

Glad to hear that the library is useful!
Here are some answers to your questions:

1. I'm not sure I perfectly understand your question but the trained params of DocTR are trained on real world dataset. No pretraining on Synthtext has been used yet, and we test the models on publicly available datasets + the private ones.
2. You can check the [README](https://github.com

[2021-08-13 13:10] vishveshtrivedi commented on #411
Thanks for quick reply.
Replying to your following answers:
1) I asked the first question as in the db_resnet paper authors have mentioned that they have pretrained on synthtext and evaluated/fine-tuned on real world dataset. But as I understand your answer, you have trained on real world dataset from scratch and is giving good results!
2) I read the  [https://github.com/mindee/doctr/tree/main/ref

[2021-08-13 14:06] fg-mindee commented on #411
correct!

regarding the quantity of data, cf. my answer on 6 ;)
For computation power, let's talk in GPU VRAM, you'll need about 10Gb to have a decent batch size

For now, it's true that users cannot change the threshold for postprocessing. But once your model is instantiated, you can always do:
[code]
setting a lower value will keep more boxes
And if you want to pass the raw output, as I said you

[2021-08-13 14:23] vishveshtrivedi commented on #411
Thanks a lot for the reply!!
One final question:
1)Why you have not used resnet101 & resnet152?

[2021-08-13 14:59] fg-mindee commented on #411
Simply put:
- those are much bigger architectures that require a bigger RAM capacity
- if you can do it with a lighter model, you get less chance to overfit and you can save some energy & inference time

If at some point we see that we need bigger architectures, we'll try for now we favour lighter models :+1:

[2021-08-16 14:57] vishveshtrivedi commented on #411
Thanks!!!!

[2021-08-16 15:00] vishveshtrivedi commented on #411
Hi @fg-mindee
I have one doubt.To improve detection, I changed the bin_thresh value from 0.3 to 0.2,this improved my detection but it changed my recognition.The values which were recognized correctly before have some error after the change.Is their any connection of bin_thresh with recognition??

[2021-08-18 08:55] charlesmindee commented on #411
Hi @vishveshtrivedi,

The bin_thresh value is used to binarize the raw segmentation map, if you lower it most likely you will detect more words but the risk is to loose the space between words. It should probably lead to a higher recall and a lower precision for the detection task. The recognition task does not use bin_thresh, but boxes detected in the detection task with bin_thresh are used to re

[2021-08-18 09:37] vishveshtrivedi commented on #411
Hi @charlesmindee,
1)Metric used for detection is accuracy.
i.e. accuracy = detected words in an image/Total words in an image
2)Considered the example of date.Ground truth = 04/14/2020
When bin_thresh was 0.3 date was 04/14/2020.When I changed it to 0.2 date recognized was 0414#2020

Thanks a lot !

[2021-08-18 09:46] charlesmindee opened #416 "[datasets] UnicodeEncode error for € when drawing with default PIL font."
## 🐛 Bug

UnicodeEncode error for € when drawing with default PIL font.

## To Reproduce

Steps to reproduce the behavior:

1. Set `font=None` in the train loader of `references/classification/train_tensorflow.py`
2. launch ```python references/classification/train_tensorflow.py mobilenet_v3_small --show-samples```

[code]

## Expected behavior

Display of samples

## Environment

[code]

[2021-08-18 10:00] charlesmindee opened #417 "[datasets] size issue when drawing with default font"
When using the default font to draw on 32 x 32 images, we have a size issue:
![default](https://user-images.githubusercontent.com/70526046/129878926-3cb1bbd2-78f9-4c91-aa2a-5d541b04660c.png)
This is due to the following: PIL uses a default fixed size of 10 for the default font, and we can't change it. The only way to deal with it is to draw on a 10 x 10 image and interpolate afterwards to 32 x 32,

[2021-08-18 13:57] charlesmindee commented on #411
For the first point, it seems quite logical to detect more words when you decrease the threshold, as explained above.
For the second point it is quite weird, maybe we should plot the cropped box (input of the text recognition model) for this word for both thresholds to see the difference between the 2 pictures. Do you think you can do that ?
Thanks!

[2021-08-19 15:47] vishveshtrivedi commented on #411
Hi @charlesmindee ,
For the second point, I have compared the cropped images for two different thresholds. After changing the threshold to 0.2 in one case, the box of the date in question merged with an adjacent word box. This harmed the recognition results of both the fields. This is understandable. However, in another case the box of the date in question expanded slightly along in y-axis (vertic

[2021-08-19 16:38] charlesmindee commented on #411
Hi, for the first case the result is logical as you mentioned, for the second case it is quite weird. I must admit I can't really explain that, it is strange because the model did recognized the right digits but replaced the second slash and removed the first one. Which recognition model did you use ?
For the value of the bin_thresh, it is an empirical set-up: the paper uses a 0.2 threshold for te

[2021-08-19 18:48] fmobrj opened #422 "Pytorch models not implemented"
Hello all!

Thanks, for the great library!

I am trying to test the pytorch code persented here: [,](https://github.com/mindee/doctr/releases) , but I get a NotImplementedError message. Inspecting the code for the function _dbnet, it seems that the code is raising the error:

`    if pretrained:
        raise NotImplementedError

    return model`

So, actually, are there pretrained models for use

[2021-08-20 07:44] vishveshtrivedi commented on #411
Hi @charlesmindee,
I have used crnn_vgg16_bn as  a recognition model & db_resnet50 for detection.

[2021-08-20 07:57] charlesmindee commented on #411
Hi @vishveshtrivedi,
Maybe you can try with our master model to see if the same glitch is happening, for now I cannot really explain it but I will investigate that on my side.
Have a nice day!

[2021-08-20 08:07] charlesmindee commented on #422
Hi @fmobrj,

Thanks for your feedback, as a matter of facts we have implemented all our models in Pytorch but we are behind schedule for the trainings: pytorch trainings are still in progress or to be scheduled and we cannot provide pretrained models yet. Sorry for that, we are working on it and within a few weeks it should be OK.

However you can use the pytorch architectures in the meantime and

[2021-08-20 12:27] vishveshtrivedi commented on #411
Hi @charlesmindee,
I will try the master model.

Also, an interesting thing I noticed was that I changed the image DPI from 500 to 600 and in a few images the recognition improved a lot. Is there some reason for recognition being so sensitive to DPI?

Finally, would it be recommended for the input image to be in a certain preprocessed way (binarized, greyscale, deblured, etc.)?

Thank you so much!

[2021-08-23 07:09] charlesmindee commented on #411
Hi @vishveshtrivedi,

If you increase DPI, you will have higher resolution images from your pdf pages, and this can help the recognition model to distinguish letters written in small fonts or slightly blurred lines which can't be resolved at a lower resolution. However, 500 DPI is already a huge resolution (4134 x 5846 Pixel for a A4 page). Are you feeding the model with a document from_pdf or do

[2021-08-23 10:05] vishveshtrivedi commented on #411
Hi @charlesmindee,
I am converting pdf to images using pdf2image library & then using document from_images(), I am feeding the image to model.

Thanks a lot !

[2021-08-23 10:20] charlesmindee commented on #411
OK, you can also use our pdf converter instantiating a document from_pdf(), it will use a 144 DPI rate for the conversion.
I am moving this to a Github discussion (this will close the issue but open a discussion), it seems more appropriate to keep on chatting on technical aspects of the library!

Thanks and don't hesitate to come back with new questions !

[2021-08-23 10:21] #411 closed

[2021-08-23 13:45] fg-mindee commented on #416
Correct, I think we should add OS automatic detection and take a basic font that is compatible (Arial for windows & Mac for instance, FreeMono for Linux)

[2021-08-23 13:47] fg-mindee commented on #417
I think it's highly related to #416 OS-specific default fonts

However it's true that from a given font to another, characters won't necessarily have the same height for the same font size. We might need to automatically resize those :thinking:

[2021-08-23 14:54] fg-mindee commented on #422
Hi @fmobrj,

To give you extra details, I see two different aspects in this issue:
- [ ] having a more specific user message when pretrained checkpoints are not available (should be tackled by #425)
- [ ] catching up with TF checkpoints

The second aspect will be one of the focus of the `0.4.0` release (and thus the coming weeks)!

[2021-08-24 06:43] osanseviero opened #426 "Integration with Hugging Face Hub"
Hi there,

First of all thanks for a awesome library!

At [Hugging Face](hf.co) we are collaborating with open source libraries in the ecosystem such as [spaCy](https://huggingface.co/spacy), [Sentence Transformers](https://huggingface.co/blog/sentence-transformers-in-the-hub), Timm, ESPNet, and [more](https://huggingface.co/docs/hub/libraries) in order to implement integration in the models hub.

[2021-08-24 07:21] charlesmindee commented on #416
Closed by #418

[2021-08-24 07:21] #416 closed

[2021-08-24 07:21] charlesmindee commented on #417
closed by #418

[2021-08-24 07:21] #417 closed

[2021-08-24 08:25] fg-mindee commented on #417
Perhaps that on top of default font, we should have a default font size? (to make sure this doesn't yield really small characters for some font families)

[2021-08-24 18:47] fg-mindee commented on #426
Hi @osanseviero :wave:

Thank you a lot for your message! We certainly appreciate the contribution of HuggingFace to the dev community, so your suggestion is flattering :pray:

I agree that some integration would most likely be very beneficial to the open source world! Especially considering the possibilities of combining an OCR block from DocTR with a NLP block from Huggingface :ok_hand:

There i

[2021-08-25 12:13] fg-mindee opened #428 "[scripts] Add a PyTorch analysis & evaluation script"
This project has had an evaluation script and its analysis counterpart early on for TensorFlow only. However, with DocTR entering the multi-framework sphere, we need to accommodate users in the same fashion for all of them.

- PyTorch analysis script
- PyTorch evaluation script

[2021-08-25 12:20] fg-mindee opened #429 "[tests] Add CI jobs to check all scripts outside of the core codebase"
As of now, the CI runs unittests, the analyze script. However there are a bunch of other things that would need testing:
- [x] package unittests
- [x] API template
- [x] browser demo (#456)
- [ ] reference training scripts _(#457, #469, #491)_
- scripts
    - [x] `analyze.py` (#315, #351, #458)
    - [x] `collect_env.py` (#456)
    - [x] `evaluate.py` (#456, #458)

[2021-08-25 13:06] fg-mindee opened #430 "[support] Add an ARM build for edge computing"
Low-power devices such as Raspberry PIs are widely used by developers to come up with exciting products. Adding customized builds for ARM architectures would greatly help their efforts!

[2021-08-25 13:08] fg-mindee opened #431 "[support] Add support of TensorFlowJS"
Since DocTR fully supports TensorFlow, being able to run DocTR features in the browser using TFJS would be a neat improvement!

[2021-08-25 13:48] #409 closed

[2021-08-25 22:51] prasiyer opened #433 "DocumentFile.from_pdf - Multi-channel 2D image error"
Hello,

When I run --result = model(doc) with a simple PDF file as input, I get the following error -

incorrect input shape: all pages are expected to be multi-channel 2D images

Upon reviewing the source code, error is raised at the DocumentFile.from_pdf function. Could you please clarify the reason and fix for the error?

Thanks,
Prasanna

[2021-08-26 14:32] fmobrj opened #436 "Vocabs"
Hello!

I am amazed by the incredible results you achieved with doctr. Congrats. I have been experimenting with it and it is mind blowing.

I see the library work with some character sets / vocabs. It would be great if the Latin set would include some very common portuguese characters not included in the latin set, as ã, õ, Ã, Õ. They are very common in portuguese text and end up degrading the res

[2021-08-26 19:25] #433 closed, assigned to fg-mindee

[2021-08-27 09:33] fg-mindee opened #439 "[transforms] No image expansion while rotating in PyTorch & TensorFlow"
After some discussions in #352, it has become obvious that the rotation transformations inside DocTR has an expansion issue, as illustrated below:
[code]
![issue](https://user-images.githubusercontent.com/76527547/131009096-a03c1829-0933-4508-8286-70ff31de388b.png)

In the case of PyTorch, the `torchvision.transforms.functional.rotate` performs the operation
For TensorFlow, it's `tfa.image.rotate`

[2021-08-27 15:55] fg-mindee opened #442 "[transforms] Add an option to preserve aspect ratio during rotation when expand=True"
With #438, we can now avoid losing image information during rotation. However, this doesn't preserve the initial aspect ratio by default.

This snippet:
[code]

yields:
![aratio_issue](https://user-images.githubusercontent.com/76527547/131155165-ff54bccb-6457-4ef2-bfa7-b4aaece6c8ae.png)

[2021-08-27 16:00] fg-mindee opened #443 "[rotation] Fix handling of bounding boxes in predictor when expand=True"
In our current OCR predictor, there is a potential issue with rotation at the detection stage:
- by default, `expand=False` in rotations: this means that a segment at the very top right end of the image, if rotated 45°, would go out of bounds and won't become a box candidate. Here we miss potential detections
- if we simply switch to `expand=True`: some extra care needs to be taken to rotate and r

[2021-08-27 16:40] #439 closed, assigned to fg-mindee

[2021-08-30 13:07] charlesmindee commented on #275
After performing evaluation of our baseline model (trained with a non-aspect-ratio-preserving dataset) with our test datasets preserving the aspect ratio of images for the detection task, it seems that it is improving slightly the detection results for the IDS dataset:

without aspect ratio: `Text Detection - Recall: 70.04%, Precision: 72.17%, Mean IoU: 58.67%`
with aspect ratio: `Text Detection -

[2021-08-30 13:31] charlesmindee commented on #402
As mentioned [here](https://towardsdatascience.com/image-read-and-resize-with-opencv-tensorflow-and-pil-3e0f29b992be),
cv2 uses by default bilinear interpolation with half-pixel corrections, while the bilinear resizing of tf doesn't use this half-pixel correction. The way to fix that is to pass `half_pixel_centers=True` in the `tf.image.resize_bilinear` function.
However, this tf function is depre

[2021-08-30 13:57] charlesmindee commented on #402
[This issue](https://github.com/pytorch/vision/issues/2950) also tackle this issue of anti-aliasing between torch and PIL. As mentionned in [this article](https://tcapelle.github.io/pytorch/fastai/2021/02/26/image_resizing.html), the arg `anti_aliasing` is now available in torchvision.

[2021-08-30 14:05] charlesmindee commented on #402
![image](https://user-images.githubusercontent.com/70526046/131351773-93867086-ef97-4be6-aa32-597ff9405b2a.png)
This is quite a good summary, it seems that using `anti_alias=True` in tf and `anti_aliasing` in torchvision lead to ALMOST similar results.

[2021-09-02 10:22] fg-mindee opened #454 "Inconsistency in TF inference for grouped convolutions on CPU"
## 🐛 Troubles with grouped convolutions on CPU

It seems that TF has troubles with fused grouped convolutions on CPU using `keras.Model.predict` while using the `call` method with `training=False` does run smoothly.
This issue is only happening on CPU, on GPU the script runs smoothly.

## To Reproduce

[code]
which yields
[code]

## Expected behavior

The script should run smoothly

## Environment

[2021-09-02 21:18] mouhannadali opened #455 "rotate_abs_boxes return unexpected output"
## 🐛 Bug

rotate_abs_boxes return unexpected output

## To Reproduce

Steps to reproduce the behavior:

1. giving img_shape =(20, 20, 3)
2. boxes = np.array([[0, 0, 5, 10]])
3. angle=90

call:
[code]
## Expected behavior

I was expecting to have the following output:
`array([[ 0. , 15.,  20. , 10. , 90. ]])
`
the current output is:
`array([[ 5. , 17.5,  5. , 10. , 90. ]])
`
did I misunderstand wha

[2021-09-03 07:37] charlesmindee commented on #455
Hi @mouhannadali,
The rotate_absolute_box fonction returns a rotated box: [x_center, y_center, w, h, angle] where (x_center, y_center) is the box center and w, h are the (inchanged) width and height of the rectangle. The rotation is performed around the page center. Does this answer your question ?
Have a nice day!

[2021-09-03 07:38] charlesmindee commented on #455
Hi @mouhannadali,
The rotate_absolute_box fonction returns a rotated box: [x_center, y_center, w, h, angle] where (x_center, y_center) is the box center and w, h are the (inchanged) width and height of the rectangle. The rotation is performed around the page center. Does this answer your question ?
Have a nice day!

[2021-09-03 07:38] charlesmindee commented on #455
Hi @mouhannadali,
The rotate_absolute_box fonction returns a rotated box: [x_center, y_center, w, h, angle] where (x_center, y_center) is the box center and w, h are the (inchanged) width and height of the rectangle. The rotation is performed around the page center. Does this answer your question ?
Have a nice day!

[2021-09-03 07:51] mouhannadali commented on #455
Hi @charlesmindee  thanks for the replay. I am confused a little bit. if I have the following bbox in an image:
![Untitled](https://user-images.githubusercontent.com/17967903/131970058-ca19e30d-f4c2-4950-959d-65b0d72dd8aa.png)
and rotate is around the image center (90d)  then should be like this:
![Untitled](https://user-images.githubusercontent.com/17967903/131970212-4ceb8001-0211-431b-9621-8705a

[2021-09-03 08:43] fg-mindee commented on #455
Hello @mouhannadali :wave:

Apologies for the confusion, I think we need to detail a few things in the documentation. @charlesmindee is correct, the output is indeed (x_center, y_center, w, h, angle). However, what you need to consider is the following:
- the center coordinates are as you described
- the (w, h) represents the width and height **before the rotation**

The reason behind this is that

[2021-09-03 08:48] mouhannadali commented on #455
thanks, that helps a lot, and also thanks for the supper doctr tool :)

[2021-09-03 08:48] #455 closed

[2021-09-03 10:27] fg-mindee commented on #402
Alright, we almost got everything to close this issue:
- [x] Check the expected differences in interpolation between cv2, TF & PyTorch
- [x] Identify how to bring the difference down to zero (or something that can be ignored)
- [ ] Assess which models/task were trained with interpolation schemes that cannot allow zero-difference with other frameworks.
- [ ] Assess the performance impact of direct

[2021-09-06 10:16] #428 closed

[2021-09-06 15:37] charlesmindee commented on #431
After investigating, I managed to convert the db_resnet50 (without all numpy & opencv post processing) and the crnn_vgg16_bn (without ctc decoding) to JSON models for tfjs web serving, and I successfully performed browser-based predictions for both recognition and recognition task:

- For the recognition task, it is easy to implement a ctc decoder in javascript, thus we can perform inference on te

[2021-09-13 09:24] fg-mindee commented on #436
What do you say @fmobrj ? :)
Fancy opening a PR? (if you need some help, we'd be happy to provide some assistance)

[2021-09-13 12:32] fmobrj commented on #436
Ok. I will try. I am a noob to github. If I need some assistance, I contact you.

[2021-09-13 12:35] fg-mindee commented on #436
Sounds good @fmobrj :+1:
Try following the steps I mentioned above, that should hopefully help you in the process

[2021-09-13 12:39] fmobrj commented on #436
When running "pip install -e doctr/.[tf]" after clonning the repository, I get the following error:

`(doctr_dev) (base) jamazzon@jamazzon-MS-7A94:/media/hdd3tb/data$ pip install -e doctr/.[tf]
Obtaining file:///media/hdd3tb/data/doctr
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/media/hdd3

[2021-09-13 12:42] fg-mindee commented on #436
Mmmh it looks like your Python version don't support f-strings. Would you be running Python 2 by any chance?

If you do have Python 3.6+, try using `pip3 install -e doctr/.[tf]` instead. If not, it's better to install Python3 since support for Python2 has ended and all modern Python tools have switched to Python3

[2021-09-13 12:56] fmobrj commented on #436
I could get over it. Using python -m pip ...

Now, I have a doubt. I installed everything and ran "git checkout -b portuguese-vocab"

Where are the files of the new branch located? The same directory where the repository was cloned?

[2021-09-13 13:47] fmobrj commented on #436
I created the PR. Hope everything is correct.

[2021-09-13 14:42] fg-mindee commented on #436
Thanks a lot @fmobrj :pray: I just reviewed the PR!
(To do some modifications, go to the repo location on your laptop and go through step5-7 to update the PR with your modifications)

[2021-09-13 14:51] fmobrj commented on #436
Hi, @fg-mindee. You are welcome. As I said, I am kind of a noob with github. Should I take some additional action or is everything ok?

[2021-09-13 14:53] fg-mindee commented on #436
There are just a few things to modify, cf my comment here: https://github.com/mindee/doctr/pull/464#pullrequestreview-752843039
Let me know if you run into any trouble!

[2021-09-13 17:00] #436 closed

[2021-09-14 16:37] kchawla-pi commented on #113
Why not simply do a
[code]
Especially since there's is only one package

[2021-09-15 07:41] charlesmindee commented on #127
@fg-mindee let's switch to rapidfuzz for #465

[2021-09-15 13:37] fg-mindee commented on #113
Hi @kchawla-pi,

So actually since then, there is also `weasyprint` that is missing a conda build. But it happens that I was thinking about getting back to the bottom of this yesterday. Worst case scenario, we'll make some features optional (such as HTML compatibility through weasyprint) so that the core build is available in conda.

Also please note that for now, the only important dependencies t

[2021-09-15 23:03] Nicolas-Schuhl opened #476 "Import error synthetize_page func in streamlit demo script"
## 🐛 Bug

Import bug while running the streamlit demo script

## To Reproduce

Steps to reproduce the behavior:

1. Install the current package version
2. Run streamlit demo/app.py

Error message : ImportError: cannot import name 'synthetize_page' from 'doctr.utils.visualization' (/home/ubuntu/repos/mindee/doctr/doctr/utils/visualization.py)

## Correction

Try to import "synthetize_page" [from](h

[2021-09-16 07:32] charlesmindee commented on #476
Hi @Nicolas-Schuhl, thanks for spotting that!

[2021-09-16 09:59] fg-mindee opened #478 "[references] Add a LR Finder in the training scripts"
For specific architectures, the learning rate that we generally use seems to yield various performances. We need a more consistent method to select an appropriate value for it.

Adding an option to select the learning rate would be quite valuable!
- [x] PyTorch support (#703)
- [ ] TensorFlow support (#747)

[2021-09-16 10:39] #476 closed

[2021-09-16 10:43] fg-mindee commented on #476
@Nicolas-Schuhl that should be fixed by #477 on the `main` branch now :+1:

[2021-09-16 13:03] charlesmindee commented on #352
![Screenshot_2021-09-16 app · Streamlit(1)](https://user-images.githubusercontent.com/70526046/133616968-3d0b20d8-aa64-4b92-a021-d5f182cd02b7.png)
![Screenshot_2021-09-16 app · Streamlit](https://user-images.githubusercontent.com/70526046/133616985-35a965c1-c153-495a-af18-fd73b95b5da4.png)

[2021-09-16 20:57] fharper opened #479 "Cannot run doctr with Docker"
## 🐛 Bug

I cannot build the doctr Docker image. I get an error (see attached video) when the requirements are being installed.

## To Reproduce

Steps to reproduce the behaviour:

1. Build the Docker image
2.
3. Profit!

## Expected behavior

Being able to use doctr with the Dockerfile provided

## Environment

OS: Mac OSX 11.5.2 on a M1 chip (it shouldn't change anything since the pip install ru

[2021-09-17 10:39] fg-mindee commented on #479
Hi @fharper,

Thanks for reporting this!
To make sure I get the root problem correctly here, can you confirm that you are able to install DocTR outside of Docker with the same setup?

While it's true your setup is generally not the limiting factor for OS compatibility via Docker, there are cases, I  have personally experienced, where it's not possible (trying to build an image for an ARM chip whil

[2021-09-17 13:33] fharper commented on #479
You are right, I cannot even install the requirements on my M1 MacBook. I'll create another issue for it as #430 is focussing on arm for low powered devices, while the M1 processor is arm64: AFAIK, it will be two different built, and does not need the same requirements/versions.

[2021-09-17 13:54] fharper opened #480 "Error when installing requirement on a M1 MacBook"
## 🐛 Bug

When I try to install the requirements to run doctr on my M1 MacBook, I get an `ModuleNotFoundError: No module named '_ctypes'`. I installed the additional packages required for macOS users.

https://user-images.githubusercontent.com/1170989/133793566-a8b97c2c-55a7-4129-bd95-a4c6535f9798.mp4

## To Reproduce

Steps to reproduce the behavior:

1. `pip install -r requirements.txt`

## Expe

[2021-09-17 14:02] fg-mindee commented on #480
Thanks for reporting it!
If M1 MacOS users are getting more common, we indeed have to handle this. However if this is correct, it seems the issue is due to numpy rather than DocTR. In order to confirm this, let's try to get numpy to work and then try again on the same setup :)

@fharper would you mind trying this trick : https://stackoverflow.com/a/65581354 to install numpy?
If this works and that

[2021-09-17 14:03] fg-mindee commented on #479
Let's first address #480, I'm rather confident that if it gets fixed, then resolving this issue will be casual :)

[2021-09-20 14:33] charlesmindee opened #482 "Rotation issue when extracting crops if rotated_bbox=False"
If rotated_bbox=False, we however rotate the whole bitmap if a significant angle is detected, thus we need to rotate the original image as well before extracting crops otherwise we crop the wrong parts of the images

Reference in the predictor (both tf & pt):
https://github.com/mindee/doctr/blob/ab7d483ab09218d5f88e976d9d3dbbd6263de9ef/doctr/models/predictor/tensorflow.py#L65
https://github.com/mi

[2021-09-20 15:29] fg-mindee commented on #442
Considering our earlier discussion about combining this transfo with `Resize` while `preserve_aspect_ratio=True`, if you agree @charlesmindee, we can close this :ok_hand:

[2021-09-21 15:26] madisonmay opened #486 "Consider removing PyMuPDF for dependency that is not AGPL licensed"
Hi folks!  Love the project, but the dependency on PyMuPDF can pose a problem for commercial use because of it's AGPL license (I think use of PyMuPDF may technically require the project itself to be GPL licensed, although I'm no expert here). Would you consider integrating a PR that replaces the PyMuPDF dependency with an alternative?

[2021-09-22 13:02] haythemBD opened #490 "Arabic data detection and recognition"
Hello, I want to ask if we can train an end-to-end doct for  model on arabic data detection and recgontion??

[2021-09-22 13:18] charlesmindee commented on #490
Hi @haythemBD,

Thanks for your interest in the lib, for the moment we don't have an arabic vocabulary in our [supported vocabs](https://mindee.github.io/doctr/latest/datasets.html#supported-vocabs). If you wish to train a recognition model on arabic data we first need to integrate (and therefore define) an arabic vocabulary, then it will be easy to train a recognition model with this vocabulary i

[2021-09-23 19:28] osanseviero commented on #426
Hi @fg-mindee!

From our side I wanted to clarify that the integration could be at different levels: the Inference API is not a requirement to collaborate and have an integration 🚀

For example, the 🤗 Hub could help as a platform for users to host and share their `DocTR` models, document them with model cards, and discover other models of the community (plus other benefits I mentioned such as work

[2021-09-27 08:14] fg-mindee commented on #486
Hi @madisonmay,

Thanks for pointing this out!
You are correct, we did not pay attention to the license of PyMuPDF but indeed AGPL has extra requirements. We'll try to come around with a proposition but here are the elements:
- as shown over [here](https://github.com/mindee/doctr/issues/23), PyMuPDF is much much faster than the other options
- we're starting to consider making a few deps (and corr

[2021-09-28 07:38] charlesmindee commented on #490
Hi @mzeidhassan, to define an arabic recognition model we only need a vocab like these ones:
[code]

From there,  if you have an arabic dataset (arabic pictures of words + the corresponding annotations) you can train a recognition model fully operational and even plug it onto a one of our pretrained detection model.

Have a nice day!

[2021-09-28 11:08] fg-mindee commented on #490
Small precision @mzeidhassan @haythemBD : if any of you is willing to make a small PR to add the arabic entry in the VOCABS, that would be very helpful :)

[2021-09-28 13:51] fg-mindee opened #495 "[visualization] Some unsupported characters make page synthesis crash"
## 🐛 Page synthesis doesn't support all characters

After some investigation on why the page synthesis feature was crashing (cf. https://twitter.com/nudelbrot/status/1442737151700082691), it turns out that default text drawing with Pillow doesn't support all characters.

## To Reproduce

[code]

yields:
[code]

## Expected behavior

Page synthesis should be working with any character

## Environme

[2021-09-28 14:18] #495 closed

[2021-09-28 16:10] fg-mindee commented on #442
Closing this @charlesmindee  as this looks resolved (cf. comment above)!
Feel free to reopen if I missed anything :ok_hand:

[2021-09-28 16:10] #442 closed

[2021-09-29 11:42] sriprad opened #505 "OSError: no library called "cairo" was found"
## 🐛 Bug

Hi Team,
Please find the code i tried to run and it gave me the following error

## To Reproduce

[code]

yields the following output

[code]

[2021-09-29 12:39] fg-mindee commented on #505
Hi @sriprad,

Would you mind running the environment collection script?
[code]

My best guess is that you might on MacOS or a similar OS and need to install some prerequisites. There are some additional details in the documentation: https://mindee.github.io/doctr/installing.html#prerequisites

Let me know if that doesn't help!

[2021-09-29 14:20] sriprad commented on #505
Hi @fg-mindee ,
thank you for sharing this. I will try this out and get back to you. So far no success. I am on Windows machine.

[2021-09-29 15:13] #429 closed

[2021-09-29 16:57] jonathanMindee opened #508 "AttributeError: '_io.BufferedReader' object has no attribute 'length'"
## 🐛 Bug

Hi!

I retrained two models myself (one for text detection, another one for text recognition). I'm trying to use the load_pretrained_params method from utils to load the checkpoints in an ocr_predictor but get an error.

## To Reproduce

My code

[code]

The zip files contain:
[code]

I get the error:

[code]

## Environment

DocTR version: 0.3.1
TensorFlow version: 2.6.0
PyTorch version

[2021-09-29 17:23] jonathanMindee commented on #508
One more info:

Once the zips are stored in the cache, I cannot open them manually (looks like they are not valid).

Also when I re-run my script, I get a new error:

[code]

[2021-09-29 18:31] sriprad commented on #505
Hi @fg-mindee
I could fix it . thank you

[2021-09-29 18:31] #505 closed

[2021-09-29 18:33] sriprad opened #509 "how to create the dataframe out of the JSON Output?"
Hi Team,
Great work on this library . Is there way to extract the information from the pdf? For e.g i would like to extract
Invoice No ; 23994
Date : 23/01/2021
etc.
Is it possible to get the information in the invoice/pdf extracted in a pandas dataframe?
Please let me know is there a code to extract these information. thanks

[2021-09-29 20:53] felixdittrich92 opened #512 "Adding hocr output to generate Pdf/A"
Hi,
adding the option to get the output in hocr format or directly as pdf/A (searchable text layer) would be great :)
Any chance to receive this currently ?
Best regards

[2021-09-29 21:02] felixdittrich92 opened #513 "Adding ViTSTR"
Adding Vision Transformer for scene text recognition i work currently on this (with huggingface ViT backbone) if i done and have solid results it would be a charme for me to add this model if you interested !? :)
Same for the new unilm/TrOCR model

[2021-09-29 23:16] mzeidhassan commented on #490
Thanks @charlesmindee and @fg-mindee
I hope this one works.
https://github.com/mindee/doctr/pull/514

[2021-09-30 07:38] felixdittrich92 opened #515 "Pytorch pretrained=True ends in: Invalid model URL, using default initialization."
not able to init models with pretrained weights

[2021-09-30 14:10] charlesmindee commented on #509
Hi @sriprad,

Thanks for your question, for the moment the lib does not include Key Information Extraction (if it is what you are talking about), we h only have a "generic" OCR. We may/will consider in a few months adding "smarter" features with NLP, visual context, etc... But for now we do not support those tasks.

In the meantime, you are free to use our "raw" ocr predictions and train another m

[2021-09-30 14:26] charlesmindee commented on #513
Hi @felixdittrich92,

Thanks for your message, it would be a pleasure having you contributing to the lib!

We already have a recognition model including a transformer decoder ([MASTER](https://arxiv.org/pdf/1910.02562.pdf)), but we do not have yet full transformer architectures such as ViT or TrOCR. It is on the mid-term road map, and if you would like to propose your implementation you are more t

[2021-09-30 14:29] charlesmindee commented on #515
Hi again @felixdittrich92,

Can you please specify on which pytorch model you are trying to load the pretrained weights ?
As a matter of facts, not all models are pretrained yet in pytorch, we are working on it.

have a nice day !

[2021-09-30 14:37] charlesmindee commented on #512
Hi @felixdittrich92,

Thanks for asking, it was not on the road map but since you are asking we may consider adding this export option, if I understand well it consists in putting the output this way: (?)

`...
<p class='ocr_par' lang='deu' title="bbox930">
  <span class='ocr_line' title="bbox 348 797 1482 838; baseline -0.009 -6">
    <span class='ocrx_word' title='bbox 348 805 402 832; x_wconf 9

[2021-09-30 15:19] felixdittrich92 commented on #515
@charlesmindee
Hi Charles,
the models specified in your example:
[code]
Yes i know i have checked the code also that there is set a url in model config :)
wish you too

[2021-09-30 15:21] felixdittrich92 commented on #513
i will do thanks :) :+1:

[2021-09-30 15:27] felixdittrich92 commented on #512
@charlesmindee
yes this would be great :+1: after this generating a Pdf/A is a short step
in a way like this example:
[code]

[2021-09-30 15:36] fg-mindee commented on #255
Closed by #516 & #517

[2021-09-30 15:54] fg-mindee commented on #480
Thanks for investigating @fharper :pray:

We'll have to think about a way to counter this, the quick fix of adding constraints on the python version is quite heavy on other OS (or even for MacOS considering most users are not necessarily running M1 chips). Most likely, we'll have to ping the authors of the corresponding libraries to investigate this issue!

[2021-09-30 16:03] fg-mindee commented on #508
Hi @jonathanMindee :wave:

Thanks for reporting this!
I'll need some time to investigate but here are my thoughts:
- loading your trained params on a default ocr_predictor will lead to some errors if you have a different vocab size (output shape) for instance
- can you confirm that the original file (not the one in cache) is useable? Locally I tried on a similar situation and I don't have any issu

[2021-09-30 18:12] sriprad commented on #509
Hi @charlesmindee ,

Thank you :). Yes i meant the key information extraction. Great. Will look forward to it.
Can you please share the link to the "raw" ocr predictions? i am not sure where to look up.

Have a nice day too :)

Thanks ,
Sri

[2021-09-30 19:24] felixdittrich92 opened #518 "splitting lib into train and inference(onnx)"
Hi @charlesmindee,
what do you think about following case ?

Split the lib into train and inference parts:

- train part: include datasets and training scripts + models for TF and Pytorch also the option to export trained model in onnx format (do not integrate some model code into inference part)
- inference part: supports the doc/predictor/detector with loading pretrained models via onnxruntime a

[2021-09-30 22:42] fg-mindee commented on #515
@felixdittrich92 my spider-sense is tingling haha: by any chance, have you tried to install the dev version from the `main` branch?

My best guess is that you're using an older version!
You can get the version as follows:
[code]

[2021-09-30 22:50] fg-mindee commented on #512
Hi @felixdittrich92,

That sounds like an interesting result export!
If you feel like it, perhaps you could open a PR to integrate that? :)

[2021-09-30 22:52] fg-mindee commented on #509
Hi @sriprad :wave:

Here is a short snippet to parse your pdf (cf. README):
[code]

Let me know if that's unclear :)
Cheers!

[2021-09-30 23:00] fg-mindee commented on #518
Hi @felixdittrich92

Thanks for the suggestion! ONNX is indeed on our radar since #5 :sweat_smile:
However, while ONNX should be one possible way to do inference, that should not close the door to others (OpenVINO, etc.)

That being said, the general idea is also something we were planning to do. But that needs in-depth discussion first on a few points:
- how constraining will "being able to expor

[2021-10-01 07:15] felixdittrich92 commented on #515
@fg-mindee
[code]
[code]

[2021-10-01 07:28] felixdittrich92 commented on #515
ok fixed with version 0.4.0a0
@fg-mindee

[2021-10-01 07:29] #515 closed

[2021-10-01 07:38] sriprad commented on #509
Hi @fg-mindee ,

Thank you very much :). I replicated what you shared and got the output. Looks great. But it's a json output and i dont know how to convert into a dataframe. I tried read_json but not giving me result.

Please let me know if you have any solution :)

Regards,
Sri

[2021-10-01 08:20] fg-mindee commented on #509
@sriprad oh my bad, would you mind specifying what you mean by "dataframe" please?
If you could give short example, that would help a lot :pray:

[2021-10-01 08:32] sriprad commented on #509
hi @fg-mindee ,

sorry if i am not clear. I mean translating Json output to below format
![image](https://user-images.githubusercontent.com/8103667/135590168-4b91ec4e-23e0-441d-aed0-cb202ce1634b.png)

[2021-10-01 08:37] fg-mindee commented on #509
@sriprad oh I see, the snippet I showed you was for raw OCR predictions!
For now, the KIE (dataframe you're referring to) cannot be obtained through DocTR, so you'll have to post-process those results (try some regex for instance) to get these results!

[2021-10-01 09:27] sriprad commented on #509
Thank you @fg-mindee :)

[2021-10-01 09:27] #509 closed

[2021-10-01 11:50] felixdittrich92 commented on #512
@fg-mindee
yes i will do hopefully next week if i found a bit time in addition to a 40 hour work week and family ^^
Can you add the hocr output in that time?

Example:
`hocr_format = pytesseract.image_to_pdf_or_hocr(image, extension='hocr')`

I will also talk to my manager on monday if i can get time to contribute under work to this project ( i build currently intern a OCR engine but would be much

[2021-10-04 07:47] Param-Raval opened #521 "Imperfect merging of strings from split boxes"
Hello!

Thank you for an amazing implementation! The new release (4.0.0) has some great new work, however I'm facing an issue with one of the new features.

The feature of "dynamic crop splitting for wide inputs to recognition models" (#465) incorrectly merges the recognition results of the new crops.

### To Reproduce
[code]

### The Issue

The word image having text "0000-XX-12-0001234" is split

[2021-10-04 07:56] charlesmindee commented on #521
Hi @Param-Raval,

Thanks for the feedback. Could you please attach one (or more) images concerned by the issue so that I can debug that on my side ?

Thanks ! :pray:

Have a nice day!

[2021-10-04 10:49] felixdittrich92 commented on #512
@fg-mindee get the go and will start tomorrow :)

[2021-10-04 10:50] fg-mindee commented on #521
Yes, on my side, I wasn't able to reproduce this: I tried to create a simple image with the same text (cf. below)
![faulty_merging](https://user-images.githubusercontent.com/76527547/135838534-d95e0d11-b11f-4825-ba82-aa150c82d3ba.png)

And the following snippet:
[code]

yields:
[code]

@Param-Raval if you could give a simple image to reproduce this, that would be helpful :pray:

[2021-10-04 10:56] fg-mindee commented on #512
@felixdittrich92 my bad, I've had limited availability :sweat_smile:

I suggest doing the following (one PR for each to avoid getting ahead of ourselves):
- [ ] implement a function that uses the `Document` out of the current predictor and reorders the `Block`, `Line` and `Word` (or the results of both blocks). This PR should only implement the `oraganize_elements` function, this should not change

[2021-10-04 10:56] fg-mindee commented on #512
For reference, this is also linked to #511

[2021-10-04 11:22] fg-mindee commented on #490
Closed by #502 & #514

@haythemBD you can find the instructions to train on your arabic dataset here: https://github.com/mindee/doctr/tree/main/references/recognition
And you only have to specify the `--vocab` argument to select the new arabic vocab :)

[2021-10-04 11:22] fg-mindee commented on #490
Closed by #502 & #514

@haythemBD you can find the instructions to train on your arabic dataset here: https://github.com/mindee/doctr/tree/main/references/recognition
And you only have to specify the `--vocab` argument to select the new arabic vocab :)

[2021-10-04 11:22] #490 closed

[2021-10-04 16:56] felixdittrich92 opened #524 "Adding TableNet model to extract tabular data"
add a tablenet model to extract tabular data as dataframe from images
(i have a ready to use model(.pt) trained on marmot dataset and need a bit guidiance where to add - prefered as onnx and for self training i can add also in reference /same for dataset but only in Pytorch (Lightning))

After the restructuring / hocr pdfa export
@fg-mindee @charlesmindee

[2021-10-04 19:21] felixdittrich92 opened #525 "Add options for det / rec arch to load from state dict or.."
Improve the pretrained parameter with the option to load own trained models from state dict or else (via reference models) also ONNX models 🙄🤩

[2021-10-05 10:12] fg-mindee commented on #525
Hi @felixdittrich92 :wave:

Could you be more specific about being able to load from a state_dict?
Do you mean the object loaded into memory? (because we're doing this with the path to the state_dict file already)

If you have a short example snippet, that would be ideal :pray:

[2021-10-05 10:22] Param-Raval commented on #521
Hello!

Thank you for your response. Here is an image that leads to this issue.
![claim_long](https://user-images.githubusercontent.com/47474201/136004861-1107a90d-6ec6-43bc-ad6b-b78bbc571e78.png)

The output for this sequence is `0000-XX-1-25-9-9-19-000-21358` and the respective output of the split boxes are: `('0000-XX-', 'X-1-25-9-', '-9-19-000-', '000-21358')`

I also noticed that the split/me

[2021-10-05 10:34] fg-mindee commented on #521
@Param-Raval so we will have to investigate whether this does not impact overall performances negatively, but for your use case, you can tune the split strategy as follows:

[code]
now yields:
[code]

On our end, we'll have to check how far we can push the aspect ratio without degrading text recognition performances!
Let me know if that helped :smile:

[2021-10-05 10:58] felixdittrich92 commented on #525
@fg-mindee
`model = ocr_predictor(det_arch='db_mobilenet_v3_large', reco_arch='crnn_vgg16_bn', pretrained=False, det_arch_file='/xyz/my_det_model.pt, reco_arch_file='/xyz/my_reco_model.pt')`
For example init the models with own trained weights or does this already exist?

[2021-10-05 11:24] fg-mindee commented on #525
Well the high-level interface is not made for this, but those are PyTorch `torch.nn.Module` underneath, so you can use `.load_state_dict` as you please:

[code]

But that can certainly be improved. Keep in mind that as much as possible, we want to keep the API for PyTorch & TensorFlow aligned (and let users tweak what they want in framework-specific objects). If you have a suggestion, we're all ea

[2021-10-05 12:03] Param-Raval commented on #521
Thanks a lot! I'll try it and get back if needed. Good luck :pray:

[2021-10-05 12:03] #521 closed

[2021-10-05 14:06] felixdittrich92 commented on #525
Mh yes this split for the Inference Part into Pytorch and TF is a bit .. unwieldy.
(Also with growing models / tasks there will be more and more confusing also for contributer)

Therefore, my suggestion for the inference part was to rely more on ONNX and / or other formats which are not framework specific and only make the training part framework-specific (btw.:  i have tested to export the pytorc

[2021-10-05 17:15] felixdittrich92 commented on #512
@fg-mindee
I have now started to integrate a solution to sort bboxes (left to right works but i have to investigate time tomorrow for the top to bottom sorting part) infront of the line / block organizing ! can we connect with Slack for short discussions ?

[2021-10-06 07:52] charlesmindee commented on #524
Hi @felixdittrich92,

Thanks for bringing this on the table, it is a very interesting and useful feature.
It would be interesting to integrate such a model in doctr, however we need to think about the global architecture:
Should it be a separate model (no shared features) from our detection + recognition pipeline (which would for sure slow down the end to end prediction), or should it be integrate

[2021-10-06 09:24] fg-mindee commented on #512
Actually we do but it's really basic over here: https://github.com/mindee/doctr/blob/main/doctr/models/builder.py#L40
It definitely needs some improvement :)

I'll check how to best move forward for these discussions indeed, let me get back to you :ok_hand:

[2021-10-06 09:39] felixdittrich92 commented on #512
@fg-mindee
i try currently to solve this but its a bit tricky to found a solution only on top of bounding box coordinates
what i currently try is to compute the middle_centroids for each box and then to sort this and boxes

so the reason is if the boxes are not correctly sorted i do not know a way to build lines or blocks:

for lines i compute the distance beetween the actual box coordinate right

[2021-10-06 09:44] felixdittrich92 commented on #525
@fg-mindee
sounds good for me :)

[2021-10-06 09:50] fg-mindee commented on #512
Well, even if we sort the boxes, we're projecting 2D information into a 1-D plane. Considering 2 column pages exist, bounding box sorting is only a naive approach.

Perhaps some sort of clustering using the centroids to identify blocks, and then for each block, we can sort the boxes? It's gonna be experimental either way :man_shrugging:

[2021-10-06 09:51] felixdittrich92 commented on #524
@charlesmindee
yes i will do i think later today :)
I wish you the same
I have attached the tensorboard logs if you want to take a look
[version_0.zip](https://github.com/mindee/doctr/files/7292671/version_0.zip)

[2021-10-11 02:32] saitej123 opened #527 "Extract Custom Key Value pair from document or image."
How to extract selected key value pair given docs, ex: want to extract name, dob fields from passport ,dont want other fields . how to process them?

Based on bounding box coordinate we can filter but is there any custom training method with annotation to identify the specific fields?

[2021-10-12 13:53] felixdittrich92 commented on #524
@charlesmindee
yes currently the pure table segmentation needs ~3sec for this reason i have wrote model prunning, a smaller input size, the try for teacher / student experiment or else can be helpful to optimize.
I currently have an internal problem to take care of, so I probably won't get to it in the near future (just like with the reorganized problem # 512). However, if you want, I can send you

[2021-10-13 10:34] charlesmindee commented on #524
Hi @felixdittrich92,

It is absolutely not a problem if we don't take care of this in the near future, It could be indeed great for us if you could share the dataset/training scripts but don't get too wrapped up in it!

Best!

[2021-10-13 12:13] PoornaSaiNagendra opened #528 "mismatch in sequence of words in result.export()"
## 🐛 Bug

The sequence of words outputted by result.export() is not the same as words in the image given as input. The columns were getting swapped.

## To Reproduce

Steps to reproduce the behavior:

1. model = ocr_predictor(pretrained=True)
2. doc = DocumentFile.from_images(</path/to/the/image>)
3. result = model(doc)
4. result.show(doc)
5. json_output = result.export()
6. num_words = len(json_o

[2021-10-14 06:47] PoornaSaiNagendra commented on #528
Hi @charlesmindee,

Thanks for replying. Here I am providing you with the document duplicate I used. Hope that helps you in solving the issue.

![Chhattisgarh_BOSE](https://user-images.githubusercontent.com/42320447/137265395-d2b9b030-0319-44da-8792-cb629e84130c.png)

Pic credits: Google images

The above image can be found using in below link:
(https://images.app.goo.gl/FQuYLc2GhUkNHz83A)

Thanks

[2021-10-14 10:03] yourabhi opened #529 "OSError: no library called "cairo"/cairo2 was found in Windiws"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
2.
3.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/mindee/doctr/main/scripts/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - DocTR Version (e.g., 0.1.0):
 - TensorFlow Ve

[2021-10-14 10:04] yourabhi commented on #529
OSError: no library called "cairo/cairo 2" was found in windows

[2021-10-14 15:12] charlesmindee commented on #528
Hi @PoornaSaiNagendra,

The option to resolve page lines and blocks is not activated by default, you need to activate it in the `DocumentBuilder` (`models/utils/builder.py`) to sort your document by blocks and lines, otherwise you get a unique block with a unique line inside it encapsulating al the words of the page.

I activated the option and it is not working well with your document, as I menti

[2021-10-15 10:54] felixdittrich92 commented on #512
@charlesmindee
@fg-mindee
Any idea about that? I had read it now in several issues the sorting of the boxes is really a big problem and affects all output formats (export, render, ..) Would be great to find a solution before further features come

best regards and have a nice weekend :)

[2021-10-15 13:49] felixdittrich92 commented on #528
@PoornaSaiNagendra
do you mean something like this [LayoutLM-Example](https://www.google.de/url?sa=i&url=https%3A%2F%2Fwww.kaggle.com%2Fjpmiller%2Flayoutlm-starter-old&psig=AOvVaw2s8GWYxyz2LrwjtI-dbOcA&ust=1634391917346000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCKCal8TGzPMCFQAAAAAdAAAAABAE)
if yes than take a look at [Tut](https://github.com/NielsRogge/Transformers-Tutorials/tree/master/LayoutLM) f

[2021-10-18 13:29] fharper commented on #480
I'm giving it another try, will keep folks up to date.

I'll keep my steps here, but keep in mind it's not final, and may change:
[code]

[2021-10-18 14:25] fg-mindee commented on #480
Thanks @fharper :pray:

Have you followed some tutorials or guidelines from a specific resource? If not, is keras preprocessing required to build TF?

[2021-10-20 13:56] charlesmindee commented on #402
For the moment we used `tf.image.resize` and` torchvision.transforms.functional.resize` in all our preprocessor thus in all trainings (both reco & detection). We didn't use anti aliasing in TF nor in torch because is is disabled by default. We should use antialiasing in the future for all trainings to train our models exactly on the same pictures.

`cv2.resize` is used in `read_img_as_numpy` (whic

[2021-10-20 15:48] charlesmindee commented on #431
Some updates:
- We managed to bridge the 2 tasks through a post processing with opencv js.
- The mobilenet_v3 of doctr is not running on tfjs because of FusedConv/FusedBatchNorms, so we used a mobilenet_v2 backbone from the keras hub.
- The db_resnet50 + crnn_vgg16_bn is running on RTX 20../30..with tfjs but on RTX 10.. the resnet is too heavy this is why we switched to a mobilenet and we are work

[2021-10-20 15:56] #528 closed, assigned to charlesmindee

[2021-10-21 08:15] fg-mindee commented on #402
Thanks!
So, to even everything out, we would only need to enforce anti-aliasing on TF resize for now?

If so, we could:
- start doing this in future trainings
- investigate whether this severely impact previously trained models

[2021-10-21 08:18] fg-mindee commented on #512
Sounds good @felixdittrich92, thanks again :pray:

[2021-10-21 13:04] felixdittrich92 commented on #512
@fg-mindee
yes then i think it would be good to provide/implement 2 methods in `DocumentBuilder`

1. export_hocr : returns the plain XML (so parse blocks/lines/words into XML-format-later) for each page
2. export_pdfa (needs output from export_hocr): returns a pdfa file as base64 ? or save to a given path + name ? and for each page or merged ? or make it flexible ? ^^

What do you think ?

[2021-10-22 14:57] fharper opened #538 "Project name consistency in the documentation"
Update the mention of docTR in the documentation to follow the official name. Sometimes it's written doctr, DocTR...

[2021-10-25 10:14] #538 closed, assigned to fg-mindee

[2021-10-26 14:38] felixdittrich92 opened #547 "set resolve_lines and resolve_blocks to True"
## 🐛 Bug

As discussed in #512 it needs an improvement for the `sort_boxes ` to set the `resolve_lines` and `resolve_blocks` in `builder.py `to True as default

In fact of this the `.render()` and `.export_as_xml()` results are not correct

## To Reproduce

Steps to reproduce the behavior:

1. test with any document image which has multible text blocks/lines or where the document is slightly crook

[2021-10-27 08:28] #547 closed, assigned to charlesmindee

[2021-10-28 08:51] felixdittrich92 opened #554 "Option to cutout documents from images before further processing"
@fg-mindee
@charlesmindee

what do you think about an option in Documentfile.from_images(.., try_cutout=True) which does the following:
[Example](https://www.pyimagesearch.com/2014/09/01/build-kick-ass-mobile-document-scanner-just-5-minutes/)
I have currently a modified, more stable version running in our company :)

Use Case for example mobile phone images from documents

Would be nice if i can i

[2021-10-29 17:20] ghost opened #558 "How to run this github repo on google colab"
I want to run this repo on google colab
How can I run this code?

[2021-10-29 17:54] hammadyounas2008 opened #559 "How to save prediction in folder"
I want to save the prediction in folder how can I do that?

[2021-10-29 19:32] fg-mindee commented on #512
My bad, I just realized I forgot to let you know! You can join the [Slack](https://join.slack.com/t/mindee-community/shared_invite/zt-uzgmljfl-MotFVfH~IdEZxjp~0zldww) for Mindee community where you'll find a `#doctr` channel! See you there :smile:

[2021-10-29 20:27] fg-mindee commented on #558
Hi @hammadyounas2008 :wave:

We're in the middle of adding a few colab tutorials to use docTR! Could you specify what you mean exactly? What would you like to run? a training? or simply using the library? :)

[2021-10-29 20:30] fg-mindee commented on #559
Moving this to a discussion as it looks more like a usage question :)

[2021-10-29 20:30] #559 closed

[2021-10-29 21:57] fg-mindee commented on #554
Thanks a lot, it looks promising for single page docs!
To make sure this matches the same specs, could you illustrate a situation where there are several pages on the same image? (the image segmentation does process it correctly)

[2021-10-30 08:26] felixdittrich92 opened #562 "Adding hOCR parser example for xml output"
@fg-mindee
Where to add the example ?
And in which format ? python script or jupyter notebook ?

Example code:
[code]

[2021-10-30 08:42] felixdittrich92 opened #563 "Adding more languages for recognition models by default"
### 🚀 The feature

Currently you support only french by default would be great to add more languages directly to choose for example:
`model = ocr_predictor(det_arch='db_resnet50', reco_arch='crnn_vgg16_bn', pretrained=True, language='en') `
or
`reco_arch = crnn_mobilenet_v3_large(pretrained=True, language='de')`
What do you think ?

### Motivation, pitch

In most cases you need the recognition for

[2021-10-30 10:32] felixdittrich92 commented on #554
@fg-mindee
I think in this case it is really much more accurate to use the segmentation model do you have some benchmarks for this ? Or also a short colab ? 🤗

Have a nice weekend

[2021-10-30 10:38] fg-mindee commented on #562
Mmmh I didn't realize we needed that amount of code to turn it into PDF/a. Three questions:
- I'm not very knowledgeable about PDF/a format, do this yield an actual PDF?
- Is there a way to shorten the snippet?
- if not, are there things we can integrate into docTR without changing the dependencies?

[2021-10-30 10:56] fg-mindee commented on #554
Well sure, but perhaps we could change your colab to make it work for multiple pages?

Regarding the segmentation option, no colab but it will be integrated into docTR within a week or 2!

[2021-10-30 11:08] fg-mindee commented on #563
Hi @felixdittrich92,

Just to be clear, we support the French "vocab", not language. The library for now does not include any semantic understanding. For this reason, we took the French vocab as the number of accented characters included in it usually include most european characters.

Typically, there is no character in the English vocab that are not included in our "French" vocab.

Now, to switc

[2021-10-30 11:31] fg-mindee commented on #426
Apologies for the late reply @osanseviero!

We had to discuss that internally, and I think that we have identified a good middle ground indeed: as of now, contributors to docTR don't have the means to easily share their models (say for vocabs we have not provided pretrained checkpoints for, or for entirely different input distributions). I would argue HF Hub could fulfill that need quite well!

Pe

[2021-10-30 11:34] fg-mindee commented on #431
Quick update everyone:
- we have a functioning demo running with TFJS!
- still needs a few front-end improvements, the code will be shared soon :)

[2021-10-30 11:35] felixdittrich92 commented on #562
@fg-mindee

1. yes it does not only convert the image to a pdf file also it adds the invisible textlayer on top (for example to search any information into the text and mark the position in any pdf viewer) or create a blank pdf and add the text (printed) on top
2. this snippet is currently shorten to the must need functionality my original script was much longer :smile:
3. i would love to integrat

[2021-10-30 11:35] fg-mindee commented on #529
Any update @yourabhi? We cannot do much with so little information unfortunately :sweat_smile:

[2021-10-30 11:42] fg-mindee commented on #482
Things to take care of:
- [x] Clean flags and handle the default case where we assume that the page is straight and all its text elements (#551)
- [ ] Refactors that rotation scheme in predictors

[2021-11-01 11:52] felixdittrich92 commented on #554
@fg-mindee
yes sure we can do it but i think this will not work very well :smile: let me prepare a sec colab for this :)

[2021-11-01 12:33] fika321 commented on #508
我也遇到了这个问题，请问你解决了吗

[2021-11-01 15:33] fg-mindee commented on #508
Hi @fika321 :wave:

I'm sorry my Chinese skills are rather basic and I cannot read it, would you mind translating to English please?

[2021-11-02 14:38] #512 closed

[2021-11-02 18:06] felixdittrich92 opened #576 "Adding pretrained models MASTER and SAR (pytorch)"
### 🚀 The feature

@fg-mindee
Adding default pretrained models for `master ` and `Sar` in pytorch
What do you think ?

### Motivation, pitch

make all current models usable with pretrained

### Alternatives

_No response_

### Additional context

_No response_

[2021-11-02 18:06] felixdittrich92 commented on #563
@fg-mindee
closed with #576

[2021-11-02 18:07] felixdittrich92 commented on #562
@fg-mindee
any updates ? :hugs:

[2021-11-02 18:08] felixdittrich92 commented on #554
@fg-mindee
will share the other notebook tomorrow

[2021-11-02 19:44] fg-mindee commented on #563
I may be mixing things but I don't feel like #576 is related to this issue? :thinking:

[2021-11-02 19:55] fg-mindee commented on #562
Making the result a searchable PDF is a really nice feature. However, we need to keep features where they ought to be. In this case, I'd have to investigate the compatibility of the BSD license with Apache 2, and check the dependencies. This feels weird not having access to the source code of this :sweat_smile:

So for now, I'd say we should investigate alternatives that are both open source, with

[2021-11-03 07:00] felixdittrich92 commented on #562
@fg-mindee
i will investigate and update if i have some results / alternatives

[2021-11-03 07:03] felixdittrich92 commented on #563
@fg-mindee
mh yes after rethinking it is better to hold both issues the idea was more like this:
add pretrained weights for all existing models before take care of different vocabs but you are right thats two different problems

[2021-11-03 09:40] fg-mindee commented on #576
Hi @felixdittrich92,

About both:
- We had to debug the `master` in PyTorch with @charlesmindee, we'll release the checkpoint soon
- and regarding the `sar`, I must admit we have deprioritized it since it's really slow. But we'll bridge the gap as well!

[2021-11-03 12:17] felixdittrich92 commented on #554
@fg-mindee
2. example now also multipage images:
[Colab Example Multipage](https://colab.research.google.com/drive/1E0vIYP6DVNTDJWgTHjxV4JbZNCUZvWhE?usp=sharing)

BUT: this works great but for prod it would be need many checks
I'm really excited how accurate and fast your segmentation solution is :hugs:
Have you tested also slightly overlapping documents ?

[2021-11-03 12:38] felixdittrich92 commented on #562
@fg-mindee
i have faiced that it seems to be no way to do this with pure python and without extra deps.
And the most librarys i have found build on top of reportlab or on top of linux packages
[hocr2pdf](http://manpages.ubuntu.com/manpages/trusty/man1/hocr2pdf.1.html)
[xhtml2pdf](https://github.com/xhtml2pdf/xhtml2pdf/blob/master/requirements.txt)
[hocr-tools](https://github.com/ocropus/hocr-tools

[2021-11-03 15:57] fg-mindee commented on #554
Nice :+1:

I'm only concerned about the color filtering that seems to be key to the performances of this method. It's usually not robust in bad lightning conditions or any degrading conditions.

For the segmentation-based approach, I'll have to check and will let you know next week :+1:

[2021-11-03 16:59] fg-mindee commented on #562
Thanks a lot for the investigation, much appreciated :pray:
For now, I think we should keep it out of docTR. But making a notebook tutorial about that would be most beneficial!

I have to initiate the tutorial notebooks quite soon anyway so I suggest that we just wait until I submitted the first draft. Then we'll use the same process to add another notebook for this with reportlab! What do you thi

[2021-11-04 07:22] felixdittrich92 commented on #554
@fg-mindee
That can be tackled with blurring.
with this method the main problems are:

1. finding the right treshold value
2. if other rectangular objects in image
3. overlapping documents or if 4 corners can´t be detected

[2021-11-04 07:50] felixdittrich92 commented on #562
@fg-mindee
Lets say it is better as nothing :sweat_smile:
Why i am so focused to integrate it ?
tesseract is currently the only open source lib which provides some feature (but tesseract is for DL standards really old, ressource hungry and not really fast and hard to tune on own cases)
`pdf = pytesseract.image_to_pdf_or_hocr('test.png', extension='pdf')`
DocTR would be benefit from a super easy so

[2021-11-04 09:24] fg-mindee commented on #554
For sure, we need to conduct some thorough evaluations now to ensure that this method is robust (or can be made robust)! We'll check next week with @charlesmindee, in the meantime, if you have any idea to make it more robust, feel free to iterate on this approach :+1:

[2021-11-04 09:32] fg-mindee commented on #562
Well it's not nothing, because it comes with inconveniences (license, dependencies, the constraint of keeping that part as tested as the rest of the library, etc.). I fully understand the benefits, but again if there was a Github project with Apache 2 or MIT license and minimal dependencies, we would go for it! I just checked the mirror, it is a full copyright, not an open source license, so I'm g

[2021-11-04 09:56] felixdittrich92 commented on #554
@fg-mindee
yes but it would be great to have your seg model to compare between a DL approach and this CV approach :smile:

[2021-11-04 10:05] felixdittrich92 commented on #562
@fg-mindee :+1:
i will prepare a colab notebook and take again a look if i can simplify thinks :)
And take a bit deeper look how reportlab the thinks do which i would need from their library

[2021-11-05 11:02] felixdittrich92 commented on #562
@fg-mindee
i have created a notebook take a look if you want :smile:
If you are ready with the tutorial stuff we can make it a bit prettier but overall thats it :hugs:
[Colab Notebook](https://colab.research.google.com/drive/1_gP3yVQdHpw43LAvGGaWsuKGKj775xFT?usp=sharing)

[2021-11-05 11:21] fg-mindee commented on #562
Looks very neat thanks!
I'll ping you here once I setup the notebook integration :+1:

[2021-11-05 12:04] fg-mindee opened #587 "[datasets] Extend the range of public datasets supported in docTR"
Currently, we support `FUNSD`, `CORD` and `SROIE` but we should look at extending the range of supported datasets. Among others, we could include handwritten, and in-the-wild situations.

Here is a list of datasets you can usually find in OCR-related benchmarks:
- [x] IIIT-5k (https://cvit.iiit.ac.in/research/projects/cvit-projects/the-iiit-5k-word-dataset) #589
- [x] SVT (http://vision.ucsd.edu/~

[2021-11-05 13:19] fg-mindee commented on #223
Small update:
- [x] Add a publicly available dataset for artefact detection (#583)
- [ ] Add object detection architecture
- [ ] Add a dedicated training script
- [ ] Publish pretrained params

[2021-11-05 13:39] felixdittrich92 commented on #587
@fg-mindee
handwritten:
https://fki.tic.heia-fr.ch/databases/iam-handwriting-database
was also used for TrOCR finetuning

[2021-11-05 21:27] felixdittrich92 commented on #587
TextOCR dataset
https://textvqa.org/textocr/dataset/

[2021-11-07 10:08] felixdittrich92 commented on #587
@fg-mindee
i will start with the IIIT-5K dataset can you assigne me to this :smiley: ?

[2021-11-08 08:36] RBMindee opened #588 "Text too big or box too small in synthetize"
### Bug description

Running the basic example in readme with `plt.imshow(result.synthesize()[0]); plt.axis('off'); plt.show()`, several portions of text are cut on the right, as if the text is too big or the box too small. This happens on both pdf and images.

### Code snippet to reproduce the bug

[code]

### Error traceback

No error

### Environment

/home/remy/.virtualenvs/doctr_qa/lib/python

[2021-11-08 10:23] fg-mindee commented on #588
Hi @RBMindee,
Could you provide some sample to reproduce this behaviour please? :pray:

[2021-11-08 10:24] fg-mindee commented on #587
Sure, you can go ahead and I see that you already opened a PR :)

[2021-11-08 13:46] RBMindee commented on #588
[seatosky_20180908_005.pdf](https://github.com/mindee/doctr/files/7497376/seatosky_20180908_005.pdf)
Here's an example, see the "a" at the end of sea to sky gondola or the amount $46.15. Just in case it is related, this is with matplotlib TkAgg backend.

[2021-11-08 13:52] fg-mindee commented on #588
@RBMindee that might be related to the matplotlib backend then :thinking:

Here is what I get on my end:
![synthesized_page](https://user-images.githubusercontent.com/76527547/140753635-2a190c7c-6805-4098-aaa4-83eff9520630.png)

If that looks good to you, would you mind trying again with another matplotlib backend? If it's indeed related to this, we might have to throw a warning when users have th

[2021-11-08 14:13] RBMindee commented on #588
That's not what I have. What is the backend you used ?

[2021-11-08 14:20] fg-mindee commented on #588
It's getting weird :thinking:
[code]

Which version of matplotlib & PIL are you running?
I have mpl 3.4.2 & PIL 8.3.1

[2021-11-08 14:29] RBMindee commented on #588
mpl 3.4.2, PIL 8.4.0 (but I tried 8.3.1 with no change), tkinter is 8.6. What's your tkinter ?

[2021-11-08 14:54] fg-mindee commented on #588
It's from the standard library and I have the same Python version as you :upside_down_face:

Perhaps it's because you don't have the default font installed? When running the script, does it throw any warning about loading default PIL font?

[2021-11-08 16:00] jonathanMindee opened #591 "Text recognition pretrained models: Use only pretrained backbone to allow fine tuning on different vocabularies"
### 🚀 The feature

The idea would be to be able to fine-tune a text recognition model on a different vocabulary than the pretrained model. Today it's not possible, as the whole pretrained model is frozen.

### Motivation, pitch

I have a use case where my character classification head would require only 34 classes. My dataset doesn't contain that many data, the pretrained feature is awesome to hel

[2021-11-08 16:17] RBMindee commented on #588
I am not sure if it's due to my venv, but I had to install it (sudo apt install python3-tk). I do not have any warning and I have the default fonts.

[2021-11-08 16:31] jonathanMindee opened #592 "Text recognition: Split wide crops parameter highly decrease performances"
### 🚀 The feature

Fine tune the wide crops splitting method

### Motivation, pitch

Hey!

It's not a bug per se, because my code is running well. But I retrained a text recognition model, and the performances on my test set were very low compared to my validation set (both from the same dataset).

I digged a bit into the code, and noticed thes lines:
[code]

I commented them, and the performances

[2021-11-08 19:33] osanseviero commented on #426
Hey @fg-mindee! I'll join the Slack since that usually works well for us. We could also have a shared channel between HF and Mindee

[2021-11-08 20:26] felixdittrich92 opened #594 "Add as_recognition_dataset to VisionDataset"
### 🚀 The feature

Add a method to the VisionDataset which make it possible to use each dataset also for recognition task.
Todo would be crop each box as image with there plain label and all exsisting chars as vocab.
A must have would be to merge multible datasets
@fg-mindee
wdyt ?

### Motivation, pitch

Provide datasets also for recognition would be a big benefit for training part and i think a

[2021-11-08 21:16] felixdittrich92 commented on #587
Char74k dataset
[http://www.ee.surrey.ac.uk/CVSSP/demos/chars74k/](http://www.ee.surrey.ac.uk/CVSSP/demos/chars74k/)

[2021-11-09 10:59] fg-mindee commented on #594
Hi @felixdittrich92!

Yup, I agree but I think the best way to achieve this would be to have a constructor flag for each dataset:
- all dataset don't have the same task annotations
- so when the user request text detection annotations from a text recognition one, we'll have to throw an error
- in compatible cases, I would say that having a class attribute specifying the possible compatible tasks.

[2021-11-09 11:12] charlesmindee commented on #592
Hi @jonathanMindee, it would be great to have samples indeed on the slack community!
Thanks for that!

[2021-11-09 11:23] jonathanMindee commented on #592
Hi @charlesmindee: Done on the docTR channel

[2021-11-09 11:49] felixdittrich92 commented on #594
@fg-mindee
sounds good to me but can we add an minimalistic example at this issue ?
:hugs:

[2021-11-09 12:09] fg-mindee commented on #594
I was thinking about something quite simple:
[code]

[2021-11-09 12:40] felixdittrich92 commented on #594
[code]

[2021-11-10 12:07] felixdittrich92 commented on #587
TotalText dataset
[https://github.com/cs-chan/Total-Text-Dataset/tree/master/Dataset](https://github.com/cs-chan/Total-Text-Dataset/tree/master/Dataset)

[2021-11-10 12:29] khalidMindee opened #602 "problem exporting saved_model"
### Bug description

When loading a recognition model, I am unable to export the corresponding saved_model after one step of training .

### Code snippet to reproduce the bug

[code]

### Error traceback

[code]

### Environment

Collecting environment information...

DocTR version: 0.4.1a0
TensorFlow version: 2.4.4
PyTorch version: N/A (torchvision N/A)
OpenCV version: 4.5.4-dev
OS: Ubuntu 18.04.

[2021-11-10 16:31] fg-mindee commented on #263
Quick update: this design was good on paper but ML frameworks actually uses AMP instead of full fp16. And other data types yield issues with post processing (cv2 doesn't like things that are not in fp32 among others)

[ ] - Adding AMP support to PyTorch trainings (#604)
[ ] - Adding AMP support to TensorFlow trainings

[2021-11-11 07:15] felixdittrich92 commented on #587
@fg-mindee
I´m not able to grab the IAM dataset (have registered but after this nothing) so i would say lets change this to IMGUR5K dataset i will prepare this (it´s only a generator script) but we need to upload this (IAM would be the same)
[https://github.com/facebookresearch/IMGUR5K-Handwriting-Dataset](https://github.com/facebookresearch/IMGUR5K-Handwriting-Dataset)

[2021-11-12 11:55] fg-mindee commented on #587
If one dataset cannot be downloaded directly, we'll add instructions where to get it and change the constructor. But apart from some exceptions, we won't reupload public datasets :+1:

[2021-11-12 13:10] fg-mindee opened #610 "[api] Add support of PDF / multi-image inputs in the API template"
Currently, as specified in #609, the API template only supports single image input. With the latest version of docTR, it would be quite easy to change this to support PDF and multiple image inputs.

[2021-11-12 13:39] fg-mindee commented on #602
Hi @khalidMindee,

As I suspected, this isn't due to training but only because inputs were passed in the model triggering the lazy initialization of kernels. Here is a snippet to reproduce the error:

[code]

[code]

[2021-11-12 16:44] #594 closed

[2021-11-12 22:07] felixdittrich92 commented on #587
@fg-mindee
Same way if a dataset needs multible downloads (1 for anno file, 1 for images, ..) or any other suggsestion ? :)

[2021-11-15 11:06] fg-mindee commented on #587
If the dataset is public, either:
- all of those are in a downloadable zip --> we DL it and extract
- there are many URLs to download --> we need to store the list of URL and download all of those in parallel

[2021-11-15 13:54] felixdittrich92 opened #625 "Add multi download in parallel"
### 🚀 The feature

Improve the `download_from_url` function to enable multiple downloads in parallel.
the `_VisionDataset` needs also changes to unpack all downloaded files if needed

### Motivation, pitch

For example some datasets needs to download multiple packed files.

### Alternatives

_No response_

### Additional context

#587

[2021-11-15 14:39] #558 closed, assigned to fg-mindee

[2021-11-15 14:44] felixdittrich92 commented on #625
@fg-mindee
good to know :sweat_smile:

[2021-11-15 15:30] fg-mindee commented on #508
Closing this as we're not able to reproduce it @jonathanMindee
Also this part of the code has been improved in #589, so perhaps this won't happen to you anymore.

Feel free to reopen with additional information if you still encounter the problem!

[2021-11-15 15:30] #508 closed

[2021-11-16 16:19] fg-mindee commented on #263
Moving this to a later release for TensorFlow support of AMP

[2021-11-16 22:32] haythemBD opened #631 "Doct not working on some crops"
Hello community, I have crops from a given image on which I want to run doctr (zoo model) to recognize text. the OCR predictor returns nothing and generates some warnings during the processing. Is there any solution for this please?
![bug](https://user-images.githubusercontent.com/90775911/142076893-259833ef-1739-41aa-9a89-d3e87f19d916.jpg)

[2021-11-17 09:12] fg-mindee commented on #631
Hi @haythemBD :wave:

Thanks for the feedback! However we're missing quite a lot of information from the bug report template to debug properly :sweat_smile:
Could you provide the following please?
- the minimal python code snippet to reproduce this behaviour
- your environment configuration (please report the console output of the following snippet)
[code]

_Next time, please follow the bug report

[2021-11-18 13:27] hkhanr opened #638 "Fine tune Detection and Recognition models on custom dataset"
### Discussed in https://github.com/mindee/doctr/discussions/637

<div type='discussions-op-text'>

<sup>Originally posted by **hkhanr** November 18, 2021</sup>
Hello,

I want to fine-tune detection and recognition models on my custom dataset.
I have annotated few document images. I converted these annotation to the format mention in the following link [https://github.com/mindee/doctr/tree/main/re

[2021-11-18 14:12] fg-mindee commented on #638
Hi there :wave:

Please don't open duplicate issue/discussion on the repo :pray:
Let's continue this topic on the discussion :+1:

[2021-11-18 14:12] #638 closed

[2021-11-19 10:21] LCMA7 opened #639 "Detection on image part not working"
Hi,

I tried to use docTR on a part of an image, but it does not seems to work .
Here is the full image, the part image, the code and the output obtained :

### **Input**
![2](https://user-images.githubusercontent.com/85179628/142606100-0da6406e-9b96-42cd-9ecd-7ec333e58a48.jpg)
![5](https://user-images.githubusercontent.com/85179628/142606097-fa7e0320-3f1c-4ee6-b255-17d5091929ed.jpg)

### **Code**

[2021-11-21 13:21] Tharunkumar01 commented on #529
I got the same error. I am a windows 10 user.
**My Error code:**
`OSError
Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_19732/2728866201.py in <module>
----> 1 from doctr.io import DocumentFile
      2 from doctr.models import ocr_predictor
      3
      4 model = ocr_predictor(pretrained=True)
      5 # PDF

c:\users\tharun\src\python-doctr\doctr\__init__.py in <module>
----> 1

[2021-11-21 17:45] fg-mindee commented on #529
Hi @Tharunkumar01 :wave:

Thanks for providing the traceback and the command! Have you installed the [prerequisites](https://mindee.github.io/doctr/latest/installing.html#prerequisites) before attempting the pip install? (MacOS & Windows don't ship with the same preinstalled elements as Linux distributions)

[2021-11-21 20:39] fg-mindee commented on #639
Hi @LCMA7 :wave:

Thanks for bringing this up! So the underlying problem here is the scale robustness of our text detection module (the part that localizes the text), which was trained on documents and not crops/subparts.
So to answer your question:
- what you can do: if you already have the localization of the textual elements, send them directly to a RecognitionPredictor
[code]
- what we will do

[2021-11-22 09:53] felixdittrich92 commented on #262
@fg-mindee
@charlesmindee
following #640 what is your idea to implement this or better what you expect to generate ?
My closed PR has implemented a Word-Image generator with the depending word labels where you can specify:

- language (vocab)
- image size
- background (noise /white)
- font (family / size)
- was planned also to add: rotation / distorsion / skew / blur

My orientation was a bit on t

[2021-11-22 13:37] Tharunkumar01 commented on #529
Thank you @fg-mindee. It worked after installing GTK.

[2021-11-22 15:06] saitej123 commented on #527
is there any other method based on custom annotation extract what ever data fields we want in structured format? object detection on top of extracted data with simple BB selection and train for new samples

[2021-11-22 15:08] saitej123 commented on #527
@charlesmindee please let me know !

[2021-11-22 16:20] fg-mindee commented on #529
No problem, happy to help :+1:

[2021-11-22 16:20] #529 closed

[2021-11-23 12:44] felixdittrich92 commented on #587
@fg-mindee

- IAM dataset is not possible (i have requested access but nothing has happened since then)

- same for IMGUR5K without uploading we cannot provide this dataset (its a generator script which downloads the images from google images and compares the checksum from a provided list)

Wdyt can we add a function `download_from_drive` to provide also GoogleDrive downloads ?
For example TotalTe

[2021-11-23 12:52] felixdittrich92 commented on #587
ICDAR 2019 Robust Reading Challenge on Multi-lingual scene text detection and recognition
https://rrc.cvc.uab.es/?ch=15&com=downloads  (need account)

[2021-11-23 14:34] felixdittrich92 commented on #554
@fg-mindee
any update on this ? :)
Have you been able to successfully test your segmentation or does it make sense to stick with my approach here ? :smiley:

[2021-11-23 21:59] fg-mindee commented on #587
@felixdittrich92 sorry for the late reply!

- about the selection of datasets, we won't support dozens of datasets in the end, so it's alright we can't have all of them :+1:
- from what I remember, downloading from google drive is a pretty big dep, so we won't go into this :/
- for ICDAR-like datasets where registration is needed, we can easily, just like our private dataset, use the second type o

[2021-11-23 21:59] fg-mindee commented on #554
We should be able to have something in December but for now there is already a lot on our plate :sweat_smile:

[2021-11-24 09:56] felixdittrich92 commented on #587
@fg-mindee
GoogleDrive downloader would be also one function, which needs only python builtin stuff (does work not with urls you need only the file_id from the url) ... but its ok not to support :)
I will investigate a bit and take a look which datasets really are a good fit and come back with this

[2021-11-24 13:23] Rob192 opened #646 "Assertion error when using assume_straight_pages=False"
### Bug description

When I am using `assume_straight_pages=False` in the `OCRPredictor` I am getting an Assertion error since #641

### Code snippet to reproduce the bug

[code]

![aaaaa_straight](https://user-images.githubusercontent.com/33607785/143246053-89b5f292-b8d8-41a7-9730-9d95b0c5a115.jpg)

### Error traceback

[code]

### Environment

[code]

[2021-11-24 14:57] felixdittrich92 commented on #587
@fg-mindee

- [ ] IMGUR5K [https://github.com/facebookresearch/IMGUR5K-Handwriting-Dataset](https://github.com/facebookresearch/IMGUR5K-Handwriting-Dataset)
- [ ] IC19 ([https://rrc.cvc.uab.es/?ch=15&com=downloads](https://rrc.cvc.uab.es/?ch=15&com=downloads))

Additional maybe ?

- [ ] IC03 ([http://www.iapr-tc11.org/mediawiki/index.php?title=ICDAR_2003_Robust_Reading_Competitions](http://www.iap

[2021-11-24 16:20] charlesmindee commented on #646
Hi @Rob192,

This should be fixed when merging the PR #647.

Now that we have the `assume_straight_pages option`, you need to pass it in the Detection predictor. You have 2 options:
- You can use the high-level function `ocr_predictor(assume_straight_pages=True)` (which will pass the flag through the detection predictor).
- If you wan to instantiate an `OCRPredictor` as you did from a `detection_p

[2021-11-24 17:39] charlesmindee commented on #482
Closed by #641 (no page rotation anymore)

[2021-11-24 17:39] #482 closed

[2021-11-24 20:34] Rob192 commented on #646
Hi @charlesmindee,
Ok thanks ! My issue arises when I set `assume_straight_pages=False`. I think this comes from the fact that `extract_rcrops` outputs arrays of `shape[1]==5` and they should be of `shape[1]==6`.

[2021-11-25 08:39] charlesmindee commented on #646
Hi @Rob192,
Are you sure this is still an issue ?
This code is running correctly on my computer (after #647):

[code]

[2021-11-25 08:49] Rob192 commented on #646
Oh Ok !!! I did not properly understood your answer. I was not passing `assume_straight_pages` to the `detection_predictor` ! It's fixed now thanks ! I am closing this.

[2021-11-25 08:49] #646 closed

[2021-11-25 08:56] charlesmindee commented on #431
I guess this is not an issue anymore since we released this repo:
https://github.com/mindee/doctr-tfjs-demo

What do you think @fg-mindee ?

[2021-11-25 09:57] #562 closed

[2021-11-25 10:34] #431 closed

[2021-11-26 15:11] felixdittrich92 commented on #587
@fg-mindee
ok i think (after the open PRs) it would be enough for the moment !?
Only IMGUR5K would be nice as last one that in order to be able to cover handwriting as well
wdyt ?

we should then also revise the boxes for the records so that they all have relative coordinates (but i would open a extra PR if this one is complete) :smile:

[2021-11-29 17:35] charlesmindee opened #658 "Make the demo torch-compatible"
### 🚀 The feature

Run the demo with pytorch

### Motivation, pitch

This would be great to be able to run the demo with pytorch

### Alternatives

_No response_

### Additional context

_No response_

[2021-11-29 22:43] fg-mindee commented on #587
Hello @felixdittrich92 :wave:

Yes, apart from IMGUR5k, where I'll have to take a closer look at, I think we're good for a while now :ok_hand:
Regarding localization annotation format, we were also planning to unify all of those, but it will be a topic for another issue :)

[2021-11-29 22:57] fg-mindee commented on #587
About IC19 to replace IC13, most research papers evaluate their perf on IC03, IC13 and IC15.
While I agree it's nice to have multilingual, as of now, the library hasn't been tested to work with characters that might be out of most popular encodings. So perhaps we should stick with either IC13 or IC15 for now :thinking:

[2021-12-01 17:29] charlesmindee opened #668 "Resolve lines when rotation is enabled"
### 🚀 The feature

resolve lines

### Motivation, pitch

resolve lines

### Alternatives

_No response_

### Additional context

_No response_

[2021-12-07 12:19] fg-mindee opened #680 "[datasets] Mocking small versions of datasets for unittests"
As docTR grows, the number of supported datasets will increase. We cannot afford to add several minutes to the CI tests for every dataset that we add. So I suggest the following:
- adding pytest fixture in `tests/conftest.py` that will create the data files in a temporary folder and return the path to it
- use this for dataset unittests instead of downloading the subsamples or full dataset

The so

[2021-12-07 12:22] fg-mindee commented on #631
Any update @haythemBD ? :pray:

[2021-12-07 12:23] fg-mindee commented on #639
Closing this as it looks like you approved my previous answer @LCMA7 :+1:
If that's not the case, feel free to reopen!

[2021-12-07 12:23] #639 closed

[2021-12-07 12:40] fg-mindee commented on #486
Quick update here, we're looking for suggestions from everyone :pray:

We have two main options:
- keeping PyMuPDF and trying to figure whether making some parts of the library optional (as extra) would work legally to avoid AGPL
- looking for a fast alternative and here we have absolutely no clue (cf. https://github.com/mindee/doctr/issues/23 it's much faster than other alternatives)

[2021-12-07 12:42] fg-mindee commented on #588
Coming back to this, we should handle this PR :+1:

@RBMindee do you have any way to check whether it reproduces the same behaviour with a fresh installation?

Otherwise, considering no one else has been able to reproduce this, I'd argue it would be good to close it (assuming this is an underlying problem of environment with matlplotib or another dep)

[2021-12-07 12:43] fg-mindee commented on #592
Coming back to this, should we then change the hyperparams of split/merge of crops to close this issue?

[2021-12-07 14:11] charlesmindee commented on #592
As it turns out, this doesn't occur on our pretrained crnn.
I tried a target_ar of 6, it is slightly better so I will open a PR to close this issue.

[2021-12-07 14:23] haythemBD commented on #631
- Hello @fg-mindee. I think that the model works really well on big images but not on small ones: for example images with 300*300 dimension.

[2021-12-07 14:32] #592 closed

[2021-12-07 14:32] fg-mindee commented on #631
Alright, but we need some specifics from you so that we can do something with this issue :sweat_smile:
That's why we created the bug report template, so that we don't have to go back & forth until we collect all required information :upside_down_face:

As requested earlier, could you please share:
- your environment information
- the input image where you noticed this
- a minimal code snippet to r

[2021-12-07 14:40] fharper commented on #480
I didn't have time to try to make it work again. I think I've checked those tutorials, but it wasn't working for me. I'll give it another try as soon as I can.

[2021-12-07 14:40] haythemBD commented on #631
I thin indeed it is the same problem @fg-mindee. You can close this issue

[2021-12-07 14:52] fg-mindee commented on #631
Glad it helped! Let us know if you have additional questions :pray:

[2021-12-07 14:52] #631 closed

[2021-12-07 14:54] #668 closed

[2021-12-07 14:54] fg-mindee commented on #480
Oh yeah, it's more for tracking purposes :+1:
Considering the efforts that people have to put into this to make it work on M1 chips, I wouldn't advise jumping back into this if you're busy!

[2021-12-07 17:41] RBMindee commented on #588
Actually I tried again one or two weeks ago and it does not occur anymore... I have no idea what changed... It was on a very fresh linux installation, so I'm randomly guessing some package were not updated ? Anyway, although it is a bit frustrating, I guess we can close the PR as the initial script does not reproduce the problem on my machine.

[2021-12-07 17:43] fg-mindee commented on #588
Good to hear @RBMindee :+1:
Most likely it was a setup issue with one of the deps then!

[2021-12-07 17:43] #588 closed

[2021-12-08 08:03] #263 closed

[2021-12-08 18:54] Shishir-Suman commented on #646
Still seems to throw me the same error. Anyone successfully ran the above code block with the latest version?
AssertionError: boxes are expected to be relative and in order (x, y, w, h, alpha)

[2021-12-09 09:07] fg-mindee commented on #646
Hi @Shishir-Suman :wave:
On my end, I just tried with the last commit of the "main" branch and the code runs successfully!
Have you installed this in developer mode to have the latest codebase version?

cf. https://github.com/mindee/doctr#developer-mode

[2021-12-09 10:17] Rob192 commented on #646
@Shishir-Suman for me what resolved the error is to ask the det_predictor for straight of rotated boxes :
`det_predictor = detection_predictor('db_resnet50', pretrained=True, batch_size=det_bs, assume_straight_pages=False)`

see @charlesmindee [snippet ](https://github.com/mindee/doctr/issues/646#issuecomment-978955629)

[2021-12-09 15:31] fg-mindee commented on #591
The PR #687 will add a `pretrained_backbone` option to the last architecture that didn't have it in our model zoo :+1:

[2021-12-10 10:17] #591 closed

[2021-12-10 13:31] fg-mindee commented on #330
Coming back to this issue, I suggest the following:
- Investigate the heatmap of the text detection module to assess whether this comes from the segmentation or box conversion part (I'm especially interested in the overlapping localization candidates shown on the issue description image)
- discuss options to handle the situation depending on our findings
- as shown earlier, NMS isn't really the be

[2021-12-10 15:09] fg-mindee opened #696 "[references] Implement a show_sample option in the object detection training script"
Currently, there are options in all scripts to show the training samples of a single batch. The object detection script is lacking this, and it would be very useful before diving further into augmentations!

This could be materialized by having a `references/obj_detection/utils.py` with the definition of `plot_samples` similarly to other tasks :ok_hand:

[2021-12-10 16:56] fg-mindee opened #699 "[scripts] Adding scripts to easily evaluate the latency of models"
As discussed, we need to provide means to accurately evaluate the latency of models in a given environment. This comes with several challenges and questions:
- 1 script per framework?
- 1 script per task? (text detection, object detection, text recognition)
- should we benchmark the predictor or the DL model only? (for OCR we don't have any end-to-end DL model for instance, so that )

I would sugg

[2021-12-13 11:30] JMaximilian opened #701 "OSError: no library called "cairo"/cairo2 was found in Windows"
### Bug description
Error when important the library in python.

Steps I took:
1. Install [GTK ](https://github.com/tschoonj/GTK-for-Windows-Runtime-Environment-Installer/releases)
2.  Created a new venv
3.  pip install "python-doctr[tf]

### Code snippet to reproduce the bug

Both lines throw the same error in Python.
[code]

### Error traceback

[code]

### Environment

Windows 10
Python 3.7.9
T

[2021-12-13 17:57] fg-mindee commented on #701
Hi @JMaximilian :wave:

I've tried to reproduce this error but it is a bit tricky as we don't have many people around with Windows setups. However from the error message that you got, I understand that cairo isn't installed in your environment.

In the documentation, we added instructions on how to handle this, which are directly taken from the installation instructions of the one dependency that

[2021-12-13 18:22] JMaximilian commented on #701
Hi @fg-mindee,

Thanks for your response. Indeed the weasyprint HTML import throws the same error.

So the error is not on your side but on weasyprint.
Unfortunately, their documentation is not providing a working solution for me.

[2021-12-13 18:50] fg-mindee commented on #701
Sorry about this!

I've read several times that the problem may come from the incompatibility between 32bits / 64bits systems. I would suggest checking the official GTK installation page over here :point_right: https://www.gtk.org/docs/installations/windows/

[2021-12-14 11:09] #696 closed

[2021-12-14 12:22] #701 closed

[2021-12-14 14:31] fg-mindee commented on #587
Checking the ref, Imgur5K word images looks like a nice final addition for this round :)

[2021-12-14 15:40] matthiasmindee opened #714 "Conflict with shapely dependencies on Windows"
### Bug description

I installed gtk for windows before, it was in the path and was installed correctly. It seems that shapely can't be correctly installed with pip.

### Code snippet to reproduce the bug

pip install "python-doctr[tf]"

### Error traceback

Collecting python-doctr[tf]
  Downloading python_doctr-0.4.1-py3-none-any.whl (169 kB)
     |████████████████████████████████| 169 kB 2.2 MB/

[2021-12-14 16:50] fg-mindee commented on #587
Mmmh it looks more like the script to simply download the dataset :sweat_smile:
It parses the list of image URLs that is in the repo, & download them! (cf. https://github.com/facebookresearch/IMGUR5K-Handwriting-Dataset/blob/main/download_imgur5k.py#L95)

And it's a real-world handwritten image dataset, not a synthetic one to the best of my understanding!

[2021-12-14 16:52] fg-mindee commented on #701
Out of curiosity @JMaximilian, did you manage to solve your problem (even though it's from an external dependency)?
We're going to try to reproduce the bug, but it's usually quite tricky considering how installing some Python deps require extra specific steps on Windows :sweat_smile:

[2021-12-14 17:10] felixdittrich92 commented on #587
@fg-mindee
Yes you misunderstood this with real the meaning was more any compressed format 😅
like other datasets

The repo provides some "lists" with urls, hashes and labels .. of course we can provide something as "live creation" but:

Lets discuss this tomorrow in Slack short :)

[2021-12-15 13:59] felixdittrich92 commented on #680
@fg-mindee
SVHN can marked as done :hook: :sweat_smile:

[2021-12-15 14:01] felixdittrich92 commented on #587
@fg-mindee
please update IAM with IMGUR5K [https://github.com/facebookresearch/IMGUR5K-Handwriting-Dataset](https://github.com/facebookresearch/IMGUR5K-Handwriting-Dataset)

Thaanks :)

[2021-12-17 09:46] felixdittrich92 commented on #680
@fg-mindee
Can be closed if you are fine with the PR :smile:

[2021-12-17 18:10] #680 closed

[2021-12-18 22:09] felixdittrich92 opened #729 "[datasets/documentation] Add 1-2 dataset examples + visualized targets"
### 🚀 The feature
Adding the possibility to inspect a loaded dataset with a dataset viewer

### Motivation, pitch
[code]

Why ?
It would be a nice feature to give the user a look into the loaded dataset (for some reasons (trust, interest if dataset is not known, ..))
Makes it easier to check new implemented datasets (also for contributer)

Additional

- show all examples from set as thumbnail grid

[2021-12-20 12:55] fg-mindee commented on #729
Hi @felixdittrich92 :wave:

Would you mind specifying what you have in mind please (editing the issue description) ? "clickable data set view" ?

In the motivation, pitch section, please provide some code sample and the type of expected result you would like to see :pray:

[2021-12-20 13:13] fg-mindee opened #730 "[transforms] Extends the list of supported data augmentations"
As discussed in #654, the artefact detection needs to improve its robustness. In order to do so and prevent overfitting, I would suggest gradually extending the list of our supported transformations:
- [x] uniform photometric transformations (noise, blur, etc.) #758 #654 #768 #771
- [x] non-uniform photometric transformations (shadows, etc.) #811
- [ ] geometric transformations (flips, rotations,

[2021-12-20 15:44] fg-mindee opened #732 "[notebooks] Add a notebook tutorial on artefact detection"
The artefact detection feature is a really nice one, and we should help users to leverage it in the most efficient way. I believe that a notebook tutorial would be a good way to do so, what do you think @SiddhantBahuguna?

[2021-12-20 16:33] SiddhantBahuguna commented on #732
I completely agree with you. I am on it!
Thanks :)

[2021-12-20 20:40] felixdittrich92 commented on #729
@fg-mindee
yes sorry for the lazy description :sweat_smile:
Hopefully now it is more understandable !? :dancers:

[2021-12-24 10:29] #699 closed

[2021-12-25 12:38] fg-mindee commented on #732
Now that https://github.com/mindee/notebooks/pull/5 has been merged, would you mind opening a PR here to add a new row in this table https://github.com/mindee/doctr/blob/main/notebooks/README.md ? :)

That will automatically deploy it in the documentation (https://mindee.github.io/doctr/latest/notebooks.html)

[2021-12-25 16:02] SiddhantBahuguna commented on #732
Thanks for the further guidance!
A PR has been opened:)

[2021-12-25 16:12] fg-mindee commented on #732
The issue shouldn't be closed before the PR is merged!

[2021-12-25 16:13] SiddhantBahuguna commented on #732
Oh my bad :) Thanks

[2021-12-25 23:55] #732 closed

[2021-12-26 13:56] #478 closed

[2021-12-26 14:04] fg-mindee commented on #223
Closed by #713

[2021-12-26 14:04] #223 closed

[2021-12-26 14:13] charlesmindee commented on #443
is that still an issue with #731 ?

[2021-12-26 14:16] fg-mindee commented on #443
I was reviewing this issue actually, and I'm not 100% sure. I assume it does, but we need to test if `expand=True` works once #731 is merged to be safe :+1:

[2021-12-27 11:16] #262 closed

[2021-12-29 13:31] #225 closed

[2021-12-29 16:07] fg-mindee commented on #352
Closed by #765 :rocket:

[2021-12-29 16:07] #352 closed

[2021-12-29 16:08] fg-mindee commented on #443
@charlesmindee according to the last commits we just made on the `main` branch, this isn't an issue anymore I believe. Can you confirm it so we can close the last 0.5.0 issue related to rotation? :smiley:

[2021-12-30 08:25] charlesmindee commented on #275
This has been fixed in #766, since this PR one has only to pass `preserve_aspect_ratio=True` to the `ocr_predictor` (or the `detection_predictor`) to preserve the aspect ratio of the image when resizing. We didn't train our models with that option for the moment, but we just have to pass this argument to `T.resize` in the training scripts to begin to train this way.

[2021-12-30 08:25] #275 closed

[2021-12-30 08:40] charlesmindee commented on #443
I am not sure to get your point here: expand=True is used only in the rotation transformation because we have to rotate the page, and it is working well in this transformation at training time, but at inference time in the predictor we don't rotate pages since we have now a rotation-aware detection model

[2021-12-30 08:47] charlesmindee commented on #454
I seems that they are not likely to fix this in the near future...

[2021-12-30 08:52] charlesmindee commented on #486
That is indeed a tricky issue, could you explain the first point @fg-mindee ? How can we make the license working if it is optional ?

[2021-12-30 11:11] fg-mindee commented on #454
Yes unfortunately, but we'll have to keep this one open for reference then :/

[2021-12-30 15:59] fg-mindee commented on #402
We won't have time to harmonize & retrain all models with this before the next release, so I'm staging it for 0.6.0 :+1:

[2021-12-30 17:15] fg-mindee commented on #443
Could you specify;
- do you mean that we won't need to pass `expand=True` at inference time in the predictor because the predictor behaviour & flags are already taking care of this?
- or do you mean that we might need in the future to pass it, and it's impossible that this works as is?

In the first case, I believe we can close this issue :+1:

[2022-01-03 10:37] bashirmindee opened #783 "Images not displayed on the PyPi page."
### Bug description

The images concerning Visualization sample, Synthesis sample, Demo app and TFJS demo aren't displayed on the PyPi page.
![image](https://user-images.githubusercontent.com/91077790/147921168-46217bc4-bb70-4295-afac-a34d7b868388.png)

However they are well displayed in the Github readme.

### Code snippet to reproduce the bug

.

### Error traceback

.

### Environment

google c

[2022-01-03 10:44] fg-mindee commented on #783
Thanks for reporting this @bashirmindee :pray:
I've already seen this on pypi, and apparently, it's a common issue. Here is a StackOverflow thread about this: https://stackoverflow.com/questions/41983209/how-do-i-add-images-to-a-pypi-readme-that-works-on-github

[2022-01-03 12:52] Rob192 commented on #225
Do you guys still want to do a benchmark comparison before closing this one ?

[2022-01-04 16:53] mat-l commented on #701
Dear @JMaximilian, I am also running into the same problem. Could you please give me a hint how you have solved it?

[2022-01-05 07:57] JMaximilian commented on #701
Hi @mat-l

Did you already check whether the issue comes from weasyprint?
`from weasyprint import HTML`

My "solution" was installing it on another system, and there it worked.
When installing take care to install GTK first, before docTR.  Sorry I cannot be more of a help.

[2022-01-09 00:31] mahmoudaljan commented on #225
Hello guys, could you please provide instructions on how to use the new page skew correction util in version 0.5 ? Also, i wasn't able to get the OCR to output rotated bounding boxes even after upgrading to v0.5
Could you please help ?

[2022-01-10 10:49] fg-mindee opened #788 "Release tracker - v0.5.1"
This issue is to be used to track the roadmap of docTR for release v0.5.1.

- Models
    - [ ] Bridge the gap between TensorFlow & PyTorch support of text detection on rotation
- Transforms
    - [x] Harmonize `RandomRotate` between PyTorch & TensorFlow #784
    - [x] Add missing TensorFlow support for docTR transforms #779

[2022-01-10 11:05] fg-mindee opened #789 "[models] Ensure all PyTorch models are ONNX exportable"
Most users of the library are more interested in existing pretrained models to use for inference rather than training. For this reason, it's important to ensure we can easily export those trained models.

- General
    - [x] Add a unittest/CI job to check that all models can be exported with ONNX (#976, #979, #980 )

- Classification
     - [x] VGG (#830)
    - [x] ResNet (#830)
    - [x] MobileNe

[2022-01-10 11:06] fg-mindee opened #790 "[models] Ensure all TensorFlow models are SavedModel exportable"
Most users of the library are more interested in existing pretrained models to use for inference rather than training. For this reason, it's important to ensure we can easily export those trained models.

- General
    - [ ] Add a unittest/CI job to check that all models can be exported with ONNX

- Classification
     - [ ] VGG
    - [ ] ResNet
    - [ ] MobileNet V3
    - [ ] MAGC ResNet

- Text

[2022-01-10 11:14] fg-mindee opened #791 "Release tracker - v0.6.0"
This issue is to be used to track the roadmap of docTR for release v0.6.0, and collect feedback from users & contributors.

For the v0.5.2 roadmap, please see #967

- Datasets
    - [x] #587
    - [x] Unify localization target to relative coordinates #775
    - [x] #935
    - [x] #955
    - [x] #827
    - [x] #782
    - [x] #987
    - [x] #594 #889 #891
    - [x] #955
    - [x] #927
    - [x] #956

[2022-01-10 12:52] fg-mindee commented on #443
ping @charlesmindee (I think it's the first option, but I want to be sure before closing the issue)

[2022-01-10 15:32] #587 closed

[2022-01-10 17:39] felixdittrich92 commented on #729
@fg-mindee
Any feedback ? Do you agree to implement this feature ?

[2022-01-10 19:59] fg-mindee commented on #486
@charlesmindee I have to check but the idea was to put all our PDF features in an extra build (not the core/default one)

[2022-01-10 20:00] fg-mindee commented on #486
For reference, here are some properly licensed alternatives:
- https://github.com/Hopding/pdf-lib (we'd need a binding for Python)
- https://github.com/pdfminer/pdfminer.six
- https://github.com/Belval/pdf2image

[2022-01-10 20:59] fg-mindee commented on #729
Hey @felixdittrich92 :wave:

My apologies! Considering the scope of the project, I don't think this should be integrated into the library as-is:
- this will lead to other discussions of other visualization-related features, which are dependencies/topics quite different from the ones used for OCR inference
- for training purposes, we already have a `--show-samples` flag that displays a batch of sam

[2022-01-10 21:30] felixdittrich92 commented on #729
@fg-mindee
Yes i agree it was only a idea to give the user a better overview :)
But to improve the documentation with 1-2 examples + visualized targets is a really good way to do this also great idea 👍

[2022-01-11 13:21] Rob192 opened #800 "Restore remap_boxes function"
### Bug description

Following #731, the function `remap_boxes` and its associated test `test_remap_boxes` that were introduced in #488 were removed. This prevents the correct remapping of the boxes after they were rotated (parameter `straighten_pages` of `OCRPredictor` set to `True`).

### Code snippet to reproduce the bug

[code]

### Error traceback

No error, however, the boxes that appear are

[2022-01-11 15:23] fg-mindee commented on #800
Hi @Rob192,

Thanks for opening the issue :pray:
So I suggest doing the following in a PR:
- starting by designing a relevant unittest where we mock a white page with only a few lines (easy)
- we rotate this page, and we create a unittest where passing this image to `estimate_orientation` should yield the rotation angle with some margin (I think this is already setup)
- now we need to add almost t

[2022-01-11 16:46] zalakbhalani commented on #547
It will be very helpful to add these arguments to OCRpredictor. Can I work on that?

[2022-01-12 09:05] Rob192 commented on #800
Hello @fg-mindee
Sounds good !

[2022-01-12 16:25] fg-mindee commented on #800
Alright! I won't be able to take a look at this before at least next week, but I consider this to be mandatory for the v0.5.1 patch release. Do you think you could work on PR in the coming days? :pray:

No problem if you can't, we'll postpone the patch release in that case!

[2022-01-14 10:42] alexcailletMonk opened #802 "Cannot train pytorch sar_resnet31 and master recognition model"
### Bug description

We tried to train sar_resnet31 and master with `references/recognition/train_pytorch.py`. In both cases, it doesn't train. Train loss, train val are at 0 and exact and partial match too.
Training works with VGG.

### Code snippet to reproduce the bug

```python train_pytorch.py train_data path val_data_path sar_resnet31 --wb -b 64```
```python train_pytorch.py train_data path

[2022-01-18 14:22] rclarke2050 opened #804 "Unable to run the demo using the main branch"
### Bug description

tried using latest master with streamlit demo as described in intro page.

provided a picture with a UK Car in it, to see if it reads the plate text.  It returned with the following failure.

Strange, i used this 3 months ago, and was totally fine, and the recognition was really good, some how now its simply not working as good, infact alot worse.  I have used the api way, and

[2022-01-18 15:19] fg-mindee commented on #804
Hello @rclarke2050 :wave:

You mentioned a picture in the issue description, but it seems to pasted a code snippet instead of the intended picture :sweat_smile: Would you mind sharing it so that we can debug this?

Also, you mentioned that the environment collection script isn't working with WSL2. Are you positive that you're running Python 3? Because your failure mentions a syntax error on a perf

[2022-01-18 15:23] fg-mindee commented on #783
The reason behind this seems to be because we used release attachments for the picture, and thus we can't use the `raw` URL described in the StackOverFlow thread. I'll check whether there is something to do about this, without having to add the pictures in the git history!

[2022-01-18 15:30] fg-mindee opened #807 "[docs] Document usage of predictors on skewed documents"
As mentioned in https://github.com/mindee/doctr/issues/225#issuecomment-1008197084, even if the latest release provides features to use predictors on skewed documents, it isn't well documented.

I suggest the following:
- either adding more examples in the docstrings of the predictors
- or creating a dedicated section in the documentation
- or perhaps the best option, creating a tutorial notebook

[2022-01-18 16:50] fg-mindee commented on #547
Hi @zalakbhalani :wave:

Thanks for offering to apply the modifications! Since I had a bit of time, I took the liberty of opening #809 that will take care of that :+1:

[2022-01-18 17:34] fg-mindee commented on #602
Overruled by #790

[2022-01-18 17:34] #602 closed

[2022-01-18 19:22] eafaizal commented on #804
Facing similar issue will running via the demo app. The same image works fine with the api and docker set-up. Below is the error along with the environment details.
Tried disabling the GPU and still got the same error message

*************************************************************
$ streamlit run demo/app.py

  You can now view your Streamlit app in your browser.

  Local URL: http://localh

[2022-01-19 08:54] charlesmindee commented on #807
I think we need to improve the docstrings, and it could be good to have a section in the documentation as well!

[2022-01-19 08:56] fg-mindee commented on #804
Hello @eafaizal  @rclarke2050 :wave:

Thanks for your answers, I just found the problem. The problem will be fixed once #810 is merged!

@rclarke2050 also, could you confirm that you cannot run the environment collection script please?

[2022-01-19 09:08] fg-mindee commented on #802
Thanks @alexcailletMonk!

I was just able to reproduce the error, I'll investigate! We haven't spent much time on SAR & MASTER lately because of their latency compared to other architectures, but we want to catch up with the others :ok_hand:

[2022-01-19 12:31] #804 closed

[2022-01-19 15:12] fg-mindee commented on #807
Yes!
Since you're the one who knows this the best, would you mind taking a look at this? :pray:

[2022-01-19 22:57] rclarke2050 commented on #804
i could not execute the environment collection either . Apologies, im not a python developer, but am very interested in your project, normally a c# dev.
happy to provide any more tests, or info upon request.

Thanks for your quick reply and answers. ;-)

[2022-01-26 10:05] Rob192 commented on #800
Hi @fg-mindee, I was busy these past days, I could not get back to you earlier. I pushed the PR #812 to fix this issue !

[2022-02-04 15:56] siamakzd opened #813 "Brew installed packages are not found in Python"
Hello,

I am trying to use doctr on MacOS and installed the extra dependencies through brew. However, when I run your basic doctr code I get errors like:

It seems that brew installs the packages under `/opt/brew/Cellar/` but in Python those packages are looking into `/usr/lib/`.

Do you know of any fix for this problem?

Thanks in Advance!

[2022-02-08 11:31] fg-mindee commented on #804
Hi @rclarke2050,

My apologies for the late reply! No problem at all, my guess is that you have Python 2 on your system, while we designed the library for Python 3. Either way the original problem was fixed :+1:

And if you want to check the demo without having to run it on your own, the live demo is available over here :point_right:  https://huggingface.co/spaces/mindee/doctr

Cheers :v:

[2022-02-08 11:40] fg-mindee commented on #813
Hi @siamakzd :wave:

Thanks for reporting this!
So here are my thoughts on this:
- first option is that there was a simple issue with installing cairo (that our installation procedure didn't work for Mac in general). To check this, could you try to install cairo on your own (cf. https://macappstore.org/cairo/) and run the code snippet again?
- second option is that the above installation will fail

[2022-02-08 12:26] rclarke2050 commented on #804
Hi Mindee,
i am definitely using Python 3.9.7, as shown by the "python --version" statement.

I have recently re-pulled the repo, and everything seems to be as it used to be, working.

thanks for your feedback, and close issue.

[2022-02-08 15:29] nithinreddyy opened #815 "cannot load library 'pango-1.0': error 0x7e. Additionally, ctypes.util.find_library() did not manage to locate a library called 'pango-1.0'"
### Bug description

I installed the library and the GTK project, but it's still throwing an error like

**cannot load library 'pango-1.0': error 0x7e.  Additionally, ctypes.util.find_library() did not manage to locate a library called 'pango-1.0'**

Can anyone let me know the solution?

I'm using python 3.7.x version

### Code snippet to reproduce the bug

`from doctr.models import ocr_predictor`

[2022-02-08 15:34] fg-mindee commented on #815
Hi @nithinreddyy :wave:

Thanks for reporting this! There are a few things missing to identify where this comes from.
Would you mind sending the full traceback please (there should be multiple other lines of error traces before the ones you posted)?

Also, could you run the environment collection script and post the result over here please? :pray:
[code]

[2022-02-08 15:40] nithinreddyy commented on #815
[code]

[2022-02-08 15:51] nithinreddyy commented on #815
After running python collect_env.py, the below is the output

[code]

[2022-02-08 17:25] nithinreddyy commented on #815
It's not even showing in the installed libraries list. Below is the image

<img width="314" alt="Capture" src="https://user-images.githubusercontent.com/56256685/153041741-6fe60a37-83fb-45f1-9d7d-8118a62990b4.PNG">

[2022-02-08 17:39] fg-mindee commented on #815
Thanks for the traceback, it comes from weasyprint then :thinking:
About your last message, I think I wasn't very clear: would you mind running this snippet:
[code]
and paste the exact result of here please? :pray:

[2022-02-09 06:17] nithinreddyy commented on #815
The below is the output

[code]

Why it's showing as DocTR version: N/A? I already installed the library

[2022-02-09 06:18] nithinreddyy commented on #815
Can you please mail me to nithinreddy1677@gmail.com? Here i think it'll take so much time. It'd be helpful.

[2022-02-09 10:33] fg-mindee commented on #815
Hi @nithinreddyy :wave:

Well it's better if we can solve your problem here since it may help others looking for a solution to that :sweat_smile:

It is indeed strange, it seems like you haven't installed docTR yet. Let's try to do this with the latest version:
[code]
or
[code]

Anyway, back to your problem, we need to get `from weasyprint import HTML` to work on your system because this is the so

[2022-02-09 13:34] fg-mindee commented on #815
Oh but then the problem was not on the import, but at the installation step for sure. Have you tried my suggestion of following installation instructions?

[2022-02-09 14:33] charlesmindee commented on #486
pdf2image seems to be easy to use and to integrate, what do you think @fg-mindee ?

[2022-02-09 14:53] fg-mindee commented on #815
According to your previous traceback, the problem definitely comes from weasyprint. You installed the lib, but apparently, the installation isn't working as it should (cf. pango error). Hard for me to help, we're mostly running Linux here and I haven't been able to reproduce your error :/

Perhaps the best thing to do is opening an issue on their repo https://github.com/Kozea/WeasyPrint ?

[2022-02-09 14:54] fg-mindee commented on #486
We should definitely give it a try then. It's MIT license so it's as permissive as it can get :ok_hand:

[2022-02-10 06:05] nithinreddyy commented on #815
Ok

[2022-02-11 17:30] charlesmindee commented on #714
Hi @matthiasmindee, thanks for spotting that. Do you think downgrading the min. Shapely version in the requirements could fix that conflict ?

[2022-02-16 09:39] matthiasmindee commented on #714
Hmm, good question, maybe but if it impedes the performance and only affects me I'm not so sure it's a good idea wdyt @charlesmindee ?

[2022-02-16 09:56] LCMA7 opened #819 "Inconsistent references when loading the checkpoint"
### Bug description

Hi,

I want to use the recognition_predictor but I get some errors when loading it.
I tested my code on a Colaboratory notebook so the environnement is clean.
Here is my code :

`!pip install "python-doctr[tf]"`

and then

[code]

but I get :
[code]

I tried also with the master model, but I get the same kind of warnings.

### Code snippet to reproduce the bug

[code]

### Err

[2022-02-16 13:21] charlesmindee commented on #486
Hi @madisonmay, after a lot of investigation it seems that there is no python library to render pdf to images without using [poppler](https://poppler.freedesktop.org/) (`pdf2image`) or [ghostscript](https://www.ghostscript.com/) (`pdfplumber`). All other libraries that are license-compatible such as` pdfminer.six`, `pikepdf`, `PyPDF2 ` don't have any option to render pdf pages to images. If you kn

[2022-02-16 14:01] madisonmay commented on #486
Hi @charlesmindee, thank you for the ping.  I think we may have recently found a decent option for this niche (at least for pdf to image rendering)!  Checkout PyPDFium2 ([PyPI](https://pypi.org/project/pypdfium2/), [Github](https://github.com/pypdfium2-team/pypdfium2)) -- haven't done a full benchmark but anecdotally seems quite fast and is Apache-2.0.  You'd still need something else for text ext

[2022-02-18 18:32] fg-mindee commented on #813
Any update @siamakzd? :)

[2022-02-21 10:09] fg-mindee commented on #819
Hi @LCMA7 :wave:

Those are only warnings, and we do experience that on a few models. It's hard to get to the bottom of this, as PyTorch doesn't operate the same way. In a nutshell, TensorFlow does Lazy initialization by default (meaning the kernel are not initialized when you instantiate the model, but after the first forward pass)

So when we load the checkpoint into the model, if some kernels a

[2022-02-23 17:10] fg-mindee commented on #802
Hi @alexcailletMonk :wave:

Quick update on this with ongoing & incoming PRs:
- [ ] #831
- [ ] Fixing MASTER implementation in PyTorch

[2022-02-24 09:55] charlesmindee commented on #113
So now with #829 we are just missing `weasyprint`, right @fg-mindee ?

[2022-02-24 11:26] fg-mindee commented on #113
Nope, pypdfium2 also lacks support of a conda installation. But that could be fixed, I'll ping them about this!
However, having `doctr.io.pdf` and `doctr.io.html` as extras, would do the trick :+1:

And I think we should seriously consider that: especially for HTML, it's more about people in need of training data, so I would argue that most users don't benefit from weasyprint (which is a problem f

[2022-02-24 11:33] fg-mindee commented on #113
I just checked and weasyprint does have a conda build now :raised_hands:
https://anaconda.org/conda-forge/weasyprint

(But I still think we should move it to extra builds)

[2022-02-24 15:06] fg-mindee commented on #443
Just to confirm @charlesmindee, we can close this right?

[2022-02-24 15:06] fg-mindee commented on #807
ping @charlesmindee :pray: (trying to review things that we marked for the `0.5.1`)

[2022-02-24 15:43] fg-mindee commented on #486
FYI, pypdfium is incompatible with Python 3.8.1 (but no problem with 3.7, or 3.8.10+ so far)
The docker job (which was using Python 3.8.1) was failing, I just updated the PR

[2022-02-24 16:27] #486 closed

[2022-02-25 17:21] fg-mindee commented on #426
Hello everyone :wave:

As discussed offline, here are the next steps:
- [ ] Adding a basic checkpoint loading mechanism using HF Hub (#836)
- [ ] Configuring an integration for this model
- [ ] Extend this to other types of models
- [ ] Provide guidance/tutorial to the community for them to use Hub models or share theirs over there

Any suggestions is welcome :hugs:

[2022-02-25 17:33] felixdittrich92 commented on #426
This is a super extension 🤗
It's even more fun if you can share your models with the community 😃

[2022-03-05 10:52] max-kalganov opened #840 "[datasets] Targets are modified inplace"
### Bug description

**Targets** are being changed when iterating over some dataset more than one time.
The reason is storing targets in self.data, and changing them in the `__getitem__` ***in place*** using `pre_transforms`, etc.
[code]

This can be fixed by copying target in the `_read_sample`
[code]

**OR** returning a copy of the target in all transform methods.
[code]

### Code snippet to rep

[2022-03-07 08:45] devendrapal5755 opened #841 "Line resolution isn't working on table-like structures"
### 🚀 The feature

I have extract word by line , because when i am using block and then line part faced issues some word will not sequence wise.

### Motivation, pitch

word in proper sequence order require

### Alternatives

_No response_

### Additional context

_No response_

[2022-03-07 11:28] fg-mindee commented on #714
Hey there :wave:

From what I gather here, specifically on Windows env, we need to exclude some versions of shapely?
If so, especially if only the version specifier modification isn't too heavy, and it's compatible on other OS, we could probably update the base requirements :)

What do you think?
@matthiasmindee did you manage to find a version of shapely that allowed you to install the library pr

[2022-03-07 12:05] fg-mindee commented on #841
Hi @devendrapal5755 :wave:

I'm sorry, I'm not sure I understand your problem here. Do you mean that the words are not ordered correctly in lines & blocks in your predictions?

Either way, could you share a minimal snippet to reproduce this behaviour (and the document/page you performed the inference on) please? This would allow us to reproduce this and investigate :pray:

[2022-03-07 12:14] fg-mindee commented on #840
Hi @max-kalganov :wave:

Thanks for reporting this!
Reading your snippets, if you implemented an inplace transform and pass it to the dataset, this will indeed modify the source target. But so far, it's up to the developer. However, you mention a change of target, but your `process_image` is only changing the image. Could you elaborate on your snippet so that it prints / highlight the part where t

[2022-03-08 17:24] charlesmindee commented on #807
I'll do that tomorrow morning!

[2022-03-09 19:43] max-kalganov commented on #840
Hi @fg-mindee

Thanks for the fast response! :)
I will try to explain my case in a slightly different way.

1. *Reading your snippets, if you implemented an inplace transform and pass it to the dataset, this will indeed modify the source target.* - `convert_target_to_relative` is ***not*** my code. I have found it in the doctr [sources](https://github.com/mindee/doctr/blob/e5ca2d536864ccff1460ede9

[2022-03-10 08:47] dvivarelli opened #847 "Doctr api doc error on docker"
### Bug description

I have cloned the project and build the image with docker compose and tried to open the documentation at http://localhost:8002/redoc but the page remains in loading.

I have checked the network tab on chrome and I saw an error:

GET http://localhost:8002/openapi.json
[code]

### Code snippet to reproduce the bug

--

### Error traceback

[code]

### Environment

image built wi

[2022-03-10 09:45] fg-mindee commented on #847
Hi there @dvivarelli :wave:

Thanks for reporting this! Let's try to tackle this:
- I just tried with the latest version of the repo, and had no problem accessing the documentation. Did you follow the steps in https://github.com/mindee/doctr/tree/main/api/README.md ? (after pulling the latest version)
- you didn't fill the code snippet used to produce this, would you mind editing this so that I ca

[2022-03-10 10:19] fg-mindee commented on #840
Hey there :wave:

I'll try to answer all your points:

- first, I'll have to say: if there is an issue with existing datasets, we wouldn't have spotted it. The reason behind this is that all our training datasets are already in relative coords, and the ones using the relative coord conversion, are datasets we use for test (we only iterate once on it). So it's very possible that there is an issue s

[2022-03-10 10:53] fg-mindee commented on #841
Any update @devendrapal5755 ? :)

[2022-03-10 10:54] fg-mindee commented on #815
Hi @nithinreddyy :wave:

Did you manage to get an answer to your problem? :)

[2022-03-10 10:55] fg-mindee commented on #813
Hello @siamakzd :wave:

Did you manage to solve your problem?

[2022-03-10 11:01] devendrapal5755 commented on #841
LEASE DEED Rs- 5,50,500- Rs- 8,25,000-
Premum Stamp Duty Paid On
Lease Rent Rs- 32,550- Stamp Duty: Rs- 41,250-
THIS STAMP PAPER ATTACHED WITH LEASE DEED FOR RESIDENTIAL BUILT UP HOUSE/FLAT NO- 376 First Floor), SECTOR-OMICRON 1A, AREA-31 Se Mtr VIDE ALLOTMENT NO. BHS1088303 ALLOTTED BY GREATER NOIDA INDUSTRIAL DEVELOPMENT AUTHORITY, DISTT, GAUTAM BUDH NAGAR. (U.P.) ALLOTTEE NAME IS SH. RAJV KUMAR

[2022-03-10 11:03] devendrapal5755 commented on #841
you can see model consider block - The lees deed and Rs-5,50,000/- same as premium stamp duty paid now .
Actually i want same as it in image .

[2022-03-10 11:05] nithinreddyy commented on #815
No.

[2022-03-10 14:11] siamakzd commented on #813
Hello @fg-mindee

I moved to Ubuntu and was able to install everything.

For future reference, one of the dependencies (mupdf) only works on Python >= 3.8, and won't work on the default Python 3.6.

[2022-03-10 14:14] #813 closed

[2022-03-10 14:39] fg-mindee commented on #443
ping @charlesmindee :pray:

[2022-03-10 14:45] fg-mindee commented on #554
@charlesmindee would you mind taking a look at integrating your implementation in docTR for release 0.6.0? :pray:
(no hurry for now)

[2022-03-10 14:46] fg-mindee commented on #714
Any update @matthiasmindee ? :)

[2022-03-11 08:54] #840 closed

[2022-03-12 11:40] devendrapal5755 opened #852 "ImportError: cannot import name 'db_resnet50_rotation' from 'doctr.models.detection'"
### Bug description

facing to import 'doctr.models.detection ,
 abele to import  others detection model but cant import db_resnet50_rotation

### Code snippet to reproduce the bug

### Error traceback

everything is perfect, but now facing this issues from last 5 days before it was working

### Environment

na

[2022-03-12 18:51] felixdittrich92 commented on #852
@devendrapal5755
Do you have installed both tf and pt ? If yes please check that pt is used :) (export USE_PT=1)

[2022-03-14 18:27] fg-mindee commented on #852
Hello @devendrapal5755 :wave:

Thanks for reporting this! Let's get to the bottom of this:
- first, you mentioned that the import causes an error. It's always useful to paste the full traceback for us to debug :)
- as suggested by the bug report template, in most cases, this type of problem comes from an environment issue. But you didn't provide your environment setup (there is a script just for t

[2022-03-15 11:46] Bhanu068 opened #854 "Pretrained model checkpoint for SAR and MASTER in pytorch"
### Bug description

I could see that pretrained checkpoint is available for tensorflow version of the SAR and MASTER recogniton models but not for pytorch version. How can I get the pretrained checkpoint for pytorch version?

### Code snippet to reproduce the bug

None

### Error traceback

None

### Environment

pytorch

[2022-03-15 12:54] felixdittrich92 commented on #854
Hi @Bhanu068 :wave: ,

take a look at #576  :)

[2022-03-15 21:30] felixdittrich92 opened #855 "[datasets/benchmark] Improve research use"
### 🚀 The feature

This request can be split into three parts:

- [x] ensure that any already integrated dataset which has the information (boxes & text labels) to be used for the recognition task can also be used for this (crop boxes with corresponding labels)
- [x] add a section in the documentation (like models) for datasets (also split into detection / recognition)
- [x] integrate a script for

[2022-03-16 06:55] devendrapal5755 commented on #852
Thank You.  I understand and resolved it.

[2022-03-16 09:26] fg-mindee commented on #852
Glad it helped! @devendrapal5755 would you mind sharing what the issue was? :)

[2022-03-16 09:26] #852 closed

[2022-03-16 09:47] devendrapal5755 commented on #852
I faced error due to install like - 1-git clone https://github.com/mindee/doctr.git
                                                    2-pip install -e doctr/.
                                                    3-pip install -e doctr/.[torch]
now i simply installed by - !pip install python-doctr[torch]
                                            !pip install -e git+https://github.com/mindee/doct

[2022-03-16 15:09] fharper commented on #480
Will try, thanks!

[2022-03-17 16:33] fg-mindee opened #863 "[models] Pretrained artefact detection model isn't that robust"
The current pretrained artefact detection model was trained on a fully synthetic dataset. While this comes with several advantages, the dataset has a distribution that is still a bit far off from real-world data.

This is almost a product question but users can either use this on:
- source PDF/documents
- scanned documents
- pictures of documents

While the model performs quite well on the first t

[2022-03-18 14:49] felixdittrich92 commented on #729
closed by #857

[2022-03-18 14:49] #729 closed

[2022-03-18 14:58] fg-mindee commented on #854
Hi @Bhanu068 :)

As mentioned by Felix, we are trying to fix this currently! There are other issues already opened on that matter, so if you agree that #576 already expresses your request, perhaps we could close this one here to avoid duplication :ok_hand:
Would that be OK with you?

[2022-03-19 20:53] rishabhshah13 commented on #815
I managed to solve this issue by the following steps, this is for windows 10, python 3.9.1

1. Install **gtk3-runtime-3.24.14-2020-02-21-ts-win64.exe** version (https://github.com/tschoonj/GTK-for-Windows-Runtime-Environment-Installer/releases/download/2020-02-21/gtk3-runtime-3.24.14-2020-02-21-ts-win64.exe)
2.  Download **harfbuzz-4.0.1** (https://github.com/harfbuzz/harfbuzz/releases/download/4.

[2022-03-20 13:05] fg-mindee commented on #815
Thanks for reporting that @rishabhshah13 :pray:
@nithinreddyy this might be worth a try perhaps?

[2022-03-20 13:28] nithinreddyy commented on #815
Will try and let you know.

[2022-03-20 14:54] nithinreddyy commented on #815
It's returning the same error.

[2022-03-20 15:06] rishabhshah13 commented on #815
@nithinreddyy Install different versions of GTK3 and check which on works for you

[2022-03-20 15:09] nithinreddyy commented on #815
Where can i get the different versions? Please let me know if you have any idea.

[2022-03-20 15:16] rishabhshah13 commented on #815
https://github.com/tschoonj/GTK-for-Windows-Runtime-Environment-Installer/releases

[2022-03-24 15:32] karnsaurabhkumar opened #868 "Classify blocks as handwritten or printed text"
### 🚀 The feature

It would be good to have a classifier internally which can distinguish blocks as handwritten or printed text. This is useful because most of the documents that I have seen has both the elements and while sometimes handwritten is important that the treatment of handwritten data is done differently than printed text data.

### Motivation, pitch

I am working on extracting text fro

[2022-03-25 19:11] bennetrr opened #872 "Export as PDF/A"
### 🚀 The feature

A function in the Document class or something that allows you to save the original document with the OCR to a PDF/A file

### Motivation, pitch

There is this [notebook](https://github.com/mindee/notebooks/blob/main/doctr/export_as_pdfa.ipynb), but we have to define our own parser and so on, and that's a lot of code to write and maintain even though we don't know much about it.

[2022-03-27 18:01] felixdittrich92 commented on #872
Link: #869

[2022-03-29 14:23] charlesmindee commented on #788
Closing this since the released has been done

[2022-03-29 19:43] felixdittrich92 commented on #788
@charlesmindee
pin sar/master fix to 0.6.0 ? :)

[2022-03-30 21:01] as-stevens opened #877 "Mode inference error on GPU/cuda"
Hi All,

I am trying to load the model and prediction using the below code;
[code]

I am getting the below error;

`RuntimeError: Input type (torch.FloatTensor) and weight type (torch.cuda.FloatTensor) should be the same or input should be a MKLDNN tensor and weight is a dense tensor`

Any idea what is wrong, I have Nvidia RTX A6000 GPU, with cuda installed.

Thanks

[2022-03-30 21:42] Ryul0rd commented on #877
Are you using DocTR version 0.5.1? I came across this issue while I was still on 0.5.0 and updating fixed it.

[2022-03-30 22:42] as-stevens commented on #877
I have been able to fix this;
converted the tensor to tensor cuda as below
[code]
@Ryul0rd the above solution fixed my issue.

[2022-03-30 22:42] #877 closed

[2022-03-31 07:24] calibretaliation opened #879 "Can I add some vocabs of Vietnamese to VOCABS file ?"
### 🚀 The feature

I have added vietnamese vocabs for VNese devs like me to use doctr better, following this issue: https://github.com/mindee/doctr/pull/464#pullrequestreview-752843039
This is my pull request, please review it.

### Motivation, pitch

I am very appreciate and congrats on your great work. This package will help me alot in my work :) However, I am working on Vietnamese OCR, so Vietn

[2022-04-04 08:53] dvivarelli opened #884 "Error on np.ndarray transpose method"
### Bug description

when i put assume_straight_pages = False i receive an error.
The error seems to be in dotr/models/_utils.py extract_rcrops
cv2.warpAffine(
            img if channels_last else img.transpose(1, 2, 0),  <-- on this line
            # Transformation matrix
            cv2.getAffineTransform(src_pts[idx], dst_pts[idx]),
            (int(d1[idx]), int(d2[idx])),
        )

### Cod

[2022-04-04 21:11] Ankush2k commented on #847
Process to replicate the issue as I faced this as well,

1. cloning the repo-
![Screenshot 2022-04-05 at 2 14 12 AM](https://user-images.githubusercontent.com/34794620/161631719-7a5cc868-7f22-4490-a122-8346ab29b32c.png)

2. Using the command mentioned in above readme provided, PORT=8002
![Screenshot 2022-04-05 at 2 14 12 AM](https://user-images.githubusercontent.com/34794620/161632051-4a9ba392-858

[2022-04-05 14:18] felixdittrich92 commented on #789
@charlesmindee  classification complete :+1:

[2022-04-05 15:55] fxfabre commented on #847
I have the exact same error.
I can remove the error, at least to display the openapi doc by :
- removing `response_model=List[DetectionOut]` in routes/detection.py
- removing `response_model=List[OCROut]` in routes/ocr.py

It is not a valid solution, just an hint to try to find a correct solution. Seems to be an issue with `pydantic`

[2022-04-05 19:23] Xargonus commented on #879
Hey, I am in a similar situation, but in my case, I need a model for Czech. I found the advice they gave to someone who wanted to train the text recognition model in Spanish useful https://github.com/mindee/doctr/discussions/565.

[2022-04-05 19:40] Xargonus opened #886 ""Universal" European text recognition model."
### 🚀 The feature

Train a model on a vocabulary that subsumes all of the similar European languages (German, French, Portuguese, Spanish, Czech, Polish, etc.) These languages only differ in a few letters.

### Motivation, pitch

In all kinds of real-world texts, names from different languages appear, for example, a German text could contain French names.

### Alternatives

_No response_

### Addi

[2022-04-06 20:08] felixdittrich92 commented on #886
Hi @Xargonus ,

sounds really interesting 👍
I think it would be really hard to train a model on some vocabular with a lot of some similar characters.
But i can be wrong so give it a try. The main question would be where to get data /lots of data (in best case real and balanced 😅 ). Feel free to share your ideas 😄 For your interest there is currently a wordgenerator implemented but it needs some im

[2022-04-06 20:14] felixdittrich92 commented on #879
@charlesmindee
Can be closed ? :)

[2022-04-06 20:15] felixdittrich92 commented on #872
@frgfm
Advice from your side ? :)

[2022-04-06 20:22] bennetrr commented on #872
We can give you the PDF where the problems occur, but it takes some time because we have to ask the owners first. We deleted all information, so they should be fine I think

[2022-04-08 11:06] dvivarelli commented on #884
it works if chage the line in this way:
`            img if channels_last else img.transpose(0, 2).transpose(0, 1).numpy() `

[2022-04-10 04:04] kiko0217 commented on #879
just simple, transfer learning maybe can be solution. edit little in end layer and then learning the model with your custom data.

[2022-04-13 11:56] #879 closed

[2022-04-13 11:59] charlesmindee commented on #868
We are internally working on handwritten text recognition, it could indeed useful to work as well on a classifier to determine the type of the text above the text recognition model.

[2022-04-13 12:10] charlesmindee commented on #884
Hi @dvivarelli, I can't reproduce the bug locally when running
[code]
on different images. Can you attach the image on which it doesn't work to this issue ? Otherwise, if it doesn't come from an edge-case image it may come from the environment (openCV version, etc...)

[2022-04-20 10:11] Jimchoo91 opened #894 "Issue when exporting as XML"
When I try to use the result.export_as_xml() method, I receive the below error:

[code]

Is this recognised? thanks.

[2022-04-20 10:41] felixdittrich92 commented on #894
Hi @Jimchoo91 :wave: ,

Which version do you use ? :)
I have tested it with the current main branch and cannot reproduce this issue

[2022-04-20 15:29] Jimchoo91 commented on #894
Thanks that worked!

[2022-04-21 08:46] zas97 opened #895 "Crop intersecting bounding boxes to improve precision"
### 🚀 The feature

The "detector" inside the ocr_predictor often generates bounding boxes that intersect with each other horizontally, see examples :
![image](https://user-images.githubusercontent.com/7695785/164413259-5353e7a1-e421-49d7-9512-e513677821d9.png)
![image](https://user-images.githubusercontent.com/7695785/164413351-8e0b4388-b0a1-4915-9360-91b918723aa7.png)
![image](https://user-images